{
    "openapi": "3.1.0",
    "info": {
        "title": "apicbase (Read-Only)",
        "version": "2"
    },
    "servers": [
        {
            "url": "https://api.apicbase.com/api/v2/"
        }
    ],
    "security": [
        {
            "sec0": []
        }
    ],
    "paths": {
        "/accounts/users/": {
            "get": {
                "summary": "Get Users",
                "description": "Gets a list of all users with access to the library, and their permissions.",
                "operationId": "get-users",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "description": "A page number within the paginated result set. Starts at 1",
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Result": {
                                        "value": {
                                            "count": 2,
                                            "next": null,
                                            "previous": null,
                                            "results": [
                                                {
                                                    "url": "https://app.apicbase.com/api/v2/accounts/users/336310664030008/",
                                                    "id": "336310664030008",
                                                    "username": "john.doe@gmail.com",
                                                    "first_name": "John",
                                                    "last_name": "Doe",
                                                    "created_date": "2023-09-07T14:27:06Z",
                                                    "permissions": null,
                                                    "outlet_user": false
                                                },
                                                {
                                                    "url": "https://app.apicbase.com/api/v2/accounts/users/336900440610001/",
                                                    "id": "336900440610001",
                                                    "username": "darth.vader@apicbase.com",
                                                    "first_name": "Darth",
                                                    "last_name": "Vader",
                                                    "created_date": "2022-10-21T13:18:02Z",
                                                    "permissions": {
                                                        "library_user_permission_set": {
                                                            "apic_admin": true,
                                                            "global_write": true,
                                                            "global_delete": true,
                                                            "global_fcc": true
                                                        },
                                                        "inventory_count_event_permission_set": {
                                                            "write": true,
                                                            "edit": true,
                                                            "open": true,
                                                            "edit_finalized_event": true,
                                                            "delete": true
                                                        },
                                                        "inventory_waste_management_event_permission_set": {
                                                            "write": true,
                                                            "edit_finalized_event": true,
                                                            "delete": true
                                                        },
                                                        "stock_item_inventory_permission_set": {
                                                            "write": true,
                                                            "delete": true
                                                        },
                                                        "inventory_preparation_event_permission_set": {
                                                            "write": true,
                                                            "edit_finalized_event": true,
                                                            "delete": true
                                                        },
                                                        "inventory_move_event_permission_set": {
                                                            "write": true,
                                                            "edit_finalized_event": true,
                                                            "delete": true
                                                        },
                                                        "sales_permission_set": {
                                                            "sales_analytics": true,
                                                            "manual_sales": true,
                                                            "pos_connection": true,
                                                            "edit_finalized_event": true,
                                                            "delete": true
                                                        },
                                                        "library_menu_permission_set": {
                                                            "edit": true
                                                        },
                                                        "library_ingredient_permission_set": {
                                                            "edit": true,
                                                            "allergen_verification": true
                                                        },
                                                        "library_recipe_permission_set": {
                                                            "edit": true
                                                        },
                                                        "production_plan_permission_set": {
                                                            "write": true,
                                                            "do_production_plan": true
                                                        },
                                                        "task_permission_set": {
                                                            "write": true,
                                                            "do_task": true
                                                        },
                                                        "traceability_permission_set": {
                                                            "edit_log_items": true
                                                        },
                                                        "purchase_order_permission_set": {
                                                            "create": true,
                                                            "send": true,
                                                            "draft_receive": true,
                                                            "receive": true,
                                                            "update_price": true,
                                                            "manage_list": true,
                                                            "edit_closed_orders": false
                                                        },
                                                        "internal_order_permission_set": {
                                                            "pick": true,
                                                            "ship": true,
                                                            "edit_closed_orders": false
                                                        },
                                                        "media_permission_set": {
                                                            "write": true,
                                                            "image_upload": true
                                                        }
                                                    },
                                                    "outlet_user": false
                                                }
                                            ]
                                        }
                                    }
                                },
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "count": {
                                            "type": "integer",
                                            "example": 2,
                                            "default": 0
                                        },
                                        "next": {},
                                        "previous": {},
                                        "results": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "url": {
                                                        "type": "string",
                                                        "example": "https://app.apicbase.com/api/v2/accounts/users/336310664030008/"
                                                    },
                                                    "id": {
                                                        "type": "string",
                                                        "example": "336310664030008"
                                                    },
                                                    "username": {
                                                        "type": "string",
                                                        "example": "john.doe@gmail.com"
                                                    },
                                                    "first_name": {
                                                        "type": "string",
                                                        "example": "John"
                                                    },
                                                    "last_name": {
                                                        "type": "string",
                                                        "example": "Doe"
                                                    },
                                                    "created_date": {
                                                        "type": "string",
                                                        "example": "2023-09-07T14:27:06Z"
                                                    },
                                                    "permissions": {},
                                                    "outlet_user": {
                                                        "type": "boolean",
                                                        "example": false,
                                                        "default": true
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/accounts/users/{user_id}/": {
            "get": {
                "summary": "Get User Details",
                "description": "Gets information about a specific user in the library.",
                "operationId": "get-user-details",
                "parameters": [
                    {
                        "name": "user_id",
                        "in": "path",
                        "description": "A user's ID.",
                        "schema": {
                            "type": "string"
                        },
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Result": {
                                        "value": "{\n \"url\": \"https://app.apicbase.com/api/v2/accounts/users/336900440610001/\",\n \"id\": \"336900440610001\",\n \"username\": \"darth.vader@apicbase.com\",\n \"first_name\": \"Darth\",\n \"last_name\": \"Vader\",\n \"created_date\": \"2022-10-21T13:18:02Z\",\n \"active_outlet\": \"536010648730003\",\n\t\t\"is_beta_access_active\": false,\n \"permissions\": {\n \"library_user_permission_set\": {\n \"apic_admin\": true,\n \"global_write\": true,\n \"global_delete\": true,\n \"global_fcc\": true\n },\n \"inventory_count_event_permission_set\": {\n \"write\": true,\n \"edit\": true,\n \"open\": true,\n \"edit_finalized_event\": true,\n \"delete\": true\n },\n \"inventory_waste_management_event_permission_set\": {\n \"write\": true,\n \"edit_finalized_event\": true,\n \"delete\": true\n },\n \"inventory_set_min_and_par_permission_set\": {\n \"write\": true\n },\n \"inventory_preparation_event_permission_set\": {\n \"write\": true,\n \"edit_finalized_event\": true,\n \"delete\": true\n },\n \"inventory_move_event_permission_set\": {\n \"write\": true,\n \"edit_finalized_event\": true,\n \"delete\": true\n },\n \"sales_permission_set\": {\n \"sales_analytics\": true,\n \"manual_sales\": true,\n \"pos_connection\": true,\n \"edit_finalized_event\": true,\n \"delete\": true\n },\n \"library_menu_permission_set\": {\n \"edit\": true\n },\n \"library_ingredient_permission_set\": {\n \"edit\": true,\n \"allergen_verification\": true\n },\n \"library_recipe_permission_set\": {\n \"edit\": true\n },\n \"production_plan_permission_set\": {\n \"write\": true,\n \"do_production_plan\": true\n },\n \"task_permission_set\": {\n \"write\": true,\n \"do_task\": true\n },\n \"traceability_permission_set\": {\n \"edit_log_items\": true\n },\n \"purchase_order_permission_set\": {\n \"create\": true,\n \"send\": true,\n \"draft_receive\": true,\n \"receive\": true,\n \"update_price\": true,\n \"manage_list\": true,\n \"edit_closed_orders\": false\n },\n \"internal_order_permission_set\": {\n \"pick\": true,\n \"ship\": true,\n \"edit_closed_orders\": false\n },\n \"media_permission_set\": {\n \"write\": true,\n \"image_upload\": true\n }\n },\n \"outlet_user\": false\n}"
                                    }
                                }
                            }
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/accounts/outlets/": {
            "get": {
                "summary": "Get Outlets",
                "description": "Gets a list of outlets in the library, complete with information about them.",
                "operationId": "get-outlets",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "description": "A page number within the paginated result set.",
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "ordering",
                        "in": "query",
                        "description": "A field to order results by.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "name",
                        "in": "query",
                        "description": "An outlet name to query on.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "query",
                        "name": "custom_fields",
                        "schema": {
                            "type": "string"
                        },
                        "description": "Filter on custom fields. Check reference guide for details."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Result": {
                                        "value": {
                                            "count": 3,
                                            "next": null,
                                            "previous": null,
                                            "results": [
                                                {
                                                    "name": "Brussel",
                                                    "id": "829100725420008",
                                                    "url": "https://app.apicbase.com/api/v2/accounts/outlets/829100725420008/",
                                                    "billing_contact": null,
                                                    "internal_supplier_outlet": {
                                                        "id": "125040526960005",
                                                        "url": "https://app.apicbase.com/api/v2/suppliers/525220818060002/",
                                                        "first_name": "Peppa",
                                                        "last_name": "Pig",
                                                        "phone": "",
                                                        "email": null,
                                                        "supplier_email_list": [
                                                            "peppa.pig@apicbase.com"
                                                        ],
                                                        "street": "",
                                                        "number": null,
                                                        "postal_code": "",
                                                        "city": "",
                                                        "country": null
                                                    },
                                                    "custom_fields": [
                                                        {
                                                            "name": "Multi Choice Field",
                                                            "value": [
                                                                "Choice 1",
                                                                "Choice 3"
                                                            ]
                                                        },
                                                        {
                                                            "name": "Free Text Field",
                                                            "value": "I type this freely"
                                                        }
                                                    ],
                                                    "timezone": null,
                                                    "description": null,
                                                    "procurement_contact": {
                                                        "first_name": "Luke",
                                                        "last_name": "Skywalker",
                                                        "phone": null,
                                                        "email": "luke.skywalker@apicbase.com"
                                                    },
                                                    "contact": {
                                                        "company_name": "Baby Shark",
                                                        "first_name": "Baby",
                                                        "last_name": "Shark",
                                                        "avatar": "https://cdn-staging.apicbase.com/apicbase/images/avatar.png",
                                                        "telephone": null,
                                                        "mobile": null,
                                                        "email": "baby.shark@apicbase.com"
                                                    },
                                                    "external_name": null
                                                },
                                                {
                                                    "name": "Gent",
                                                    "id": "729100535470009",
                                                    "url": "https://staging.apicbase.com/api/v2/accounts/outlets/729100535470009/",
                                                    "billing_contact": null,
                                                    "internal_supplier_outlet": null,
                                                    "timezone": null,
                                                    "description": null,
                                                    "procurement_contact": {
                                                        "first_name": "",
                                                        "last_name": "",
                                                        "phone": null,
                                                        "email": null,
                                                        "supplier_email_list": []
                                                    },
                                                    "contact": {
                                                        "company_name": "",
                                                        "first_name": "",
                                                        "last_name": "",
                                                        "avatar": "https://cdn-staging.apicbase.com/apicbase/images/avatar.png",
                                                        "telephone": null,
                                                        "mobile": null,
                                                        "email": null
                                                    },
                                                    "external_name": null
                                                },
                                                {
                                                    "name": "Antwerpen",
                                                    "id": "229100415400002",
                                                    "url": "https://staging.apicbase.com/api/v2/accounts/outlets/229100415400002/",
                                                    "billing_contact": null,
                                                    "internal_supplier_outlet": null,
                                                    "timezone": null,
                                                    "description": null,
                                                    "procurement_contact": {
                                                        "id": "725220408070004",
                                                        "first_name": "",
                                                        "last_name": "",
                                                        "phone": null,
                                                        "email": null,
                                                        "supplier_email_list": []
                                                    },
                                                    "contact": {
                                                        "company_name": "",
                                                        "first_name": "",
                                                        "last_name": "",
                                                        "avatar": "https://cdn-staging.apicbase.com/apicbase/images/avatar.png",
                                                        "telephone": null,
                                                        "mobile": null,
                                                        "email": null
                                                    },
                                                    "external_name": null
                                                }
                                            ]
                                        }
                                    }
                                },
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "count": {
                                            "type": "integer",
                                            "example": 3,
                                            "default": 0
                                        },
                                        "next": {},
                                        "previous": {},
                                        "results": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "name": {
                                                        "type": "string",
                                                        "example": "Brussel"
                                                    },
                                                    "id": {
                                                        "type": "string",
                                                        "example": "829100725420008"
                                                    },
                                                    "url": {
                                                        "type": "string",
                                                        "example": "https://app.apicbase.com/api/v2/accounts/outlets/829100725420008/"
                                                    },
                                                    "billing_contact": {},
                                                    "internal_supplier_outlet": {
                                                        "type": "object",
                                                        "properties": {
                                                            "id": {
                                                                "type": "string",
                                                                "example": "125040526960005"
                                                            },
                                                            "url": {
                                                                "type": "string",
                                                                "example": "https://app.apicbase.com/api/v2/suppliers/525220818060002/"
                                                            },
                                                            "first_name": {
                                                                "type": "string",
                                                                "example": "Peppa"
                                                            },
                                                            "last_name": {
                                                                "type": "string",
                                                                "example": "Pig"
                                                            },
                                                            "phone": {
                                                                "type": "string",
                                                                "example": ""
                                                            },
                                                            "email": {},
                                                            "supplier_email_list": {
                                                                "type": "array",
                                                                "items": {
                                                                    "type": "string",
                                                                    "example": "peppa.pig@apicbase.com"
                                                                }
                                                            },
                                                            "street": {
                                                                "type": "string",
                                                                "example": ""
                                                            },
                                                            "number": {},
                                                            "postal_code": {
                                                                "type": "string",
                                                                "example": ""
                                                            },
                                                            "city": {
                                                                "type": "string",
                                                                "example": ""
                                                            },
                                                            "country": {}
                                                        }
                                                    },
                                                    "timezone": {},
                                                    "description": {},
                                                    "procurement_contact": {
                                                        "type": "object",
                                                        "properties": {
                                                            "first_name": {
                                                                "type": "string",
                                                                "example": "Luke"
                                                            },
                                                            "last_name": {
                                                                "type": "string",
                                                                "example": "Skywalker"
                                                            },
                                                            "phone": {},
                                                            "email": {
                                                                "type": "string",
                                                                "example": "luke.skywalker@apicbase.com"
                                                            }
                                                        }
                                                    },
                                                    "contact": {
                                                        "type": "object",
                                                        "properties": {
                                                            "company_name": {
                                                                "type": "string",
                                                                "example": "Baby Shark"
                                                            },
                                                            "first_name": {
                                                                "type": "string",
                                                                "example": "Baby"
                                                            },
                                                            "last_name": {
                                                                "type": "string",
                                                                "example": "Shark"
                                                            },
                                                            "avatar": {
                                                                "type": "string",
                                                                "example": "https://cdn-staging.apicbase.com/apicbase/images/avatar.png"
                                                            },
                                                            "telephone": {},
                                                            "mobile": {},
                                                            "email": {
                                                                "type": "string",
                                                                "example": "baby.shark@apicbase.com"
                                                            }
                                                        }
                                                    },
                                                    "external_name": {}
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/accounts/outlets/{outlet_id}/": {
            "get": {
                "summary": "Get Outlet Details",
                "description": "Gets information about a specific outlet in the library.",
                "operationId": "get-outlet-details",
                "parameters": [
                    {
                        "name": "outlet_id",
                        "in": "path",
                        "description": "An outlet's ID.",
                        "schema": {
                            "type": "string"
                        },
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Result": {
                                        "value": {
                                            "name": "Brussel",
                                            "id": "829100725420008",
                                            "url": "https://staging.apicbase.com/api/v2/accounts/outlets/829100725420008/",
                                            "billing_contact": null,
                                            "recipes": [
                                                {
                                                    "id": "349980442190000",
                                                    "name": "Spaghetti Bolognese",
                                                    "name_translations": {}
                                                }
                                            ],
                                            "external_name": null,
                                            "internal_supplier_outlet": {
                                                "id": "125040526960005",
                                                "url": "https://app.apicbase.com/api/v2/suppliers/525220818060002/",
                                                "first_name": "Peppa",
                                                "last_name": "Pig",
                                                "phone": "",
                                                "email": null,
                                                "supplier_email_list": [
                                                    "peppa.pig@apicbase.com"
                                                ],
                                                "street": "Rue de la Loi",
                                                "number": "1",
                                                "postal_code": "1000",
                                                "city": "Bruxelles",
                                                "country": "Belgium"
                                            },
                                            "timezone": null,
                                            "description": null,
                                            "procurement_contact": {
                                                "id": "225040036980003",
                                                "first_name": "Luke",
                                                "last_name": "Skywalker",
                                                "phone": null,
                                                "email": "luke.skywalker@apicbase.com",
                                                "supplier_email_list": []
                                            },
                                            "contact": {
                                                "full_name": "Baby Shark",
                                                "first_name": "Baby",
                                                "last_name": "Shark",
                                                "avatar": "https://cdn-staging.apicbase.com/apicbase/images/avatar.png",
                                                "telephone": null,
                                                "mobile": null,
                                                "email": "baby.shark@apicbase.com"
                                            },
                                            "custom_fields": [
                                                {
                                                    "name": "Multi Choice Field",
                                                    "value": [
                                                        "Choice 1",
                                                        "Choice 3"
                                                    ]
                                                },
                                                {
                                                    "name": "Free Text Field",
                                                    "value": "I type this freely"
                                                }
                                            ],
                                            "suppliers": [
                                                {
                                                    "id": "825320333320003",
                                                    "name": "Mama Pasta"
                                                },
                                                {
                                                    "id": "325220129010007",
                                                    "name": "Happy Cow Products"
                                                }
                                            ],
                                            "ingredients": [
                                                {
                                                    "id": "764556666890005",
                                                    "name": "Pasta Spaghetti",
                                                    "short_name": "",
                                                    "name_translations": {}
                                                }
                                            ],
                                            "menus": [
                                                {
                                                    "id": "990400245400005",
                                                    "name": "Second Menu"
                                                },
                                                {
                                                    "id": "390400735470004",
                                                    "name": "Spaghetti Special Menu"
                                                }
                                            ]
                                        }
                                    }
                                },
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "name": {
                                            "type": "string",
                                            "example": "Brussel"
                                        },
                                        "id": {
                                            "type": "string",
                                            "example": "829100725420008"
                                        },
                                        "url": {
                                            "type": "string",
                                            "example": "https://staging.apicbase.com/api/v2/accounts/outlets/829100725420008/"
                                        },
                                        "billing_contact": {},
                                        "recipes": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "id": {
                                                        "type": "string",
                                                        "example": "349980442190000"
                                                    },
                                                    "name": {
                                                        "type": "string",
                                                        "example": "Spaghetti Bolognese"
                                                    },
                                                    "name_translations": {
                                                        "type": "object",
                                                        "properties": {}
                                                    }
                                                }
                                            }
                                        },
                                        "external_name": {},
                                        "internal_supplier_outlet": {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "string",
                                                    "example": "125040526960005"
                                                },
                                                "url": {
                                                    "type": "string",
                                                    "example": "https://app.apicbase.com/api/v2/suppliers/525220818060002/"
                                                },
                                                "first_name": {
                                                    "type": "string",
                                                    "example": "Peppa"
                                                },
                                                "last_name": {
                                                    "type": "string",
                                                    "example": "Pig"
                                                },
                                                "phone": {
                                                    "type": "string",
                                                    "example": ""
                                                },
                                                "email": {},
                                                "supplier_email_list": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string",
                                                        "example": "peppa.pig@apicbase.com"
                                                    }
                                                },
                                                "street": {
                                                    "type": "string",
                                                    "example": "Rue de la Loi"
                                                },
                                                "number": {
                                                    "type": "string",
                                                    "example": "1"
                                                },
                                                "postal_code": {
                                                    "type": "string",
                                                    "example": "1000"
                                                },
                                                "city": {
                                                    "type": "string",
                                                    "example": "Bruxelles"
                                                },
                                                "country": {
                                                    "type": "string",
                                                    "example": "Belgium"
                                                }
                                            }
                                        },
                                        "timezone": {},
                                        "description": {},
                                        "procurement_contact": {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "string",
                                                    "example": "225040036980003"
                                                },
                                                "first_name": {
                                                    "type": "string",
                                                    "example": "Luke"
                                                },
                                                "last_name": {
                                                    "type": "string",
                                                    "example": "Skywalker"
                                                },
                                                "phone": {},
                                                "email": {
                                                    "type": "string",
                                                    "example": "luke.skywalker@apicbase.com"
                                                },
                                                "supplier_email_list": {
                                                    "type": "array"
                                                }
                                            }
                                        },
                                        "contact": {
                                            "type": "object",
                                            "properties": {
                                                "full_name": {
                                                    "type": "string",
                                                    "example": "Baby Shark"
                                                },
                                                "first_name": {
                                                    "type": "string",
                                                    "example": "Baby"
                                                },
                                                "last_name": {
                                                    "type": "string",
                                                    "example": "Shark"
                                                },
                                                "avatar": {
                                                    "type": "string",
                                                    "example": "https://cdn-staging.apicbase.com/apicbase/images/avatar.png"
                                                },
                                                "telephone": {},
                                                "mobile": {},
                                                "email": {
                                                    "type": "string",
                                                    "example": "baby.shark@apicbase.com"
                                                }
                                            }
                                        },
                                        "suppliers": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "id": {
                                                        "type": "string",
                                                        "example": "825320333320003"
                                                    },
                                                    "name": {
                                                        "type": "string",
                                                        "example": "Mama Pasta"
                                                    }
                                                }
                                            }
                                        },
                                        "ingredients": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "id": {
                                                        "type": "string",
                                                        "example": "764556666890005"
                                                    },
                                                    "name": {
                                                        "type": "string",
                                                        "example": "Pasta Spaghetti"
                                                    },
                                                    "short_name": {
                                                        "type": "string",
                                                        "example": ""
                                                    },
                                                    "name_translations": {
                                                        "type": "object",
                                                        "properties": {}
                                                    }
                                                }
                                            }
                                        },
                                        "menus": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "id": {
                                                        "type": "string",
                                                        "example": "990400245400005"
                                                    },
                                                    "name": {
                                                        "type": "string",
                                                        "example": "Second Menu"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/accounts/user_connector/": {
            "get": {
                "summary": "Get User Connectors",
                "description": "Gets a list of all user connectors in the library with their associated users, roles, outlets, and libraries. User connectors represent either outlet users or library users in the system.",
                "operationId": "get-user-connectors",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "description": "A page number within the paginated result set. Starts at 1",
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "type",
                        "in": "query",
                        "description": "Filter by connector type. Use 'O' or 'L'",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "email",
                        "in": "query",
                        "description": "Filter by email address (case-insensitive partial match)",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "role_id",
                        "in": "query",
                        "description": "Filter by user role ID",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "outlet_id",
                        "in": "query",
                        "description": "Filter by outlet ID",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Result": {
                                        "value": {
                                            "count": 2,
                                            "next": null,
                                            "previous": null,
                                            "results": [
                                                {
                                                    "id": "336310664030008",
                                                    "type": "L",
                                                    "user": {
                                                        "id": "336310664030008",
                                                        "email": "john.doe@apicbase.com",
                                                        "first_name": "John",
                                                        "last_name": "Doe"
                                                    },
                                                    "role": {
                                                        "id": "123456789012345",
                                                        "name": "Manager"
                                                    },
                                                    "outlet": null,
                                                    "library": {
                                                        "id": "987654321098765",
                                                        "name": "Main Library"
                                                    }
                                                },
                                                {
                                                    "id": "336900440610001",
                                                    "type": "O",
                                                    "user": {
                                                        "id": "336900440610001",
                                                        "email": "jane.smith@apicbase.com",
                                                        "first_name": "Jane",
                                                        "last_name": "Smith"
                                                    },
                                                    "role": {
                                                        "id": "123456789012346",
                                                        "name": "Chef"
                                                    },
                                                    "outlet": {
                                                        "id": "829100725420008",
                                                        "name": "Brussels"
                                                    },
                                                    "library": {
                                                        "id": "987654321098765",
                                                        "name": "Main Library"
                                                    }
                                                }
                                            ]
                                        }
                                    }
                                },
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "count": {
                                            "type": "integer",
                                            "example": 2,
                                            "default": 0
                                        },
                                        "next": {},
                                        "previous": {},
                                        "results": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "id": {
                                                        "type": "string",
                                                        "example": "336310664030008"
                                                    },
                                                    "type": {
                                                        "type": "string",
                                                        "example": "L"
                                                    },
                                                    "user": {
                                                        "type": "object",
                                                        "properties": {
                                                            "id": {
                                                                "type": "string",
                                                                "example": "336310664030008"
                                                            },
                                                            "email": {
                                                                "type": "string",
                                                                "example": "john.doe@apicbase.com"
                                                            },
                                                            "first_name": {
                                                                "type": "string",
                                                                "example": "John"
                                                            },
                                                            "last_name": {
                                                                "type": "string",
                                                                "example": "Doe"
                                                            }
                                                        }
                                                    },
                                                    "role": {
                                                        "type": "object",
                                                        "properties": {
                                                            "id": {
                                                                "type": "string",
                                                                "example": "123456789012345"
                                                            },
                                                            "name": {
                                                                "type": "string",
                                                                "example": "Manager"
                                                            }
                                                        }
                                                    },
                                                    "outlet": {
                                                        "type": "object",
                                                        "properties": {
                                                            "id": {
                                                                "type": "string",
                                                                "example": "829100725420008"
                                                            },
                                                            "name": {
                                                                "type": "string",
                                                                "example": "Brussels"
                                                            }
                                                        }
                                                    },
                                                    "library": {
                                                        "type": "object",
                                                        "properties": {
                                                            "id": {
                                                                "type": "string",
                                                                "example": "987654321098765"
                                                            },
                                                            "name": {
                                                                "type": "string",
                                                                "example": "Main Library"
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/accounts/user_connector/{user_connector_id}/": {
            "get": {
                "summary": "Get User Connector Details",
                "description": "Gets information about a specific user connector including the associated user, role, outlet, and library details.",
                "operationId": "get-user-connector-details",
                "parameters": [
                    {
                        "name": "user_connector_id",
                        "in": "path",
                        "description": "The user connector's ID.",
                        "schema": {
                            "type": "string"
                        },
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Result": {
                                        "value": {
                                            "id": "336310664030008",
                                            "type": "L",
                                            "user": {
                                                "id": "336310664030008",
                                                "email": "john.doe@apicbase.com",
                                                "first_name": "John",
                                                "last_name": "Doe"
                                            },
                                            "role": {
                                                "id": "123456789012345",
                                                "name": "Manager"
                                            },
                                            "outlet": null,
                                            "library": {
                                                "id": "987654321098765",
                                                "name": "Main Library"
                                            }
                                        }
                                    }
                                },
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "string",
                                            "example": "336310664030008"
                                        },
                                        "type": {
                                            "type": "string",
                                            "example": "L"
                                        },
                                        "user": {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "string",
                                                    "example": "336310664030008"
                                                },
                                                "email": {
                                                    "type": "string",
                                                    "example": "john.doe@apicbase.com"
                                                },
                                                "first_name": {
                                                    "type": "string",
                                                    "example": "John"
                                                },
                                                "last_name": {
                                                    "type": "string",
                                                    "example": "Doe"
                                                }
                                            }
                                        },
                                        "role": {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "string",
                                                    "example": "123456789012345"
                                                },
                                                "name": {
                                                    "type": "string",
                                                    "example": "Manager"
                                                }
                                            }
                                        },
                                        "outlet": {},
                                        "library": {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "string",
                                                    "example": "987654321098765"
                                                },
                                                "name": {
                                                    "type": "string",
                                                    "example": "Main Library"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/accounts/libraries/": {
            "get": {
                "summary": "Get Libraries",
                "description": "Gets a list of all libraries that the current user has access to. Returns both active and blocked libraries, with their status indicated.",
                "operationId": "get-libraries",
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Result": {
                                        "value": [
                                            {
                                                "id": "987654321098765",
                                                "name": "Main Library",
                                                "status": "active"
                                            },
                                            {
                                                "id": "987654321098766",
                                                "name": "Secondary Library",
                                                "status": "active"
                                            },
                                            {
                                                "id": "987654321098767",
                                                "name": "Blocked Library",
                                                "status": "blocked"
                                            }
                                        ]
                                    }
                                },
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "id": {
                                                "type": "string",
                                                "example": "987654321098765"
                                            },
                                            "name": {
                                                "type": "string",
                                                "example": "Main Library"
                                            },
                                            "status": {
                                                "type": "string",
                                                "enum": [
                                                    "active",
                                                    "blocked"
                                                ],
                                                "example": "active",
                                                "description": "The status of the library. 'active' means the library is accessible, 'blocked' means it is blocked and cannot be switched to."
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/accounts/libraries/active/": {
            "get": {
                "summary": "Get Active Library",
                "description": "Gets the currently active library details including library ID, name, status, and the connected user information.",
                "operationId": "get-active-library",
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Result": {
                                        "value": {
                                            "active_library": {
                                                "id": "987654321098765",
                                                "name": "Main Library",
                                                "status": "active"
                                            },
                                            "active_user": {
                                                "id": "336310664030008",
                                                "email": "john.doe@apicbase.com",
                                                "first_name": "John",
                                                "last_name": "Doe"
                                            }
                                        }
                                    }
                                },
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "active_library": {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "string",
                                                    "example": "987654321098765"
                                                },
                                                "name": {
                                                    "type": "string",
                                                    "example": "Main Library"
                                                },
                                                "status": {
                                                    "type": "string",
                                                    "enum": [
                                                        "active",
                                                        "blocked"
                                                    ],
                                                    "example": "active"
                                                }
                                            }
                                        },
                                        "active_user": {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "string",
                                                    "example": "336310664030008"
                                                },
                                                "email": {
                                                    "type": "string",
                                                    "example": "john.doe@apicbase.com"
                                                },
                                                "first_name": {
                                                    "type": "string",
                                                    "example": "John"
                                                },
                                                "last_name": {
                                                    "type": "string",
                                                    "example": "Doe"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "404",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Result": {
                                        "value": {
                                            "detail": "No active library found."
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/audit-logs/": {
            "get": {
                "summary": "Get Audit Logs",
                "description": "Returns a paginated list of audit logs with support for filtering and ordering. Access requires admin permissions for the library and the audit logs feature must be enabled.",
                "operationId": "get-audit-logs",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "description": "A page number within the paginated result set.",
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "ordering",
                        "in": "query",
                        "description": "A field to order results by. Valid options: created_at, -created_at, action, -action, module, -module.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "user",
                        "in": "query",
                        "description": "Filter by user id.",
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "action",
                        "in": "query",
                        "description": "Filter by a single action.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "actions",
                        "in": "query",
                        "description": "Filter by multiple actions. Uses OR logic.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "module",
                        "in": "query",
                        "description": "Filter by a single module.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "modules",
                        "in": "query",
                        "description": "Filter by multiple modules. Uses OR logic.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "outlet",
                        "in": "query",
                        "description": "Filter by outlet apic_id.",
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "source",
                        "in": "query",
                        "description": "Filter by source. Valid options: web, api, mobile.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "created_at",
                        "in": "query",
                        "description": "Filter logs on a specific date (format: YYYY-MM-DD).",
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    },
                    {
                        "name": "from_created_at",
                        "in": "query",
                        "description": "Filter logs created after this date/time (format: YYYY-MM-DD or YYYY-MM-DDTHH:MM:SSZ).",
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    },
                    {
                        "name": "to_created_at",
                        "in": "query",
                        "description": "Filter logs created before this date/time (format: YYYY-MM-DD or YYYY-MM-DDTHH:MM:SSZ).",
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Result": {
                                        "value": {
                                            "count": 42,
                                            "next": "https://api.apicbase.com/api/v2/audit-logs/?page=2",
                                            "previous": null,
                                            "results": [
                                                {
                                                    "id": "550e8400-e29b-41d4-a716-446655440000",
                                                    "created_at": "2025-12-18T14:30:00.000000Z",
                                                    "user": {
                                                        "id": 536210327110005,
                                                        "username": "john.doe@example.com",
                                                        "full_name": "John Doe"
                                                    },
                                                    "ip_address": {
                                                        "ip_address": "192.168.1.1",
                                                        "hostname": "localhost",
                                                        "city": "Brussels",
                                                        "region": "Brussels",
                                                        "country": "BE",
                                                        "loc": "50.8503,4.3517",
                                                        "org": "Apicbase",
                                                        "postal": "1000",
                                                        "timezone": "Europe/Brussels"
                                                    },
                                                    "user_agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36",
                                                    "source": "web",
                                                    "outlet": {
                                                        "id": 429600574660007,
                                                        "name": "Main Kitchen"
                                                    },
                                                    "action": "Delete Ingredient",
                                                    "module": "Menu Engineering",
                                                    "object_id": "12345",
                                                    "object_name": "Salt",
                                                    "metadata": null
                                                },
                                                {
                                                    "id": "550e8400-e29b-41d4-a716-446655440001",
                                                    "created_at": "2025-12-18T14:25:00.000000Z",
                                                    "user": {
                                                        "id": 536210327110005,
                                                        "username": "john.doe@example.com",
                                                        "full_name": "John Doe"
                                                    },
                                                    "ip_address": {
                                                        "ip_address": "192.168.1.1",
                                                        "hostname": "localhost",
                                                        "city": "Brussels",
                                                        "region": "Brussels",
                                                        "country": "BE",
                                                        "loc": "50.8503,4.3517",
                                                        "org": "Apicbase",
                                                        "postal": "1000",
                                                        "timezone": "Europe/Brussels"
                                                    },
                                                    "user_agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36",
                                                    "source": "web",
                                                    "outlet": null,
                                                    "action": "Bulk Delete Ingredients",
                                                    "module": "Menu Engineering",
                                                    "object_id": null,
                                                    "object_name": null,
                                                    "metadata": {
                                                        "pks": [
                                                            1,
                                                            2,
                                                            3
                                                        ],
                                                        "destroy_count": 3
                                                    }
                                                }
                                            ]
                                        }
                                    }
                                },
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "count": {
                                            "type": "integer",
                                            "example": 42,
                                            "default": 0
                                        },
                                        "next": {
                                            "type": "string",
                                            "example": "https://api.apicbase.com/api/v2/audit-logs/?page=2"
                                        },
                                        "previous": {},
                                        "results": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "id": {
                                                        "type": "string",
                                                        "example": "550e8400-e29b-41d4-a716-446655440000"
                                                    },
                                                    "created_at": {
                                                        "type": "string",
                                                        "example": "2025-12-18T14:30:00.000000Z"
                                                    },
                                                    "user": {
                                                        "type": "object",
                                                        "properties": {
                                                            "id": {
                                                                "type": "integer",
                                                                "example": 536210327110005
                                                            },
                                                            "username": {
                                                                "type": "string",
                                                                "example": "john.doe@example.com"
                                                            },
                                                            "full_name": {
                                                                "type": "string",
                                                                "example": "John Doe"
                                                            }
                                                        }
                                                    },
                                                    "ip_address": {
                                                        "type": "object",
                                                        "properties": {
                                                            "ip_address": {
                                                                "type": "string",
                                                                "example": "192.168.1.1"
                                                            },
                                                            "hostname": {
                                                                "type": "string",
                                                                "example": "localhost"
                                                            },
                                                            "city": {
                                                                "type": "string",
                                                                "example": "Brussels"
                                                            },
                                                            "region": {
                                                                "type": "string",
                                                                "example": "Brussels"
                                                            },
                                                            "country": {
                                                                "type": "string",
                                                                "example": "BE"
                                                            },
                                                            "loc": {
                                                                "type": "string",
                                                                "example": "50.8503,4.3517"
                                                            },
                                                            "org": {
                                                                "type": "string",
                                                                "example": "Apicbase"
                                                            },
                                                            "postal": {
                                                                "type": "string",
                                                                "example": "1000"
                                                            },
                                                            "timezone": {
                                                                "type": "string",
                                                                "example": "Europe/Brussels"
                                                            }
                                                        }
                                                    },
                                                    "user_agent": {
                                                        "type": "string",
                                                        "example": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36"
                                                    },
                                                    "source": {
                                                        "type": "string",
                                                        "example": "web"
                                                    },
                                                    "outlet": {
                                                        "type": "object",
                                                        "properties": {
                                                            "id": {
                                                                "type": "integer",
                                                                "example": 429600574660007
                                                            },
                                                            "name": {
                                                                "type": "string",
                                                                "example": "Main Kitchen"
                                                            }
                                                        }
                                                    },
                                                    "action": {
                                                        "type": "string",
                                                        "example": "Delete Ingredient"
                                                    },
                                                    "module": {
                                                        "type": "string",
                                                        "example": "Menu Engineering"
                                                    },
                                                    "object_id": {
[...]
