{
    "openapi": "3.1.0",
    "info": {
        "title": "apicbase",
        "version": "2"
    },
    "servers": [
        {
            "url": "https://api.apicbase.com/api/v2/"
        }
    ],
    "security": [
        {
            "sec0": []
        }
    ],
    "paths": {
        "/accounts/users/": {
            "get": {
                "summary": "Get Users",
                "description": "Gets a list of all users with access to the library, and their permissions.",
                "operationId": "get-users",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "description": "A page number within the paginated result set. Starts at 1",
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Result": {
                                        "value": {
                                            "count": 2,
                                            "next": null,
                                            "previous": null,
                                            "results": [
                                                {
                                                    "url": "https://app.apicbase.com/api/v2/accounts/users/336310664030008/",
                                                    "id": "336310664030008",
                                                    "username": "john.doe@gmail.com",
                                                    "first_name": "John",
                                                    "last_name": "Doe",
                                                    "created_date": "2023-09-07T14:27:06Z",
                                                    "permissions": null,
                                                    "outlet_user": false
                                                },
                                                {
                                                    "url": "https://app.apicbase.com/api/v2/accounts/users/336900440610001/",
                                                    "id": "336900440610001",
                                                    "username": "darth.vader@apicbase.com",
                                                    "first_name": "Darth",
                                                    "last_name": "Vader",
                                                    "created_date": "2022-10-21T13:18:02Z",
                                                    "permissions": {
                                                        "library_user_permission_set": {
                                                            "apic_admin": true,
                                                            "global_write": true,
                                                            "global_delete": true,
                                                            "global_fcc": true
                                                        },
                                                        "inventory_count_event_permission_set": {
                                                            "write": true,
                                                            "edit": true,
                                                            "open": true,
                                                            "edit_finalized_event": true,
                                                            "delete": true
                                                        },
                                                        "inventory_waste_management_event_permission_set": {
                                                            "write": true,
                                                            "edit_finalized_event": true,
                                                            "delete": true
                                                        },
                                                        "stock_item_inventory_permission_set": {
                                                            "write": true,
                                                            "delete": true
                                                        },
                                                        "inventory_preparation_event_permission_set": {
                                                            "write": true,
                                                            "edit_finalized_event": true,
                                                            "delete": true
                                                        },
                                                        "inventory_move_event_permission_set": {
                                                            "write": true,
                                                            "edit_finalized_event": true,
                                                            "delete": true
                                                        },
                                                        "sales_permission_set": {
                                                            "sales_analytics": true,
                                                            "manual_sales": true,
                                                            "pos_connection": true,
                                                            "edit_finalized_event": true,
                                                            "delete": true
                                                        },
                                                        "library_menu_permission_set": {
                                                            "edit": true
                                                        },
                                                        "library_ingredient_permission_set": {
                                                            "edit": true,
                                                            "allergen_verification": true
                                                        },
                                                        "library_recipe_permission_set": {
                                                            "edit": true
                                                        },
                                                        "production_plan_permission_set": {
                                                            "write": true,
                                                            "do_production_plan": true
                                                        },
                                                        "task_permission_set": {
                                                            "write": true,
                                                            "do_task": true
                                                        },
                                                        "traceability_permission_set": {
                                                            "edit_log_items": true
                                                        },
                                                        "purchase_order_permission_set": {
                                                            "create": true,
                                                            "send": true,
                                                            "draft_receive": true,
                                                            "receive": true,
                                                            "update_price": true,
                                                            "manage_list": true,
                                                            "edit_closed_orders": false
                                                        },
                                                        "internal_order_permission_set": {
                                                            "pick": true,
                                                            "ship": true,
                                                            "edit_closed_orders": false
                                                        },
                                                        "media_permission_set": {
                                                            "write": true,
                                                            "image_upload": true
                                                        }
                                                    },
                                                    "outlet_user": false
                                                }
                                            ]
                                        }
                                    }
                                },
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "count": {
                                            "type": "integer",
                                            "example": 2,
                                            "default": 0
                                        },
                                        "next": {},
                                        "previous": {},
                                        "results": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "url": {
                                                        "type": "string",
                                                        "example": "https://app.apicbase.com/api/v2/accounts/users/336310664030008/"
                                                    },
                                                    "id": {
                                                        "type": "string",
                                                        "example": "336310664030008"
                                                    },
                                                    "username": {
                                                        "type": "string",
                                                        "example": "john.doe@gmail.com"
                                                    },
                                                    "first_name": {
                                                        "type": "string",
                                                        "example": "John"
                                                    },
                                                    "last_name": {
                                                        "type": "string",
                                                        "example": "Doe"
                                                    },
                                                    "created_date": {
                                                        "type": "string",
                                                        "example": "2023-09-07T14:27:06Z"
                                                    },
                                                    "permissions": {},
                                                    "outlet_user": {
                                                        "type": "boolean",
                                                        "example": false,
                                                        "default": true
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/accounts/users/{user_id}/": {
            "get": {
                "summary": "Get User Details",
                "description": "Gets information about a specific user in the library.",
                "operationId": "get-user-details",
                "parameters": [
                    {
                        "name": "user_id",
                        "in": "path",
                        "description": "A user's ID.",
                        "schema": {
                            "type": "string"
                        },
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Result": {
                                        "value": "{\n \"url\": \"https://app.apicbase.com/api/v2/accounts/users/336900440610001/\",\n \"id\": \"336900440610001\",\n \"username\": \"darth.vader@apicbase.com\",\n \"first_name\": \"Darth\",\n \"last_name\": \"Vader\",\n \"created_date\": \"2022-10-21T13:18:02Z\",\n \"active_outlet\": \"536010648730003\",\n\t\t\"is_beta_access_active\": false,\n \"permissions\": {\n \"library_user_permission_set\": {\n \"apic_admin\": true,\n \"global_write\": true,\n \"global_delete\": true,\n \"global_fcc\": true\n },\n \"inventory_count_event_permission_set\": {\n \"write\": true,\n \"edit\": true,\n \"open\": true,\n \"edit_finalized_event\": true,\n \"delete\": true\n },\n \"inventory_waste_management_event_permission_set\": {\n \"write\": true,\n \"edit_finalized_event\": true,\n \"delete\": true\n },\n \"inventory_set_min_and_par_permission_set\": {\n \"write\": true\n },\n \"inventory_preparation_event_permission_set\": {\n \"write\": true,\n \"edit_finalized_event\": true,\n \"delete\": true\n },\n \"inventory_move_event_permission_set\": {\n \"write\": true,\n \"edit_finalized_event\": true,\n \"delete\": true\n },\n \"sales_permission_set\": {\n \"sales_analytics\": true,\n \"manual_sales\": true,\n \"pos_connection\": true,\n \"edit_finalized_event\": true,\n \"delete\": true\n },\n \"library_menu_permission_set\": {\n \"edit\": true\n },\n \"library_ingredient_permission_set\": {\n \"edit\": true,\n \"allergen_verification\": true\n },\n \"library_recipe_permission_set\": {\n \"edit\": true\n },\n \"production_plan_permission_set\": {\n \"write\": true,\n \"do_production_plan\": true\n },\n \"task_permission_set\": {\n \"write\": true,\n \"do_task\": true\n },\n \"traceability_permission_set\": {\n \"edit_log_items\": true\n },\n \"purchase_order_permission_set\": {\n \"create\": true,\n \"send\": true,\n \"draft_receive\": true,\n \"receive\": true,\n \"update_price\": true,\n \"manage_list\": true,\n \"edit_closed_orders\": false\n },\n \"internal_order_permission_set\": {\n \"pick\": true,\n \"ship\": true,\n \"edit_closed_orders\": false\n },\n \"media_permission_set\": {\n \"write\": true,\n \"image_upload\": true\n }\n },\n \"outlet_user\": false\n}"
                                    }
                                }
                            }
                        }
                    }
                },
                "deprecated": false
            },
            "delete": {
                "summary": "Remove User from Library",
                "description": "Removes a user from the library",
                "operationId": "remove-user-from-library",
                "parameters": [
                    {
                        "name": "user_id",
                        "in": "path",
                        "description": "A user's ID.",
                        "schema": {
                            "type": "string"
                        },
                        "required": true
                    }
                ],
                "responses": {
                    "204": {
                        "description": "204"
                    }
                },
                "deprecated": false
            }
        },
        "/accounts/outlets/": {
            "get": {
                "summary": "Get Outlets",
                "description": "Gets a list of outlets in the library, complete with information about them.",
                "operationId": "get-outlets",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "description": "A page number within the paginated result set.",
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "ordering",
                        "in": "query",
                        "description": "A field to order results by.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "name",
                        "in": "query",
                        "description": "An outlet name to query on.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "query",
                        "name": "custom_fields",
                        "schema": {
                            "type": "string"
                        },
                        "description": "Filter on custom fields. Check reference guide for details."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Result": {
                                        "value": {
                                            "count": 3,
                                            "next": null,
                                            "previous": null,
                                            "results": [
                                                {
                                                    "name": "Brussel",
                                                    "id": "829100725420008",
                                                    "url": "https://app.apicbase.com/api/v2/accounts/outlets/829100725420008/",
                                                    "billing_contact": null,
                                                    "internal_supplier_outlet": {
                                                        "id": "125040526960005",
                                                        "url": "https://app.apicbase.com/api/v2/suppliers/525220818060002/",
                                                        "first_name": "Peppa",
                                                        "last_name": "Pig",
                                                        "phone": "",
                                                        "email": null,
                                                        "supplier_email_list": [
                                                            "peppa.pig@apicbase.com"
                                                        ],
                                                        "street": "",
                                                        "number": null,
                                                        "postal_code": "",
                                                        "city": "",
                                                        "country": null
                                                    },
                                                    "custom_fields": [
                                                        {
                                                            "name": "Multi Choice Field",
                                                            "value": [
                                                                "Choice 1",
                                                                "Choice 3"
                                                            ]
                                                        },
                                                        {
                                                            "name": "Free Text Field",
                                                            "value": "I type this freely"
                                                        }
                                                    ],
                                                    "timezone": null,
                                                    "description": null,
                                                    "procurement_contact": {
                                                        "first_name": "Luke",
                                                        "last_name": "Skywalker",
                                                        "phone": null,
                                                        "email": "luke.skywalker@apicbase.com"
                                                    },
                                                    "contact": {
                                                        "company_name": "Baby Shark",
                                                        "first_name": "Baby",
                                                        "last_name": "Shark",
                                                        "avatar": "https://cdn-staging.apicbase.com/apicbase/images/avatar.png",
                                                        "telephone": null,
                                                        "mobile": null,
                                                        "email": "baby.shark@apicbase.com"
                                                    },
                                                    "external_name": null
                                                },
                                                {
                                                    "name": "Gent",
                                                    "id": "729100535470009",
                                                    "url": "https://staging.apicbase.com/api/v2/accounts/outlets/729100535470009/",
                                                    "billing_contact": null,
                                                    "internal_supplier_outlet": null,
                                                    "timezone": null,
                                                    "description": null,
                                                    "procurement_contact": {
                                                        "first_name": "",
                                                        "last_name": "",
                                                        "phone": null,
                                                        "email": null,
                                                        "supplier_email_list": []
                                                    },
                                                    "contact": {
                                                        "company_name": "",
                                                        "first_name": "",
                                                        "last_name": "",
                                                        "avatar": "https://cdn-staging.apicbase.com/apicbase/images/avatar.png",
                                                        "telephone": null,
                                                        "mobile": null,
                                                        "email": null
                                                    },
                                                    "external_name": null
                                                },
                                                {
                                                    "name": "Antwerpen",
                                                    "id": "229100415400002",
                                                    "url": "https://staging.apicbase.com/api/v2/accounts/outlets/229100415400002/",
                                                    "billing_contact": null,
                                                    "internal_supplier_outlet": null,
                                                    "timezone": null,
                                                    "description": null,
                                                    "procurement_contact": {
                                                        "id": "725220408070004",
                                                        "first_name": "",
                                                        "last_name": "",
                                                        "phone": null,
                                                        "email": null,
                                                        "supplier_email_list": []
                                                    },
                                                    "contact": {
                                                        "company_name": "",
                                                        "first_name": "",
                                                        "last_name": "",
                                                        "avatar": "https://cdn-staging.apicbase.com/apicbase/images/avatar.png",
                                                        "telephone": null,
                                                        "mobile": null,
                                                        "email": null
                                                    },
                                                    "external_name": null
                                                }
                                            ]
                                        }
                                    }
                                },
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "count": {
                                            "type": "integer",
                                            "example": 3,
                                            "default": 0
                                        },
                                        "next": {},
                                        "previous": {},
                                        "results": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "name": {
                                                        "type": "string",
                                                        "example": "Brussel"
                                                    },
                                                    "id": {
                                                        "type": "string",
                                                        "example": "829100725420008"
                                                    },
                                                    "url": {
                                                        "type": "string",
                                                        "example": "https://app.apicbase.com/api/v2/accounts/outlets/829100725420008/"
                                                    },
                                                    "billing_contact": {},
                                                    "internal_supplier_outlet": {
                                                        "type": "object",
                                                        "properties": {
                                                            "id": {
                                                                "type": "string",
                                                                "example": "125040526960005"
                                                            },
                                                            "url": {
                                                                "type": "string",
                                                                "example": "https://app.apicbase.com/api/v2/suppliers/525220818060002/"
                                                            },
                                                            "first_name": {
                                                                "type": "string",
                                                                "example": "Peppa"
                                                            },
                                                            "last_name": {
                                                                "type": "string",
                                                                "example": "Pig"
                                                            },
                                                            "phone": {
                                                                "type": "string",
                                                                "example": ""
                                                            },
                                                            "email": {},
                                                            "supplier_email_list": {
                                                                "type": "array",
                                                                "items": {
                                                                    "type": "string",
                                                                    "example": "peppa.pig@apicbase.com"
                                                                }
                                                            },
                                                            "street": {
                                                                "type": "string",
                                                                "example": ""
                                                            },
                                                            "number": {},
                                                            "postal_code": {
                                                                "type": "string",
                                                                "example": ""
                                                            },
                                                            "city": {
                                                                "type": "string",
                                                                "example": ""
                                                            },
                                                            "country": {}
                                                        }
                                                    },
                                                    "timezone": {},
                                                    "description": {},
                                                    "procurement_contact": {
                                                        "type": "object",
                                                        "properties": {
                                                            "first_name": {
                                                                "type": "string",
                                                                "example": "Luke"
                                                            },
                                                            "last_name": {
                                                                "type": "string",
                                                                "example": "Skywalker"
                                                            },
                                                            "phone": {},
                                                            "email": {
                                                                "type": "string",
                                                                "example": "luke.skywalker@apicbase.com"
                                                            }
                                                        }
                                                    },
                                                    "contact": {
                                                        "type": "object",
                                                        "properties": {
                                                            "company_name": {
                                                                "type": "string",
                                                                "example": "Baby Shark"
                                                            },
                                                            "first_name": {
                                                                "type": "string",
                                                                "example": "Baby"
                                                            },
                                                            "last_name": {
                                                                "type": "string",
                                                                "example": "Shark"
                                                            },
                                                            "avatar": {
                                                                "type": "string",
                                                                "example": "https://cdn-staging.apicbase.com/apicbase/images/avatar.png"
                                                            },
                                                            "telephone": {},
                                                            "mobile": {},
                                                            "email": {
                                                                "type": "string",
                                                                "example": "baby.shark@apicbase.com"
                                                            }
                                                        }
                                                    },
                                                    "external_name": {}
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "deprecated": false
            },
            "post": {
                "summary": "Create Outlet",
                "description": "Creates an outlet in the library.",
                "operationId": "create-outlet",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "name"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string"
                                    },
                                    "description": {
                                        "type": "string"
                                    },
                                    "external_name": {
                                        "type": "string",
                                        "description": "This name will be visible e.g. in outgoing orders."
                                    },
                                    "timezone": {
                                        "type": "string",
                                        "description": "The timezone the outlet is located in. Must be a valid timezone, e.g. \"Europe/Brussels\"."
                                    },
                                    "supplier": {
                                        "type": "object",
                                        "description": "Corresponds to the outlet's \"Contact Details\".",
                                        "properties": {
                                            "first_name": {
                                                "type": "string"
                                            },
                                            "last_name": {
                                                "type": "string"
                                            },
                                            "mobile": {
                                                "type": "string"
                                            },
                                            "email": {
                                                "type": "string"
                                            },
                                            "street": {
                                                "type": "string"
                                            },
                                            "number": {
                                                "type": "string"
                                            },
                                            "postal_code": {
                                                "type": "string"
                                            },
                                            "city": {
                                                "type": "string"
                                            },
                                            "country": {
                                                "type": "string"
                                            },
                                            "internal_supplier_id": {
                                                "type": "integer",
                                                "format": "int32"
                                            }
                                        }
                                    },
                                    "procurement_contact": {
                                        "type": "object",
                                        "properties": {
                                            "first_name": {
                                                "type": "string"
                                            },
                                            "last_name": {
                                                "type": "string"
                                            },
                                            "phone": {
                                                "type": "string"
                                            },
                                            "email": {
                                                "type": "string"
                                            }
                                        }
                                    },
                                    "billing_contact": {
                                        "type": "object",
                                        "properties": {
                                            "first_name": {
                                                "type": "string"
                                            },
                                            "last_name": {
                                                "type": "string"
                                            },
                                            "phone": {
                                                "type": "string"
                                            },
                                            "email": {
                                                "type": "string"
                                            },
                                            "street": {
                                                "type": "string"
                                            },
                                            "number": {
                                                "type": "string"
                                            },
                                            "postal_code": {
                                                "type": "string"
                                            },
                                            "city": {
                                                "type": "string"
                                            },
                                            "country": {
                                                "type": "string"
                                            }
                                        }
                                    },
                                    "suppliers": {
                                        "type": "array",
                                        "description": "A list of suppliers IDs to be linked to the outlet.",
                                        "items": {
                                            "type": "string"
                                        }
                                    },
                                    "ingredients": {
                                        "type": "array",
                                        "description": "A list of ingredient IDs to be linked to the outlet.",
                                        "items": {
                                            "type": "string"
                                        }
                                    },
                                    "recipes": {
                                        "type": "array",
                                        "description": "A list of recipe IDs to be linked to the outlet.",
                                        "items": {
                                            "type": "string"
                                        }
                                    },
                                    "menus": {
                                        "type": "array",
                                        "description": "A list of menu IDs to be linked to the outlet.",
                                        "items": {
                                            "type": "integer",
                                            "format": "int32"
                                        }
                                    },
                                    "supplier_contact": {
                                        "type": "object",
                                        "description": "Supplier information for an outlet that acts as an internal supplier.",
                                        "properties": {
                                            "first_name": {
                                                "type": "string"
                                            },
                                            "last_name": {
                                                "type": "string"
                                            },
                                            "phone": {
                                                "type": "string"
                                            },
                                            "email": {
                                                "type": "string"
                                            }
                                        }
                                    },
                                    "custom_fields": {
                                        "type": "array",
                                        "description": "",
                                        "items": {
                                            "properties": {},
                                            "type": "object"
                                        }
                                    }
                                }
                            },
                            "examples": {
                                "Simple example": {
                                    "value": {
                                        "name": "My outlet",
                                        "description": "My outlet description",
                                        "external_name": "My outlet external name",
                                        "timezone": "Europe/Brussels",
                                        "supplier": {
                                            "first_name": "John",
                                            "last_name": "Smith",
                                            "avatar": "https://www.website.com",
                                            "telephone": "000 0000",
                                            "mobile": "000 0000",
                                            "email": "email@email.com",
                                            "street": "My street",
                                            "number": "0000",
                                            "postal_code": "000 0000",
                                            "city": "My city",
                                            "country": "My Country"
                                        },
                                        "billing_contact": {
                                            "first_name": "My Billing",
                                            "last_name": "Contact",
                                            "phone": "000-0000",
                                            "email": "email@email.com",
                                            "street": "my street",
                                            "number": "1234",
                                            "postal_code": "000-0000",
                                            "city": "Brussels",
                                            "country": "Belgium"
                                        },
                                        "procurement_contact": {
                                            "first_name": "My Procurement",
                                            "last_name": "Contact",
                                            "phone": "000-0000",
                                            "email": "email@email.com"
                                        },
                                        "supplier_contact": {
                                            "contact_name": "My Supplier",
                                            "last_name": "Contact",
                                            "phone": "000-0000",
                                            "email": "email@email.com",
                                            "street": "my street",
                                            "number": "1234",
                                            "postal_code": "000-0000",
                                            "city": "Brussels",
                                            "country": "Belgium"
                                        },
                                        "suppliers": [
                                            "000000000000000"
                                        ],
                                        "ingredients": [
                                            "000000000000000",
                                            "000000000000001"
                                        ],
                                        "recipes": [
                                            "000000000000000",
                                            "000000000000001"
                                        ],
                                        "menus": [
                                            "000000000000000",
                                            "000000000000001"
                                        ]
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "201",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Result": {
                                        "value": "{\n\t\"id\": \"000000000000000\",\n\t\"url\": \"https://app.apicbase.com/api/v1/accounts/outlets/000000000000000/\",\n\t\"name\": \"My outlet 08101118\",\n\t\"external_name\": \"My outlet external name\",\n\t\"description\": \"My outlet description\",\n\t\"supplier\": {\n\t\t\"id\": \"000000000000000\",\n\t\t\"url\": \"https://app.apicbase.com/api/v1/contact/000000000000000/\",\n\t\t\"company_name\": \"My Supplier\",\n\t\t\"first_name\": \"My\",\n\t\t\"last_name\": \"Supplier\",\n\t\t\"avatar\": \"/assets/apicbase/images/avatar.png\",\n\t\t\"telephone\": \"000 0000\",\n\t\t\"mobile\": \"000 0000\",\n\t\t\"email\": \"email@email.com\",\n\t\t\"website\": \"https://www.website.com\",\n\t\t\"facebook_url\": \"https://www.website.com\",\n\t\t\"twitter_url\": \"https://www.website.com\",\n\t\t\"instagram_url\": \"https://www.website.com\",\n\t\t\"linkedin_url\": \"https://www.website.com\",\n\t\t\"street\": \"My street\",\n\t\t\"number\": \"0000\",\n\t\t\"postal_code\": \"000 0000\",\n\t\t\"city\": \"My city\",\n\t\t\"country\": \"My Country\",\n\t\t\"internal_supplier_id\": null\n\t},\n\t\"billing_contact\": {\n\t\t\"id\": \"000000000000000\",\n\t\t\"first_name\": \"My Billing\",\n\t\t\"last_name\": \"Contact\",\n\t\t\"phone\": \"000-0000\",\n\t\t\"email\": \"email@email.com\",\n\t\t\"street\": \"my street\",\n\t\t\"number\": \"1234\",\n\t\t\"postal_code\": \"000-0000\",\n\t\t\"city\": \"Brussels\",\n\t\t\"country\": \"Belgium\"\n\t},\n\t\"procurement_contact\": {\n\t\t\"id\": \"000000000000000\",\n\t\t\"first_name\": \"My Procurement\",\n\t\t\"last_name\": \"Contact\",\n\t\t\"phone\": \"000-0000\",\n\t\t\"email\": \"email@email.com\"\n\t},\n\t\"supplier_contact\": {\n\t\t\"id\": \"000000000000000\",\n\t\t\"first_name\": \"\",\n\t\t\"last_name\": \"Contact\",\n\t\t\"phone\": \"000-0000\",\n\t\t\"email\": \"email@email.com\",\n\t\t\"street\": \"my street\",\n\t\t\"number\": \"1234\",\n\t\t\"postal_code\": \"000-0000\",\n\t\t\"city\": \"Brussels\",\n\t\t\"country\": \"Belgium\"\n\t},\n\t\"timezone\": \"Europe/Brussels\",\n\t\"suppliers\": [\n\t\t{\n\t\t\t\"id\": \"000000000000000\",\n\t\t\t\"name\": \"\"\n\t\t}\n\t],\n\t\"ingredients\": [\n\t\t{\n\t\t\t\"id\": \"000000000000000\",\n\t\t\t\"name\": \"VEGAN DONER-KEBAB\",\n\t\t\t\"short_name\": \"\",\n\t\t\t\"name_translations\": {\n\t\t\t\t\"nl\": \"VEGAN DONER-KEBAB\",\n\t\t\t\t\"pt\": \"VEGAN DONER-KEBAB\"\n\t\t\t}\n\t\t},\n\t\t{\n\t\t\t\"id\": \"000000000000000\",\n\t\t\t\"name\": \"ingredient-1027984\",\n\t\t\t\"short_name\": \"ing-1027984\",\n\t\t\t\"name_translations\": {\n\t\t\t\t\"nl\": \"ingredient-nl-102049\"\n\t\t\t}\n\t\t}\n\t],\n\t\"recipes\": [\n\t\t{\n\t\t\t\"id\": \"000000000000000\",\n\t\t\t\"name\": \"recipe-93711\",\n\t\t\t\"name_translations\": {\n\t\t\t\t\"nl\": \"recipe-nl-31908\",\n\t\t\t\t\"en\": \"recipe-en-32430\"\n\t\t\t}\n\t\t},\n\t\t{\n\t\t\t\"id\": \"000000000000000\",\n\t\t\t\"name\": \"recipe-93712\",\n\t\t\t\"name_translations\": {\n\t\t\t\t\"nl\": \"recipe-nl-31873\",\n\t\t\t\t\"en\": \"recipe-en-32425\"\n\t\t\t}\n\t\t}\n\t],\n\t\"menus\": [\n\t\t{\n\t\t\t\"id\": \"000000000000000\",\n\t\t\t\"name\": \"menu-5828\"\n\t\t},\n\t\t{\n\t\t\t\"id\": \"000000000000000\",\n\t\t\t\"name\": \"menu-5544\"\n\t\t}\n\t]\n}"
                                    }
                                },
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "string",
                                            "example": "000000000000000"
                                        },
                                        "url": {
                                            "type": "string",
                                            "example": "https://app.apicbase.com/api/v1/accounts/outlets/000000000000000/"
                                        },
                                        "name": {
                                            "type": "string",
                                            "example": "My outlet 08101118"
                                        },
                                        "external_name": {
                                            "type": "string",
                                            "example": "My outlet external name"
                                        },
                                        "description": {
                                            "type": "string",
                                            "example": "My outlet description"
                                        },
                                        "supplier": {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "string",
                                                    "example": "000000000000000"
                                                },
                                                "url": {
                                                    "type": "string",
                                                    "example": "https://app.apicbase.com/api/v1/contact/000000000000000/"
                                                },
                                                "company_name": {
                                                    "type": "string",
                                                    "example": "My Supplier"
                                                },
                                                "first_name": {
                                                    "type": "string",
                                                    "example": "My"
                                                },
                                                "last_name": {
                                                    "type": "string",
                                                    "example": "Supplier"
                                                },
                                                "avatar": {
                                                    "type": "string",
                                                    "example": "/assets/apicbase/images/avatar.png"
                                                },
                                                "telephone": {
                                                    "type": "string",
                                                    "example": "000 0000"
                                                },
                                                "mobile": {
                                                    "type": "string",
                                                    "example": "000 0000"
                                                },
                                                "email": {
                                                    "type": "string",
                                                    "example": "email@email.com"
                                                },
                                                "website": {
                                                    "type": "string",
                                                    "example": "https://www.website.com"
                                                },
                                                "facebook_url": {
                                                    "type": "string",
                                                    "example": "https://www.website.com"
                                                },
                                                "twitter_url": {
                                                    "type": "string",
                                                    "example": "https://www.website.com"
                                                },
                                                "instagram_url": {
                                                    "type": "string",
                                                    "example": "https://www.website.com"
                                                },
                                                "linkedin_url": {
                                                    "type": "string",
                                                    "example": "https://www.website.com"
                                                },
                                                "street": {
                                                    "type": "string",
                                                    "example": "My street"
                                                },
                                                "number": {
                                                    "type": "string",
                                                    "example": "0000"
                                                },
                                                "postal_code": {
                                                    "type": "string",
                                                    "example": "000 0000"
                                                },
                                                "city": {
                                                    "type": "string",
                                                    "example": "My city"
                                                },
                                                "country": {
                                                    "type": "string",
                                                    "example": "My Country"
                                                },
                                                "internal_supplier_id": {}
                                            }
                                        },
                                        "billing_contact": {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "string",
                                                    "example": "000000000000000"
                                                },
                                                "first_name": {
                                                    "type": "string",
                                                    "example": "My Billing"
                                                },
                                                "last_name": {
                                                    "type": "string",
                                                    "example": "Contact"
                                                },
                                                "phone": {
                                                    "type": "string",
                                                    "example": "000-0000"
                                                },
                                                "email": {
                                                    "type": "string",
                                                    "example": "email@email.com"
                                                },
                                                "street": {
                                                    "type": "string",
                                                    "example": "my street"
                                                },
                                                "number": {
                                                    "type": "string",
                                                    "example": "1234"
                                                },
                                                "postal_code": {
                                                    "type": "string",
                                                    "example": "000-0000"
                                                },
                                                "city": {
                                                    "type": "string",
                                                    "example": "Brussels"
                                                },
                                                "country": {
                                                    "type": "string",
                                                    "example": "Belgium"
                                                }
                                            }
                                        },
                                        "procurement_contact": {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "string",
                                                    "example": "000000000000000"
                                                },
                                                "first_name": {
                                                    "type": "string",
                                                    "example": "My Procurement"
                                                },
                                                "last_name": {
                                                    "type": "string",
                                                    "example": "Contact"
                                                },
                                                "phone": {
                                                    "type": "string",
                                                    "example": "000-0000"
                                                },
                                                "email": {
                                                    "type": "string",
                                                    "example": "email@email.com"
                                                }
                                            }
                                        },
                                        "supplier_contact": {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "string",
                                                    "example": "000000000000000"
                                                },
                                                "first_name": {
                                                    "type": "string",
                                                    "example": ""
                                                },
                                                "last_name": {
                                                    "type": "string",
                                                    "example": "Contact"
                                                },
                                                "phone": {
                                                    "type": "string",
                                                    "example": "000-0000"
                                                },
                                                "email": {
                                                    "type": "string",
                                                    "example": "email@email.com"
                                                },
                                                "street": {
                                                    "type": "string",
                                                    "example": "my street"
                                                },
                                                "number": {
                                                    "type": "string",
                                                    "example": "1234"
                                                },
                                                "postal_code": {
                                                    "type": "string",
                                                    "example": "000-0000"
                                                },
                                                "city": {
                                                    "type": "string",
                                                    "example": "Brussels"
                                                },
                                                "country": {
                                                    "type": "string",
                                                    "example": "Belgium"
                                                }
                                            }
                                        },
                                        "timezone": {
                                            "type": "string",
                                            "example": "Europe/Brussels"
                                        },
                                        "suppliers": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "id": {
                                                        "type": "string",
                                                        "example": "000000000000000"
                                                    },
                                                    "name": {
                                                        "type": "string",
                                                        "example": ""
                                                    }
                                                }
                                            }
                                        },
                                        "ingredients": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "id": {
                                                        "type": "string",
                                                        "example": "000000000000000"
                                                    },
                                                    "name": {
                                                        "type": "string",
                                                        "example": "VEGAN DONER-KEBAB"
                                                    },
                                                    "short_name": {
                                                        "type": "string",
                                                        "example": ""
                                                    },
                                                    "name_translations": {
                                                        "type": "object",
                                                        "properties": {
                                                            "nl": {
                                                                "type": "string",
                                                                "example": "VEGAN DONER-KEBAB"
                                                            },
                                                            "pt": {
                                                                "type": "string",
                                                                "example": "VEGAN DONER-KEBAB"
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        },
                                        "recipes": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "id": {
                                                        "type": "string",
                                                        "example": "000000000000000"
                                                    },
                                                    "name": {
                                                        "type": "string",
                                                        "example": "recipe-93711"
                                                    },
                                                    "name_translations": {
                                                        "type": "object",
                                                        "properties": {
                                                            "nl": {
                                                                "type": "string",
                                                                "example": "recipe-nl-31908"
                                                            },
                                                            "en": {
                                                                "type": "string",
                                                                "example": "recipe-en-32430"
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        },
                                        "menus": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "id": {
                                                        "type": "string",
                                                        "example": "000000000000000"
                                                    },
                                                    "name": {
                                                        "type": "string",
                                                        "example": "menu-5828"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/accounts/outlets/{outlet_id}/": {
            "get": {
                "summary": "Get Outlet Details",
                "description": "Gets information about a specific outlet in the library.",
                "operationId": "get-outlet-details",
                "parameters": [
                    {
                        "name": "outlet_id",
                        "in": "path",
                        "description": "An outlet's ID.",
                        "schema": {
                            "type": "string"
                        },
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Result": {
                                        "value": {
                                            "name": "Brussel",
                                            "id": "829100725420008",
                                            "url": "https://staging.apicbase.com/api/v2/accounts/outlets/829100725420008/",
                                            "billing_contact": null,
                                            "recipes": [
                                                {
                                                    "id": "349980442190000",
                                                    "name": "Spaghetti Bolognese",
                                                    "name_translations": {}
                                                }
                                            ],
                                            "external_name": null,
                                            "internal_supplier_outlet": {
                                                "id": "125040526960005",
                                                "url": "https://app.apicbase.com/api/v2/suppliers/525220818060002/",
                                                "first_name": "Peppa",
                                                "last_name": "Pig",
                                                "phone": "",
                                                "email": null,
                                                "supplier_email_list": [
                                                    "peppa.pig@apicbase.com"
                                                ],
                                                "street": "Rue de la Loi",
                                                "number": "1",
                                                "postal_code": "1000",
                                                "city": "Bruxelles",
                                                "country": "Belgium"
                                            },
                                            "timezone": null,
                                            "description": null,
                                            "procurement_contact": {
                                                "id": "225040036980003",
                                                "first_name": "Luke",
                                                "last_name": "Skywalker",
                                                "phone": null,
                                                "email": "luke.skywalker@apicbase.com",
                                                "supplier_email_list": []
                                            },
                                            "contact": {
                                                "full_name": "Baby Shark",
                                                "first_name": "Baby",
                                                "last_name": "Shark",
                                                "avatar": "https://cdn-staging.apicbase.com/apicbase/images/avatar.png",
                                                "telephone": null,
                                                "mobile": null,
                                                "email": "baby.shark@apicbase.com"
                                            },
                                            "custom_fields": [
                                                {
                                                    "name": "Multi Choice Field",
                                                    "value": [
                                                        "Choice 1",
                                                        "Choice 3"
                                                    ]
                                                },
                                                {
                                                    "name": "Free Text Field",
                                                    "value": "I type this freely"
                                                }
                                            ],
                                            "suppliers": [
                                                {
                                                    "id": "825320333320003",
                                                    "name": "Mama Pasta"
                                                },
                                                {
                                                    "id": "325220129010007",
                                                    "name": "Happy Cow Products"
                                                }
                                            ],
                                            "ingredients": [
                                                {
                                                    "id": "764556666890005",
                                                    "name": "Pasta Spaghetti",
                                                    "short_name": "",
                                                    "name_translations": {}
                                                }
                                            ],
                                            "menus": [
                                                {
                                                    "id": "990400245400005",
                                                    "name": "Second Menu"
                                                },
                                                {
                                                    "id": "390400735470004",
                                                    "name": "Spaghetti Special Menu"
                                                }
                                            ]
                                        }
                                    }
                                },
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "name": {
                                            "type": "string",
                                            "example": "Brussel"
                                        },
                                        "id": {
                                            "type": "string",
                                            "example": "829100725420008"
                                        },
                                        "url": {
                                            "type": "string",
                                            "example": "https://staging.apicbase.com/api/v2/accounts/outlets/829100725420008/"
                                        },
                                        "billing_contact": {},
                                        "recipes": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "id": {
                                                        "type": "string",
                                                        "example": "349980442190000"
                                                    },
                                                    "name": {
                                                        "type": "string",
                                                        "example": "Spaghetti Bolognese"
                                                    },
                                                    "name_translations": {
                                                        "type": "object",
                                                        "properties": {}
                                                    }
                                                }
                                            }
                                        },
                                        "external_name": {},
                                        "internal_supplier_outlet": {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "string",
                                                    "example": "125040526960005"
                                                },
                                                "url": {
                                                    "type": "string",
                                                    "example": "https://app.apicbase.com/api/v2/suppliers/525220818060002/"
                                                },
                                                "first_name": {
                                                    "type": "string",
                                                    "example": "Peppa"
                                                },
                                                "last_name": {
                                                    "type": "string",
                                                    "example": "Pig"
                                                },
                                                "phone": {
                                                    "type": "string",
                                                    "example": ""
                                                },
                                                "email": {},
                                                "supplier_email_list": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string",
                                                        "example": "peppa.pig@apicbase.com"
                                                    }
                                                },
                                                "street": {
                                                    "type": "string",
                                                    "example": "Rue de la Loi"
                                                },
                                                "number": {
                                                    "type": "string",
                                                    "example": "1"
                                                },
                                                "postal_code": {
                                                    "type": "string",
                                                    "example": "1000"
                                                },
                                                "city": {
                                                    "type": "string",
                                                    "example": "Bruxelles"
                                                },
                                                "country": {
                                                    "type": "string",
                                                    "example": "Belgium"
                                                }
                                            }
                                        },
                                        "timezone": {},
                                        "description": {},
                                        "procurement_contact": {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "string",
                                                    "example": "225040036980003"
                                                },
                                                "first_name": {
                                                    "type": "string",
                                                    "example": "Luke"
                                                },
                                                "last_name": {
                                                    "type": "string",
                                                    "example": "Skywalker"
                                                },
                                                "phone": {},
                                                "email": {
                                                    "type": "string",
                                                    "example": "luke.skywalker@apicbase.com"
                                                },
                                                "supplier_email_list": {
                                                    "type": "array"
                                                }
                                            }
                                        },
                                        "contact": {
                                            "type": "object",
                                            "properties": {
                                                "full_name": {
                                                    "type": "string",
                                                    "example": "Baby Shark"
                                                },
                                                "first_name": {
                                                    "type": "string",
                                                    "example": "Baby"
                                                },
                                                "last_name": {
                                                    "type": "string",
                                                    "example": "Shark"
                                                },
                                                "avatar": {
                                                    "type": "string",
                                                    "example": "https://cdn-staging.apicbase.com/apicbase/images/avatar.png"
                                                },
                                                "telephone": {},
                                                "mobile": {},
                                                "email": {
                                                    "type": "string",
                                                    "example": "baby.shark@apicbase.com"
                                                }
                                            }
                                        },
                                        "suppliers": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "id": {
                                                        "type": "string",
                                                        "example": "825320333320003"
                                                    },
                                                    "name": {
                                                        "type": "string",
                                                        "example": "Mama Pasta"
                                                    }
                                                }
                                            }
                                        },
                                        "ingredients": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "id": {
                                                        "type": "string",
                                                        "example": "764556666890005"
                                                    },
                                                    "name": {
                                                        "type": "string",
                                                        "example": "Pasta Spaghetti"
                                                    },
                                                    "short_name": {
                                                        "type": "string",
                                                        "example": ""
                                                    },
                                                    "name_translations": {
                                                        "type": "object",
                                                        "properties": {}
                                                    }
                                                }
                                            }
                                        },
                                        "menus": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "id": {
                                                        "type": "string",
                                                        "example": "990400245400005"
                                                    },
                                                    "name": {
                                                        "type": "string",
                                                        "example": "Second Menu"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "deprecated": false
            },
            "patch": {
                "summary": "Edit Outlet",
                "description": "Edits an existing outlet.",
                "operationId": "edit-outlet",
                "parameters": [
                    {
                        "name": "outlet_id",
                        "in": "path",
                        "description": "The ID of the outlet to be updated.",
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "required": true
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "name": {
                                        "type": "string"
                                    },
                                    "description": {
                                        "type": "string"
                                    },
                                    "external_name": {
                                        "type": "string",
                                        "description": "This name will be visible e.g. in outgoing orders."
                                    },
                                    "timezone": {
                                        "type": "string",
                                        "description": "The timezone the outlet is located in. Must be a valid timezone, e.g. \"Europe/Brussels\"."
                                    },
                                    "supplier": {
                                        "type": "object",
                                        "description": "Corresponds to the outlet's \"Contact Details\".",
                                        "properties": {
                                            "first_name": {
                                                "type": "string"
                                            },
                                            "last_name": {
                                                "type": "string"
                                            },
                                            "mobile": {
                                                "type": "string"
                                            },
                                            "email": {
                                                "type": "string"
                                            },
                                            "street": {
                                                "type": "string"
                                            },
                                            "number": {
                                                "type": "string"
                                            },
                                            "postal_code": {
                                                "type": "string"
                                            },
                                            "city": {
                                                "type": "string"
                                            },
                                            "country": {
                                                "type": "string"
                                            },
                                            "internal_supplier_id": {
                                                "type": "integer",
                                                "format": "int32"
                                            }
                                        }
                                    },
                                    "billing_contact": {
                                        "type": "object",
                                        "properties": {
                                            "first_name": {
                                                "type": "string"
                                            },
                                            "last_name": {
                                                "type": "string"
                                            },
                                            "phone": {
                                                "type": "string"
                                            },
                                            "email": {
                                                "type": "string"
                                            },
                                            "street": {
                                                "type": "string"
                                            },
                                            "number": {
                                                "type": "string"
                                            },
                                            "postal_code": {
                                                "type": "string"
                                            },
                                            "city": {
                                                "type": "string"
                                            },
                                            "country": {
                                                "type": "string"
                                            }
                                        }
                                    },
                                    "procurement_contact": {
                                        "type": "object",
                                        "properties": {
                                            "first_name": {
                                                "type": "string"
                                            },
[...]
