{
  "openapi": "3.0.3",
  "info": {
    "title": "Datadog API",
    "description": "The Datadog API is an HTTP REST API that allows you to programmatically integrate with Datadog's monitoring, alerting, and observability platform. Use resource-oriented URLs and standard HTTP methods to manage monitors, dashboards, metrics, logs, incidents, SLOs, synthetics tests, and more.\n\nDatadog supports three authentication methods:\n- **API Key** (`DD-API-KEY` header) — required for all requests; identifies your organization.\n- **Application Key** (`DD-APPLICATION-KEY` header) — required for most endpoints; grants a user-scoped access context.\n- **OAuth 2.0** — Authorization Code flow with PKCE for third-party integrations and Marketplace apps.\n\nBoth v1 and v2 endpoints are served from the same base URL. The API returns JSON and uses standard HTTP status codes.",
    "version": "2.0",
    "contact": {
      "name": "Datadog Support",
      "url": "https://docs.datadoghq.com/api/latest/",
      "email": "support@datadoghq.com"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "servers": [
    {
      "url": "https://api.datadoghq.com",
      "description": "Datadog US1 (default)"
    },
    {
      "url": "https://api.datadoghq.eu",
      "description": "Datadog EU1"
    },
    {
      "url": "https://api.us3.datadoghq.com",
      "description": "Datadog US3"
    },
    {
      "url": "https://api.us5.datadoghq.com",
      "description": "Datadog US5"
    },
    {
      "url": "https://api.ap1.datadoghq.com",
      "description": "Datadog AP1"
    },
    {
      "url": "https://api.ddog-gov.com",
      "description": "Datadog US1-FED (GovCloud)"
    }
  ],
  "security": [
    {
      "apiKeyAuth": [],
      "appKeyAuth": []
    },
    {
      "datadog_oauth": []
    }
  ],
  "tags": [
    {
      "name": "Authentication",
      "description": "Validate API and application keys"
    },
    {
      "name": "Monitors",
      "description": "Create, edit, delete, and manage monitors that alert on metric thresholds, integration statuses, and more"
    },
    {
      "name": "Dashboards",
      "description": "Create and manage dashboards and dashboard lists for visualizing metrics, traces, and logs"
    },
    {
      "name": "Metrics",
      "description": "Query, submit, and manage metric data, tag configurations, and metadata"
    },
    {
      "name": "Events",
      "description": "Post events to the event stream and query existing events"
    },
    {
      "name": "Logs",
      "description": "Search, list, and send log entries to Datadog"
    },
    {
      "name": "Synthetics",
      "description": "Create and manage synthetic monitoring tests (API and browser tests)"
    },
    {
      "name": "Service Level Objectives",
      "description": "Create, edit, and manage SLOs based on monitors or metrics"
    },
    {
      "name": "Incidents",
      "description": "Create, update, and manage incident response workflows"
    },
    {
      "name": "Hosts",
      "description": "Get information about hosts reporting to Datadog"
    },
    {
      "name": "Tags",
      "description": "Assign and manage tags on hosts"
    },
    {
      "name": "Downtimes",
      "description": "Schedule and manage monitor downtimes to suppress alerts"
    },
    {
      "name": "Users",
      "description": "Create, disable, and manage user accounts in your organization"
    },
    {
      "name": "Roles",
      "description": "Create and manage roles and their permissions"
    },
    {
      "name": "Organizations",
      "description": "Manage organizations and multi-org accounts"
    },
    {
      "name": "Notebooks",
      "description": "Create and manage notebooks for data exploration and collaboration"
    },
    {
      "name": "Spans",
      "description": "Search and aggregate APM spans"
    },
    {
      "name": "Logs Metrics",
      "description": "Manage log-based metric definitions"
    },
    {
      "name": "Dashboard Lists",
      "description": "Organize dashboards into managed lists"
    },
    {
      "name": "Service Accounts",
      "description": "Create and manage service accounts for programmatic access"
    }
  ],
  "paths": {
    "/api/v1/validate": {
      "get": {
        "tags": ["Authentication"],
        "summary": "Validate API key",
        "description": "Check if the API key in the `DD-API-KEY` header is valid.",
        "operationId": "validateAPIKey",
        "responses": {
          "200": {
            "description": "API key is valid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthenticationValidationResponse"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        },
        "security": [
          {
            "apiKeyAuth": []
          }
        ]
      }
    },
    "/api/v1/check_run": {
      "post": {
        "tags": ["Authentication"],
        "summary": "Validate application key",
        "description": "Validate the application key in the `DD-APPLICATION-KEY` header.",
        "operationId": "validateAppKey",
        "responses": {
          "200": {
            "description": "Application key is valid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthenticationValidationResponse"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/api/v1/monitor": {
      "get": {
        "tags": ["Monitors"],
        "summary": "Get all monitors",
        "description": "Get all monitor details. Supports filtering by name, tags, and monitor type.",
        "operationId": "listMonitors",
        "parameters": [
          {
            "name": "group_states",
            "in": "query",
            "description": "Filter by comma-separated list of group states (e.g., `alert`, `warn`, `no data`).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "query",
            "description": "Filter monitors by name substring.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tags",
            "in": "query",
            "description": "Filter monitors by comma-separated list of tags.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "monitor_tags",
            "in": "query",
            "description": "Filter monitors by comma-separated list of monitor tags.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "with_downtimes",
            "in": "query",
            "description": "If true, include active downtimes.",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "id_offset",
            "in": "query",
            "description": "Return monitors with IDs greater than or equal to this value for pagination.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "$ref": "#/components/parameters/PageSize"
          },
          {
            "$ref": "#/components/parameters/PageNumber"
          }
        ],
        "responses": {
          "200": {
            "description": "List of monitors.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Monitor"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      },
      "post": {
        "tags": ["Monitors"],
        "summary": "Create a monitor",
        "description": "Create a monitor with the specified type, query, name, and options.",
        "operationId": "createMonitor",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MonitorCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Monitor created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Monitor"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/api/v1/monitor/{monitor_id}": {
      "get": {
        "tags": ["Monitors"],
        "summary": "Get a monitor",
        "description": "Get details for a single monitor by ID.",
        "operationId": "getMonitor",
        "parameters": [
          {
            "$ref": "#/components/parameters/MonitorId"
          },
          {
            "name": "group_states",
            "in": "query",
            "description": "Comma-separated list of group states to include.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "with_downtimes",
            "in": "query",
            "description": "If true, include active downtimes.",
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Monitor details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Monitor"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "put": {
        "tags": ["Monitors"],
        "summary": "Edit a monitor",
        "description": "Edit the specified monitor.",
        "operationId": "updateMonitor",
        "parameters": [
          {
            "$ref": "#/components/parameters/MonitorId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MonitorUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Monitor updated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Monitor"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "tags": ["Monitors"],
        "summary": "Delete a monitor",
        "description": "Delete the specified monitor.",
        "operationId": "deleteMonitor",
        "parameters": [
          {
            "$ref": "#/components/parameters/MonitorId"
          },
          {
            "name": "force",
            "in": "query",
            "description": "Delete the monitor even if it is referenced by other resources.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Monitor deleted.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeletedMonitorResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/v1/monitor/mute_all": {
      "post": {
        "tags": ["Monitors"],
        "summary": "Mute all monitors",
        "description": "Mute all monitors globally.",
        "operationId": "muteAllMonitors",
        "responses": {
          "200": {
            "description": "All monitors muted."
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/api/v1/monitor/unmute_all": {
      "post": {
        "tags": ["Monitors"],
        "summary": "Unmute all monitors",
        "description": "Unmute all monitors globally.",
        "operationId": "unmuteAllMonitors",
        "responses": {
          "200": {
            "description": "All monitors unmuted."
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/api/v1/monitor/{monitor_id}/mute": {
      "post": {
        "tags": ["Monitors"],
        "summary": "Mute a monitor",
        "description": "Mute the specified monitor.",
        "operationId": "muteMonitor",
        "parameters": [
          {
            "$ref": "#/components/parameters/MonitorId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MonitorMuteRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Monitor muted.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Monitor"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/v1/monitor/search": {
      "get": {
        "tags": ["Monitors"],
        "summary": "Search monitors",
        "description": "Search and filter monitors using a query string.",
        "operationId": "searchMonitors",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "Monitor search query following the monitor search syntax.",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/PageNumber"
          },
          {
            "$ref": "#/components/parameters/PageSize"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort field and direction (e.g., `name,asc`).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Monitor search results.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MonitorSearchResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/api/v1/dashboard": {
      "get": {
        "tags": ["Dashboards"],
        "summary": "Get all dashboards",
        "description": "Get all dashboards. Paginated with optional filtering.",
        "operationId": "listDashboards",
        "parameters": [
          {
            "name": "filter[shared]",
            "in": "query",
            "description": "When true, return only shared dashboards.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "filter[deleted]",
            "in": "query",
            "description": "When true, return only recently deleted dashboards.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "$ref": "#/components/parameters/PageSize"
          },
          {
            "$ref": "#/components/parameters/PageNumber"
          }
        ],
        "responses": {
          "200": {
            "description": "List of dashboards.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DashboardSummary"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      },
      "post": {
        "tags": ["Dashboards"],
        "summary": "Create a dashboard",
        "description": "Create a dashboard with the specified layout type and widgets.",
        "operationId": "createDashboard",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DashboardCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Dashboard created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Dashboard"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/api/v1/dashboard/{dashboard_id}": {
      "get": {
        "tags": ["Dashboards"],
        "summary": "Get a dashboard",
        "description": "Get a dashboard by its ID.",
        "operationId": "getDashboard",
        "parameters": [
          {
            "$ref": "#/components/parameters/DashboardId"
          }
        ],
        "responses": {
          "200": {
            "description": "Dashboard details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Dashboard"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "put": {
        "tags": ["Dashboards"],
        "summary": "Update a dashboard",
        "description": "Update a dashboard with the specified layout type and widgets.",
        "operationId": "updateDashboard",
        "parameters": [
          {
            "$ref": "#/components/parameters/DashboardId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DashboardCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Dashboard updated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Dashboard"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "tags": ["Dashboards"],
        "summary": "Delete a dashboard",
        "description": "Delete a dashboard by its ID.",
        "operationId": "deleteDashboard",
        "parameters": [
          {
            "$ref": "#/components/parameters/DashboardId"
          }
        ],
        "responses": {
          "200": {
            "description": "Dashboard deleted.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DashboardDeleteResponse"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/v2/dashboard/lists/manual": {
      "get": {
        "tags": ["Dashboard Lists"],
        "summary": "Get all dashboard lists",
        "description": "Fetch all of your existing dashboard list definitions.",
        "operationId": "listDashboardLists",
        "responses": {
          "200": {
            "description": "List of dashboard lists.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DashboardListsResponse"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      },
      "post": {
        "tags": ["Dashboard Lists"],
        "summary": "Create a dashboard list",
        "description": "Create a new dashboard list.",
        "operationId": "createDashboardList",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DashboardListCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Dashboard list created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DashboardList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/api/v1/query": {
      "get": {
        "tags": ["Metrics"],
        "summary": "Query timeseries points",
        "description": "Query timeseries points for a given metric.",
        "operationId": "queryMetrics",
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "required": true,
            "description": "Start of the queried time period as a POSIX timestamp.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": true,
            "description": "End of the queried time period as a POSIX timestamp.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "query",
            "in": "query",
            "required": true,
            "description": "Datadog metric query string.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Timeseries data.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MetricsQueryResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/api/v2/series": {
      "post": {
        "tags": ["Metrics"],
        "summary": "Submit metrics",
        "description": "Submit metrics to Datadog. Compression with gzip or deflate is supported and recommended.",
        "operationId": "submitMetrics",
        "parameters": [
          {
            "name": "Content-Encoding",
            "in": "header",
            "description": "HTTP header for payload compression (`gzip` or `deflate`).",
            "schema": {
              "type": "string",
              "enum": ["gzip", "deflate"]
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MetricPayload"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Payload accepted for processing.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IntakePayloadAccepted"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "408": {
            "description": "Request timeout."
          },
          "413": {
            "description": "Payload too large (max 500,000 metrics per request, 512KB uncompressed)."
          }
        },
        "security": [
          {
            "apiKeyAuth": []
          }
        ]
      }
    },
    "/api/v2/metrics": {
      "get": {
        "tags": ["Metrics"],
        "summary": "List active metrics",
        "description": "Get the list of actively reporting metrics from a given time until now.",
        "operationId": "listActiveMetrics",
        "parameters": [
          {
            "name": "filter[configured]",
            "in": "query",
            "description": "Filter metrics with or without tag configurations.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "filter[tags_configured]",
            "in": "query",
            "description": "Filter tag configuration by configured tags.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[metric_type]",
            "in": "query",
            "description": "Filter by metric type.",
            "schema": {
              "type": "string",
              "enum": ["non_distribution", "distribution"]
            }
          },
          {
            "name": "filter[include_percentile_aggregations]",
            "in": "query",
            "description": "Include percentile aggregation information.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "filter[queried]",
            "in": "query",
            "description": "Filter metrics queried in the last specified number of hours.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "filter[tags]",
            "in": "query",
            "description": "Filter metrics by tags.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "window[seconds]",
            "in": "query",
            "description": "Number of seconds of lookback for actively reporting metrics.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "$ref": "#/components/parameters/PageSize"
          },
          {
            "name": "page[cursor]",
            "in": "query",
            "description": "Cursor for pagination.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of active metrics.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MetricsListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/api/v2/metrics/{metric_name}": {
      "get": {
        "tags": ["Metrics"],
        "summary": "Get metric metadata",
        "description": "Get metadata about a specific metric.",
        "operationId": "getMetricMetadata",
        "parameters": [
          {
            "name": "metric_name",
            "in": "path",
            "required": true,
            "description": "The name of the metric.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Metric metadata.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MetricMetadata"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/v2/metrics/{metric_name}/tags": {
      "get": {
        "tags": ["Metrics"],
        "summary": "List tag configurations",
        "description": "Returns the tag configuration for a given metric name.",
        "operationId": "listTagConfigurations",
        "parameters": [
          {
            "name": "metric_name",
            "in": "path",
            "required": true,
            "description": "The name of the metric.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Tag configurations for the metric.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MetricTagConfigurationResponse"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/v1/events": {
      "get": {
        "tags": ["Events"],
        "summary": "Get a list of events",
        "description": "Query the event stream and return events matching the search criteria.",
        "operationId": "listEvents",
        "parameters": [
          {
            "name": "start",
            "in": "query",
            "required": true,
            "description": "POSIX timestamp for the start of the query window.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "end",
            "in": "query",
            "required": true,
            "description": "POSIX timestamp for the end of the query window.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "priority",
            "in": "query",
            "description": "Filter by priority (`normal` or `low`).",
            "schema": {
              "type": "string",
              "enum": ["normal", "low"]
            }
          },
          {
            "name": "sources",
            "in": "query",
            "description": "Comma-separated list of sources.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tags",
            "in": "query",
            "description": "Comma-separated list of tags.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "unaggregated",
            "in": "query",
            "description": "Return unaggregated events.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "exclude_aggregate",
            "in": "query",
            "description": "Exclude aggregate events.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "$ref": "#/components/parameters/PageNumber"
          }
        ],
        "responses": {
          "200": {
            "description": "Event list.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      },
      "post": {
        "tags": ["Events"],
        "summary": "Post an event",
        "description": "Post an event to the event stream.",
        "operationId": "createEvent",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EventCreateRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Event accepted.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventCreateResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        },
        "security": [
          {
            "apiKeyAuth": []
          }
        ]
      }
    },
    "/api/v1/events/{event_id}": {
      "get": {
        "tags": ["Events"],
        "summary": "Get an event",
        "description": "Get the details of a specific event by its ID.",
        "operationId": "getEvent",
        "parameters": [
          {
            "name": "event_id",
            "in": "path",
            "required": true,
            "description": "The ID of the event.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Event details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventResponse"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/v2/logs/events/search": {
      "post": {
        "tags": ["Logs"],
        "summary": "Search logs",
        "description": "Search and filter logs. Returns log events matching the search query.",
        "operationId": "searchLogs",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LogsSearchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Log search results.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LogsSearchResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/api/v2/logs/events": {
      "get": {
        "tags": ["Logs"],
        "summary": "List logs",
        "description": "List logs matching the specified query filter.",
        "operationId": "listLogs",
        "parameters": [
          {
            "name": "filter[query]",
            "in": "query",
            "description": "Search query following Datadog log search syntax.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[indexes]",
            "in": "query",
            "description": "Comma-separated log index names to search.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[from]",
            "in": "query",
            "description": "Minimum timestamp for requested logs (ISO 8601).",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "filter[to]",
            "in": "query",
            "description": "Maximum timestamp for requested logs (ISO 8601).",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort order: `timestamp` (ascending) or `-timestamp` (descending, default).",
            "schema": {
              "type": "string",
              "enum": ["timestamp", "-timestamp"],
              "default": "-timestamp"
            }
          },
          {
            "name": "page[cursor]",
            "in": "query",
            "description": "Cursor for pagination.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page[limit]",
            "in": "query",
            "description": "Maximum number of logs to return (max 1000).",
            "schema": {
              "type": "integer",
              "default": 10,
              "maximum": 1000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Logs list.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LogsListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/api/v1/input": {
      "post": {
        "tags": ["Logs"],
        "summary": "Send logs",
        "description": "Send log entries to Datadog. Accepts JSON or plain text payloads.",
        "operationId": "sendLogs",
        "parameters": [
          {
            "name": "Content-Encoding",
            "in": "header",
            "description": "HTTP header for payload compression.",
            "schema": {
              "type": "string",
              "enum": ["gzip", "deflate"]
            }
          },
          {
            "name": "ddtags",
            "in": "query",
            "description": "Tags associated with the logs in a comma-separated format.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/LogEntry"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Logs received.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IntakePayloadAccepted"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        },
        "security": [
          {
            "apiKeyAuth": []
          }
        ]
      }
    },
    "/api/v2/logs/config/metrics": {
      "get": {
        "tags": ["Logs Metrics"],
        "summary": "Get all log-based metrics",
        "description": "Get the list of configured log-based metrics with their definitions.",
        "operationId": "listLogsMetrics",
        "responses": {
          "200": {
            "description": "List of log-based metrics.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LogsMetricsResponse"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      },
      "post": {
        "tags": ["Logs Metrics"],
        "summary": "Create a log-based metric",
        "description": "Create a metric based on matched log events.",
        "operationId": "createLogsMetric",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LogsMetricCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Log-based metric created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LogsMetric"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "description": "Conflict - metric already exists."
          }
        }
      }
    },
    "/api/v2/logs/config/metrics/{metric_id}": {
      "get": {
        "tags": ["Logs Metrics"],
        "summary": "Get a log-based metric",
        "description": "Get a specific log-based metric by its ID.",
        "operationId": "getLogsMetric",
        "parameters": [
          {
            "name": "metric_id",
            "in": "path",
            "required": true,
            "description": "The name of the log-based metric.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Log-based metric details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LogsMetric"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "patch": {
        "tags": ["Logs Metrics"],
        "summary": "Update a log-based metric",
        "description": "Update a specific log-based metric.",
        "operationId": "updateLogsMetric",
        "parameters": [
          {
            "name": "metric_id",
            "in": "path",
            "required": true,
            "description": "The name of the log-based metric.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LogsMetricUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Log-based metric updated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LogsMetric"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "tags": ["Logs Metrics"],
        "summary": "Delete a log-based metric",
        "description": "Delete a specific log-based metric.",
        "operationId": "deleteLogsMetric",
        "parameters": [
          {
            "name": "metric_id",
            "in": "path",
            "required": true,
            "description": "The name of the log-based metric.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Log-based metric deleted."
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/v1/synthetics/tests": {
      "get": {
        "tags": ["Synthetics"],
        "summary": "Get all tests",
        "description": "Get the list of all synthetics tests.",
        "operationId": "listSyntheticsTests",
        "parameters": [
          {
            "name": "page_size",
            "in": "query",
            "description": "Number of tests to return per page.",
            "schema": {
              "type": "integer",
              "format": "int64",
              "default": 100
            }
          },
          {
            "name": "page_number",
            "in": "query",
            "description": "Page number for pagination.",
            "schema": {
              "type": "integer",
              "format": "int64",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of synthetics tests.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SyntheticsTestsListResponse"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/v1/synthetics/tests/api": {
      "post": {
        "tags": ["Synthetics"],
        "summary": "Create an API test",
        "description": "Create a synthetics API test.",
        "operationId": "createSyntheticsAPITest",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SyntheticsAPITestCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "API test created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SyntheticsTest"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "402": {
            "description": "Test quota reached."
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/api/v1/synthetics/tests/browser": {
      "post": {
        "tags": ["Synthetics"],
        "summary": "Create a browser test",
        "description": "Create a synthetics browser test.",
        "operationId": "createSyntheticsBrowserTest",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SyntheticsBrowserTestCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Browser test created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SyntheticsTest"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "402": {
            "description": "Test quota reached."
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/api/v1/synthetics/tests/{public_id}": {
      "get": {
        "tags": ["Synthetics"],
        "summary": "Get a test",
        "description": "Get a specific synthetics test by its public ID.",
        "operationId": "getSyntheticsTest",
        "parameters": [
          {
            "name": "public_id",
            "in": "path",
            "required": true,
            "description": "The public ID of the test.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Test details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SyntheticsTest"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "put": {
        "tags": ["Synthetics"],
        "summary": "Edit a test",
        "description": "Edit a synthetics test.",
        "operationId": "updateSyntheticsTest",
        "parameters": [
          {
            "name": "public_id",
            "in": "path",
            "required": true,
            "description": "The public ID of the test.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SyntheticsAPITestCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Test updated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SyntheticsTest"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "tags": ["Synthetics"],
        "summary": "Delete a test",
        "description": "Delete a synthetics test.",
        "operationId": "deleteSyntheticsTest",
        "parameters": [
          {
            "name": "public_id",
            "in": "path",
            "required": true,
            "description": "The public ID of the test.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Test deleted."
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/v1/synthetics/tests/{public_id}/results": {
      "get": {
        "tags": ["Synthetics"],
        "summary": "Get test results",
        "description": "Get the most recent results for a specific synthetics test.",
        "operationId": "getSyntheticsTestResults",
        "parameters": [
          {
            "name": "public_id",
            "in": "path",
            "required": true,
            "description": "The public ID of the test.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Test results.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SyntheticsTestResultsResponse"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/v1/synthetics/tests/trigger": {
      "post": {
        "tags": ["Synthetics"],
        "summary": "Trigger tests",
        "description": "Trigger one or more synthetics tests to run immediately.",
        "operationId": "triggerSyntheticsTests",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SyntheticsTriggerRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tests triggered.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SyntheticsTriggerResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/api/v1/synthetics/locations": {
      "get": {
        "tags": ["Synthetics"],
        "summary": "Get all locations",
        "description": "Get the list of public and private locations available for synthetics tests.",
        "operationId": "listSyntheticsLocations",
        "responses": {
          "200": {
            "description": "List of locations.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SyntheticsLocationsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/slo": {
      "get": {
        "tags": ["Service Level Objectives"],
        "summary": "Get all SLOs",
        "description": "Get a list of SLOs with optional filtering.",
        "operationId": "listSLOs",
        "parameters": [
          {
            "name": "ids",
            "in": "query",
            "description": "Comma-separated list of SLO IDs.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "query",
            "in": "query",
            "description": "Search query to filter SLOs.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tags_query",
            "in": "query",
            "description": "Filter by tags.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "metrics_query",
            "in": "query",
            "description": "Filter by metric query.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of SLOs to return.",
            "schema": {
              "type": "integer",
              "format": "int64",
              "default": 1000
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Result offset for pagination.",
            "schema": {
              "type": "integer",
              "format": "int64",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "SLO list.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SLOListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "post": {
        "tags": ["Service Level Objectives"],
        "summary": "Create an SLO",
        "description": "Create a service level objective.",
        "operationId": "createSLO",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SLOCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "SLO created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SLOResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/api/v1/slo/{slo_id}": {
      "get": {
        "tags": ["Service Level Objectives"],
        "summary": "Get an SLO",
        "description": "Get a service level objective by its ID.",
        "operationId": "getSLO",
        "parameters": [
          {
            "$ref": "#/components/parameters/SLOId"
          },
          {
            "name": "with_configured_alert_ids",
            "in": "query",
            "description": "Include configured alert IDs.",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "SLO details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SLOResponse"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "put": {
        "tags": ["Service Level Objectives"],
        "summary": "Update an SLO",
        "description": "Update a service level objective.",
        "operationId": "updateSLO",
        "parameters": [
          {
            "$ref": "#/components/parameters/SLOId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SLOCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "SLO updated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SLOResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "tags": ["Service Level Objectives"],
        "summary": "Delete an SLO",
        "description": "Delete a service level objective by its ID.",
        "operationId": "deleteSLO",
        "parameters": [
          {
            "$ref": "#/components/parameters/SLOId"
          },
          {
            "name": "force",
            "in": "query",
            "description": "Delete even if the SLO is referenced by a dashboard or other resource.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "SLO deleted.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SLODeleteResponse"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "description": "Conflict - SLO is referenced by other resources."
          }
        }
      }
    },
    "/api/v1/slo/{slo_id}/history": {
      "get": {
        "tags": ["Service Level Objectives"],
        "summary": "Get SLO history",
        "description": "Get the SLO history for a given time period.",
        "operationId": "getSLOHistory",
        "parameters": [
          {
            "$ref": "#/components/parameters/SLOId"
          },
          {
            "name": "from_ts",
            "in": "query",
            "required": true,
            "description": "Start of the time period (POSIX timestamp).",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "to_ts",
            "in": "query",
            "required": true,
            "description": "End of the time period (POSIX timestamp).",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "target",
            "in": "query",
            "description": "SLO target percentage for the time period.",
            "schema": {
              "type": "number",
              "format": "double"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "SLO history data.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SLOHistoryResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/v2/incidents": {
      "get": {
        "tags": ["Incidents"],
        "summary": "Get a list of incidents",
        "description": "Get all incidents for the user's organization.",
        "operationId": "listIncidents",
        "parameters": [
          {
            "name": "include",
            "in": "query",
            "description": "Comma-separated list of related resources to include.",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/PageSize"
          },
          {
            "name": "page[offset]",
            "in": "query",
            "description": "Offset for pagination.",
            "schema": {
              "type": "integer",
              "format": "int64",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Incidents list.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IncidentsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "post": {
        "tags": ["Incidents"],
        "summary": "Create an incident",
        "description": "Create a new incident.",
        "operationId": "createIncident",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IncidentCreateRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Incident created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IncidentResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/v2/incidents/{incident_id}": {
      "get": {
        "tags": ["Incidents"],
        "summary": "Get an incident",
        "description": "Get the details of an incident by its ID.",
        "operationId": "getIncident",
        "parameters": [
          {
            "$ref": "#/components/parameters/IncidentId"
          },
          {
            "name": "include",
            "in": "query",
            "description": "Comma-separated list of related resources to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Incident details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IncidentResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "patch": {
        "tags": ["Incidents"],
        "summary": "Update an incident",
        "description": "Update an incident by its ID.",
        "operationId": "updateIncident",
        "parameters": [
          {
            "$ref": "#/components/parameters/IncidentId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IncidentUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Incident updated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IncidentResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "tags": ["Incidents"],
        "summary": "Delete an incident",
        "description": "Delete an existing incident by its ID.",
        "operationId": "deleteIncident",
        "parameters": [
          {
            "$ref": "#/components/parameters/IncidentId"
          }
        ],
        "responses": {
          "204": {
            "description": "Incident deleted."
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/v1/hosts": {
      "get": {
        "tags": ["Hosts"],
        "summary": "Get all hosts",
        "description": "Search for hosts with optional filtering and sorting.",
        "operationId": "listHosts",
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "description": "Filter string for search (e.g., `host:myhost`).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort_field",
            "in": "query",
            "description": "Sort results by this field.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort_dir",
            "in": "query",
            "description": "Direction of sort (`asc` or `desc`).",
            "schema": {
              "type": "string",
              "enum": ["asc", "desc"]
            }
          },
          {
            "name": "start",
            "in": "query",
            "description": "Number of results to skip for pagination.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "count",
            "in": "query",
            "description": "Number of hosts to return (max 1000).",
            "schema": {
              "type": "integer",
              "format": "int64",
              "maximum": 1000
            }
          },
          {
            "name": "from",
            "in": "query",
            "description": "Seconds since UNIX epoch from which to include hosts.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "include_muted_hosts_data",
            "in": "query",
            "description": "Include muted host details.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "include_hosts_metadata",
            "in": "query",
            "description": "Include metadata from the agent.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Host list.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HostListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/api/v1/hosts/totals": {
      "get": {
        "tags": ["Hosts"],
        "summary": "Get total number of hosts",
        "description": "Get the total number of active and up hosts in your organization.",
        "operationId": "getHostTotals",
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "description": "Seconds since UNIX epoch from which to include hosts.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Host totals.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HostTotalsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/api/v1/host/{host_name}/mute": {
      "post": {
        "tags": ["Hosts"],
        "summary": "Mute a host",
        "description": "Mute a host to suppress alerts.",
        "operationId": "muteHost",
        "parameters": [
          {
            "name": "host_name",
            "in": "path",
            "required": true,
            "description": "The name of the host.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/HostMuteRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Host muted.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HostMuteResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/api/v1/host/{host_name}/unmute": {
      "post": {
        "tags": ["Hosts"],
        "summary": "Unmute a host",
        "description": "Unmute a host.",
        "operationId": "unmuteHost",
        "parameters": [
          {
            "name": "host_name",
            "in": "path",
            "required": true,
            "description": "The name of the host.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Host unmuted.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HostMuteResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/api/v1/tags/hosts": {
      "get": {
        "tags": ["Tags"],
        "summary": "Get all host tags",
        "description": "Return a mapping of tags to hosts for your whole infrastructure.",
        "operationId": "listHostTags",
        "parameters": [
          {
            "name": "source",
            "in": "query",
            "description": "Source of the tags (e.g., `datadog-agent`).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Tag-to-host mapping.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HostTagsResponse"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/v1/tags/hosts/{host_name}": {
      "get": {
        "tags": ["Tags"],
        "summary": "Get host tags",
        "description": "Return the list of tags for a specific host.",
        "operationId": "getHostTags",
        "parameters": [
          {
            "name": "host_name",
            "in": "path",
            "required": true,
            "description": "The host name.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "source",
            "in": "query",
            "description": "Source of the tags.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Tags for the host.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HostTagsDetailResponse"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "post": {
        "tags": ["Tags"],
        "summary": "Add tags to a host",
        "description": "Add tags to a specific host.",
        "operationId": "createHostTags",
        "parameters": [
          {
            "name": "host_name",
            "in": "path",
            "required": true,
            "description": "The host name.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "source",
            "in": "query",
            "description": "Source of the tags.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/HostTagsUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Tags added.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HostTagsDetailResponse"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "put": {
        "tags": ["Tags"],
        "summary": "Update host tags",
        "description": "Replace all tags for a specific host.",
        "operationId": "updateHostTags",
        "parameters": [
          {
            "name": "host_name",
            "in": "path",
            "required": true,
            "description": "The host name.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "source",
            "in": "query",
            "description": "Source of the tags.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/HostTagsUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tags updated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HostTagsDetailResponse"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "tags": ["Tags"],
        "summary": "Remove host tags",
        "description": "Remove all user-assigned tags from a host.",
        "operationId": "deleteHostTags",
        "parameters": [
          {
            "name": "host_name",
            "in": "path",
            "required": true,
            "description": "The host name.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "source",
            "in": "query",
            "description": "Source of the tags.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Tags removed."
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/v2/downtime": {
      "get": {
        "tags": ["Downtimes"],
        "summary": "Get all downtimes",
        "description": "Get all active and scheduled downtimes.",
        "operationId": "listDowntimes",
        "parameters": [
          {
            "name": "current_only",
            "in": "query",
            "description": "Return only currently active downtimes.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "include",
            "in": "query",
            "description": "Comma-separated list of related resources to include.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page[offset]",
            "in": "query",
            "description": "Offset for pagination.",
            "schema": {
              "type": "integer",
              "format": "int64",
              "default": 0
            }
          },
          {
            "$ref": "#/components/parameters/PageSize"
          }
        ],
        "responses": {
          "200": {
            "description": "Downtimes list.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DowntimesResponse"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      },
      "post": {
        "tags": ["Downtimes"],
        "summary": "Schedule a downtime",
        "description": "Schedule a downtime to suppress monitor alerts.",
        "operationId": "createDowntime",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DowntimeCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Downtime created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DowntimeResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/api/v2/downtime/{downtime_id}": {
      "get": {
        "tags": ["Downtimes"],
        "summary": "Get a downtime",
        "description": "Get details of a specific downtime.",
        "operationId": "getDowntime",
        "parameters": [
          {
            "$ref": "#/components/parameters/DowntimeId"
          },
          {
            "name": "include",
            "in": "query",
            "description": "Comma-separated list of related resources to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Downtime details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DowntimeResponse"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "patch": {
        "tags": ["Downtimes"],
        "summary": "Update a downtime",
        "description": "Update a scheduled downtime.",
        "operationId": "updateDowntime",
        "parameters": [
          {
            "$ref": "#/components/parameters/DowntimeId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DowntimeUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Downtime updated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DowntimeResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "tags": ["Downtimes"],
        "summary": "Cancel a downtime",
        "description": "Cancel a scheduled downtime.",
        "operationId": "cancelDowntime",
        "parameters": [
          {
            "$ref": "#/components/parameters/DowntimeId"
          }
        ],
        "responses": {
          "204": {
            "description": "Downtime cancelled."
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/v2/users": {
      "get": {
        "tags": ["Users"],
        "summary": "List all users",
        "description": "Get the list of all users in the organization with pagination.",
        "operationId": "listUsers",
        "parameters": [
          {
            "$ref": "#/components/parameters/PageSize"
          },
          {
            "name": "page[number]",
            "in": "query",
            "description": "Page number for pagination (zero-based).",
            "schema": {
              "type": "integer",
              "format": "int64",
              "default": 0
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort field and direction (e.g., `name`, `-name`).",
            "schema": {
              "type": "string",
              "default": "name"
            }
          },
          {
            "name": "sort_dir",
            "in": "query",
            "description": "Direction of sort.",
            "schema": {
              "type": "string",
              "enum": ["asc", "desc"]
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "Filter by name, email, or status.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[status]",
            "in": "query",
            "description": "Filter by user status.",
            "schema": {
              "type": "string",
              "enum": ["Active", "Pending", "Disabled"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Users list.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UsersResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      },
      "post": {
        "tags": ["Users"],
        "summary": "Create a user",
        "description": "Create a new user invitation. The user receives an email invitation.",
        "operationId": "createUser",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserCreateRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "User created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/api/v2/users/{user_id}": {
      "get": {
        "tags": ["Users"],
        "summary": "Get user details",
        "description": "Get a user's details by their ID.",
        "operationId": "getUser",
        "parameters": [
          {
            "$ref": "#/components/parameters/UserId"
          }
        ],
        "responses": {
          "200": {
            "description": "User details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserResponse"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "patch": {
        "tags": ["Users"],
        "summary": "Update a user",
        "description": "Update a user's details.",
        "operationId": "updateUser",
        "parameters": [
          {
            "$ref": "#/components/parameters/UserId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User updated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/v2/users/{user_id}/orgs": {
      "get": {
        "tags": ["Users"],
        "summary": "Get a user's organizations",
        "description": "Get the list of organizations a user belongs to.",
        "operationId": "getUserOrganizations",
        "parameters": [
          {
            "$ref": "#/components/parameters/UserId"
          }
        ],
        "responses": {
          "200": {
            "description": "User organizations.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserOrganizationsResponse"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/v2/users/{user_id}/permissions": {
      "get": {
        "tags": ["Users"],
        "summary": "Get a user's permissions",
        "description": "Get the list of permissions granted to a user.",
        "operationId": "getUserPermissions",
        "parameters": [
          {
            "$ref": "#/components/parameters/UserId"
          }
        ],
        "responses": {
          "200": {
            "description": "User permissions.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserPermissionsResponse"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/v2/roles": {
      "get": {
        "tags": ["Roles"],
        "summary": "List roles",
        "description": "Get all roles, including custom roles.",
        "operationId": "listRoles",
        "parameters": [
          {
            "$ref": "#/components/parameters/PageSize"
          },
          {
            "name": "page[number]",
            "in": "query",
            "description": "Page number.",
            "schema": {
              "type": "integer",
              "format": "int64",
              "default": 0
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort roles by field.",
            "schema": {
              "type": "string",
              "enum": ["name", "-name", "modified_at", "-modified_at", "user_count", "-user_count"],
              "default": "name"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "Filter roles by name.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[id]",
            "in": "query",
            "description": "Filter roles by ID.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Roles list.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RolesResponse"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      },
      "post": {
        "tags": ["Roles"],
        "summary": "Create a role",
        "description": "Create a new role with specified permissions.",
        "operationId": "createRole",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RoleCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Role created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RoleResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/api/v2/roles/{role_id}": {
      "get": {
        "tags": ["Roles"],
        "summary": "Get a role",
        "description": "Get a role in the organization by its ID.",
        "operationId": "getRole",
        "parameters": [
          {
            "$ref": "#/components/parameters/RoleId"
          }
        ],
        "responses": {
          "200": {
            "description": "Role details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RoleResponse"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "patch": {
        "tags": ["Roles"],
        "summary": "Update a role",
        "description": "Update an existing role.",
        "operationId": "updateRole",
        "parameters": [
          {
            "$ref": "#/components/parameters/RoleId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RoleUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Role updated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RoleResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "description": "Unprocessable entity."
          }
        }
      },
      "delete": {
        "tags": ["Roles"],
        "summary": "Delete a role",
        "description": "Delete a role by its ID.",
        "operationId": "deleteRole",
        "parameters": [
          {
            "$ref": "#/components/parameters/RoleId"
          }
        ],
        "responses": {
          "204": {
            "description": "Role deleted."
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/v2/roles/{role_id}/permissions": {
      "get": {
        "tags": ["Roles"],
        "summary": "List role permissions",
        "description": "Get the list of permissions granted to a role.",
        "operationId": "listRolePermissions",
        "parameters": [
          {
            "$ref": "#/components/parameters/RoleId"
          }
        ],
        "responses": {
          "200": {
            "description": "Permissions for the role.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PermissionsResponse"
                }
              }
            }
          },
          "403": {
[...]
