{
  "openapi": "3.0.3",
  "info": {
    "title": "BigQuery API",
    "description": "A data platform for customers to create, manage, share and query data.",
    "version": "v2",
    "contact": {
      "name": "Google",
      "url": "https://cloud.google.com/bigquery/"
    },
    "license": {
      "name": "Creative Commons Attribution 3.0",
      "url": "http://creativecommons.org/licenses/by/3.0/"
    },
    "x-discovery-doc-revision": "20260118",
    "x-logo": {
      "url": "https://www.gstatic.com/devrel-devsite/prod/v0e0f589edd85502a40d78d7d0f079ff00e9dc2af1e3033d4fc2c3a8efdb39685/cloud/images/favicons/onecloud/super_cloud.png"
    }
  },
  "externalDocs": {
    "url": "https://cloud.google.com/bigquery/"
  },
  "servers": [
    {
      "url": "https://bigquery.googleapis.com"
    }
  ],
  "security": [
    {
      "OAuth2": []
    },
    {
      "ApiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "datasets",
      "description": "Manage BigQuery datasets within projects."
    },
    {
      "name": "jobs",
      "description": "Manage BigQuery jobs including queries, loads, extracts, and copies."
    },
    {
      "name": "models",
      "description": "Manage BigQuery ML models."
    },
    {
      "name": "projects",
      "description": "List and manage BigQuery projects."
    },
    {
      "name": "routines",
      "description": "Manage BigQuery routines (UDFs and stored procedures)."
    },
    {
      "name": "rowAccessPolicies",
      "description": "Manage row-level access policies on BigQuery tables."
    },
    {
      "name": "tabledata",
      "description": "Insert and read data in BigQuery tables."
    },
    {
      "name": "tables",
      "description": "Manage BigQuery tables within datasets."
    }
  ],
  "paths": {
    "/bigquery/v2/projects": {
      "get": {
        "operationId": "bigquery.projects.list",
        "summary": "RPC to list projects to which the user has been granted any project role. Users of this method are encouraged to conside",
        "description": "RPC to list projects to which the user has been granted any project role. Users of this method are encouraged to consider the [Resource Manager](https://cloud.google.com/resource-manager/docs/) API, which provides the underlying data for this method and has more capabilities.",
        "tags": [
          "projects"
        ],
        "parameters": [
          {
            "name": "maxResults",
            "in": "query",
            "description": "`maxResults` unset returns all results, up to 50 per page. Additionally, the number of projects in a page may be fewer than `maxResults` because projects are retrieved and then filtered to only projects with the BigQuery API enabled.",
            "schema": {
              "type": "integer",
              "format": "uint32"
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "Page token, returned by a previous call, to request the next page of results. If not present, no further pages are present.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectList"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "https://www.googleapis.com/auth/bigquery",
              "https://www.googleapis.com/auth/cloud-platform",
              "https://www.googleapis.com/auth/cloud-platform.read-only"
            ]
          },
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/bigquery/v2/projects/{projectId}/datasets": {
      "post": {
        "operationId": "bigquery.datasets.insert",
        "summary": "Creates a new empty dataset.",
        "description": "Creates a new empty dataset.",
        "tags": [
          "datasets"
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "Required. Project ID of the new dataset",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            }
          },
          {
            "name": "accessPolicyVersion",
            "in": "query",
            "description": "Optional. The version of the provided access policy schema. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. This version refers to the schema version of the access policy and not the version of access policy. This field's value can be equal or more than the access policy schema provided in the request. For example, * Requests with conditional access policy binding in datasets must specify version 3. * But dataset with no conditional role bindings in access policy may specify any valid value or leave the field unset. If unset or if 0 or 1 value is used for dataset with conditional bindings, request will be rejected. This field will be mapped to IAM Policy version (https://cloud.google.com/iam/docs/policies#versions) and will be used to set policy in IAM.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Dataset"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Dataset"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "https://www.googleapis.com/auth/bigquery",
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "ApiKeyAuth": []
          }
        ]
      },
      "get": {
        "operationId": "bigquery.datasets.list",
        "summary": "Lists all datasets in the specified project to which the user has been granted the READER dataset role.",
        "description": "Lists all datasets in the specified project to which the user has been granted the READER dataset role.",
        "tags": [
          "datasets"
        ],
        "parameters": [
          {
            "name": "maxResults",
            "in": "query",
            "description": "The maximum number of results to return in a single response page. Leverage the page tokens to iterate through the entire collection.",
            "schema": {
              "type": "integer",
              "format": "uint32"
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "Page token, returned by a previous call, to request the next page of results",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "An expression for filtering the results of the request by label. The syntax is `labels.[:]`. Multiple filters can be AND-ed together by connecting with a space. Example: `labels.department:receiving labels.active`. See [Filtering datasets using labels](https://cloud.google.com/bigquery/docs/filtering-labels#filtering_datasets_using_labels) for details.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "projectId",
            "in": "path",
            "description": "Required. Project ID of the datasets to be listed",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            }
          },
          {
            "name": "all",
            "in": "query",
            "description": "Whether to list all datasets, including hidden ones",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DatasetList"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "https://www.googleapis.com/auth/bigquery",
              "https://www.googleapis.com/auth/cloud-platform",
              "https://www.googleapis.com/auth/cloud-platform.read-only"
            ]
          },
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/bigquery/v2/projects/{projectId}/datasets/{datasetId}": {
      "patch": {
        "operationId": "bigquery.datasets.patch",
        "summary": "Updates information in an existing dataset. The update method replaces the entire dataset resource, whereas the patch me",
        "description": "Updates information in an existing dataset. The update method replaces the entire dataset resource, whereas the patch method only replaces fields that are provided in the submitted dataset resource. This method supports RFC5789 patch semantics.",
        "tags": [
          "datasets"
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "Required. Project ID of the dataset being updated",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            }
          },
          {
            "name": "updateMode",
            "in": "query",
            "description": "Optional. Specifies the fields of dataset that update/patch operation is targeting By default, both metadata and ACL fields are updated.",
            "schema": {
              "type": "string",
              "enum": [
                "UPDATE_MODE_UNSPECIFIED",
                "UPDATE_METADATA",
                "UPDATE_ACL",
                "UPDATE_FULL"
              ]
            }
          },
          {
            "name": "datasetId",
            "in": "path",
            "description": "Required. Dataset ID of the dataset being updated",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            }
          },
          {
            "name": "accessPolicyVersion",
            "in": "query",
            "description": "Optional. The version of the provided access policy schema. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. This version refers to the schema version of the access policy and not the version of access policy. This field's value can be equal or more than the access policy schema provided in the request. For example, * Operations updating conditional access policy binding in datasets must specify version 3. Some of the operations are : - Adding a new access policy entry with condition. - Removing an access policy entry with condition. - Updating an access policy entry with condition. * But dataset with no conditional role bindings in access policy may specify any valid value or leave the field unset. If unset or if 0 or 1 value is used for dataset with conditional bindings, request will be rejected. This field will be mapped to IAM Policy version (https://cloud.google.com/iam/docs/policies#versions) and will be used to set policy in IAM.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Dataset"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Dataset"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "https://www.googleapis.com/auth/bigquery",
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "ApiKeyAuth": []
          }
        ]
      },
      "delete": {
        "operationId": "bigquery.datasets.delete",
        "summary": "Deletes the dataset specified by the datasetId value. Before you can delete a dataset, you must delete all its tables, e",
        "description": "Deletes the dataset specified by the datasetId value. Before you can delete a dataset, you must delete all its tables, either manually or by specifying deleteContents. Immediately after deletion, you can create another dataset with the same name.",
        "tags": [
          "datasets"
        ],
        "parameters": [
          {
            "name": "deleteContents",
            "in": "query",
            "description": "If True, delete all the tables in the dataset. If False and the dataset contains tables, the request will fail. Default is False",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "datasetId",
            "in": "path",
            "description": "Required. Dataset ID of dataset being deleted",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            }
          },
          {
            "name": "projectId",
            "in": "path",
            "description": "Required. Project ID of the dataset being deleted",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "security": [
          {
            "OAuth2": [
              "https://www.googleapis.com/auth/bigquery",
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "ApiKeyAuth": []
          }
        ]
      },
      "get": {
        "operationId": "bigquery.datasets.get",
        "summary": "Returns the dataset specified by datasetID.",
        "description": "Returns the dataset specified by datasetID.",
        "tags": [
          "datasets"
        ],
        "parameters": [
          {
            "name": "datasetView",
            "in": "query",
            "description": "Optional. Specifies the view that determines which dataset information is returned. By default, metadata and ACL information are returned.",
            "schema": {
              "type": "string",
              "enum": [
                "DATASET_VIEW_UNSPECIFIED",
                "METADATA",
                "ACL",
                "FULL"
              ]
            }
          },
          {
            "name": "accessPolicyVersion",
            "in": "query",
            "description": "Optional. The version of the access policy schema to fetch. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for conditional access policy binding in datasets must specify version 3. Dataset with no conditional role bindings in access policy may specify any valid value or leave the field unset. This field will be mapped to [IAM Policy version] (https://cloud.google.com/iam/docs/policies#versions) and will be used to fetch policy from IAM. If unset or if 0 or 1 value is used for dataset with conditional bindings, access entry with condition will have role string appended by 'withcond' string followed by a hash value. For example : { \"access\": [ { \"role\": \"roles/bigquery.dataViewer_with_conditionalbinding_7a34awqsda\", \"userByEmail\": \"user@example.com\", } ] } Please refer https://cloud.google.com/iam/docs/troubleshooting-withcond for more details.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "projectId",
            "in": "path",
            "description": "Required. Project ID of the requested dataset",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            }
          },
          {
            "name": "datasetId",
            "in": "path",
            "description": "Required. Dataset ID of the requested dataset",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Dataset"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "https://www.googleapis.com/auth/bigquery",
              "https://www.googleapis.com/auth/cloud-platform",
              "https://www.googleapis.com/auth/cloud-platform.read-only"
            ]
          },
          {
            "ApiKeyAuth": []
          }
        ]
      },
      "put": {
        "operationId": "bigquery.datasets.update",
        "summary": "Updates information in an existing dataset. The update method replaces the entire dataset resource, whereas the patch me",
        "description": "Updates information in an existing dataset. The update method replaces the entire dataset resource, whereas the patch method only replaces fields that are provided in the submitted dataset resource.",
        "tags": [
          "datasets"
        ],
        "parameters": [
          {
            "name": "accessPolicyVersion",
            "in": "query",
            "description": "Optional. The version of the provided access policy schema. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. This version refers to the schema version of the access policy and not the version of access policy. This field's value can be equal or more than the access policy schema provided in the request. For example, * Operations updating conditional access policy binding in datasets must specify version 3. Some of the operations are : - Adding a new access policy entry with condition. - Removing an access policy entry with condition. - Updating an access policy entry with condition. * But dataset with no conditional role bindings in access policy may specify any valid value or leave the field unset. If unset or if 0 or 1 value is used for dataset with conditional bindings, request will be rejected. This field will be mapped to IAM Policy version (https://cloud.google.com/iam/docs/policies#versions) and will be used to set policy in IAM.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "projectId",
            "in": "path",
            "description": "Required. Project ID of the dataset being updated",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            }
          },
          {
            "name": "updateMode",
            "in": "query",
            "description": "Optional. Specifies the fields of dataset that update/patch operation is targeting By default, both metadata and ACL fields are updated.",
            "schema": {
              "type": "string",
              "enum": [
                "UPDATE_MODE_UNSPECIFIED",
                "UPDATE_METADATA",
                "UPDATE_ACL",
                "UPDATE_FULL"
              ]
            }
          },
          {
            "name": "datasetId",
            "in": "path",
            "description": "Required. Dataset ID of the dataset being updated",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Dataset"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Dataset"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "https://www.googleapis.com/auth/bigquery",
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/bigquery/v2/projects/{projectId}/datasets/{datasetId}/models": {
      "get": {
        "operationId": "bigquery.models.list",
        "summary": "Lists all models in the specified dataset. Requires the READER dataset role. After retrieving the list of models, you ca",
        "description": "Lists all models in the specified dataset. Requires the READER dataset role. After retrieving the list of models, you can get information about a particular model by calling the models.get method.",
        "tags": [
          "models"
        ],
        "parameters": [
          {
            "name": "datasetId",
            "in": "path",
            "description": "Required. Dataset ID of the models to list.",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "Page token, returned by a previous call to request the next page of results",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "maxResults",
            "in": "query",
            "description": "The maximum number of results to return in a single response page. Leverage the page tokens to iterate through the entire collection.",
            "schema": {
              "type": "integer",
              "format": "uint32"
            }
          },
          {
            "name": "projectId",
            "in": "path",
            "description": "Required. Project ID of the models to list.",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListModelsResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "https://www.googleapis.com/auth/bigquery",
              "https://www.googleapis.com/auth/cloud-platform",
              "https://www.googleapis.com/auth/cloud-platform.read-only"
            ]
          },
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/bigquery/v2/projects/{projectId}/datasets/{datasetId}/models/{modelId}": {
      "delete": {
        "operationId": "bigquery.models.delete",
        "summary": "Deletes the model specified by modelId from the dataset.",
        "description": "Deletes the model specified by modelId from the dataset.",
        "tags": [
          "models"
        ],
        "parameters": [
          {
            "name": "modelId",
            "in": "path",
            "description": "Required. Model ID of the model to delete.",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            }
          },
          {
            "name": "projectId",
            "in": "path",
            "description": "Required. Project ID of the model to delete.",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            }
          },
          {
            "name": "datasetId",
            "in": "path",
            "description": "Required. Dataset ID of the model to delete.",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "security": [
          {
            "OAuth2": [
              "https://www.googleapis.com/auth/bigquery",
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "ApiKeyAuth": []
          }
        ]
      },
      "patch": {
        "operationId": "bigquery.models.patch",
        "summary": "Patch specific fields in the specified model.",
        "description": "Patch specific fields in the specified model.",
        "tags": [
          "models"
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "Required. Project ID of the model to patch.",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            }
          },
          {
            "name": "modelId",
            "in": "path",
            "description": "Required. Model ID of the model to patch.",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            }
          },
          {
            "name": "datasetId",
            "in": "path",
            "description": "Required. Dataset ID of the model to patch.",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Model"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Model"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "https://www.googleapis.com/auth/bigquery",
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "ApiKeyAuth": []
          }
        ]
      },
      "get": {
        "operationId": "bigquery.models.get",
        "summary": "Gets the specified model resource by model ID.",
        "description": "Gets the specified model resource by model ID.",
        "tags": [
          "models"
        ],
        "parameters": [
          {
            "name": "datasetId",
            "in": "path",
            "description": "Required. Dataset ID of the requested model.",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            }
          },
          {
            "name": "modelId",
            "in": "path",
            "description": "Required. Model ID of the requested model.",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            }
          },
          {
            "name": "projectId",
            "in": "path",
            "description": "Required. Project ID of the requested model.",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Model"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "https://www.googleapis.com/auth/bigquery",
              "https://www.googleapis.com/auth/cloud-platform",
              "https://www.googleapis.com/auth/cloud-platform.read-only"
            ]
          },
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/bigquery/v2/projects/{projectId}/datasets/{datasetId}/routines": {
      "get": {
        "operationId": "bigquery.routines.list",
        "summary": "Lists all routines in the specified dataset. Requires the READER dataset role.",
        "description": "Lists all routines in the specified dataset. Requires the READER dataset role.",
        "tags": [
          "routines"
        ],
        "parameters": [
          {
            "name": "datasetId",
            "in": "path",
            "description": "Required. Dataset ID of the routines to list",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            }
          },
          {
            "name": "readMask",
            "in": "query",
            "description": "If set, then only the Routine fields in the field mask, as well as project_id, dataset_id and routine_id, are returned in the response. If unset, then the following Routine fields are returned: etag, project_id, dataset_id, routine_id, routine_type, creation_time, last_modified_time, and language.",
            "schema": {
              "type": "string",
              "format": "google-fieldmask"
            }
          },
          {
            "name": "maxResults",
            "in": "query",
            "description": "The maximum number of results to return in a single response page. Leverage the page tokens to iterate through the entire collection.",
            "schema": {
              "type": "integer",
              "format": "uint32"
            }
          },
          {
            "name": "projectId",
            "in": "path",
            "description": "Required. Project ID of the routines to list",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "If set, then only the Routines matching this filter are returned. The supported format is `routineType:{RoutineType}`, where `{RoutineType}` is a RoutineType enum. For example: `routineType:SCALAR_FUNCTION`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "Page token, returned by a previous call, to request the next page of results",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListRoutinesResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "https://www.googleapis.com/auth/bigquery",
              "https://www.googleapis.com/auth/cloud-platform",
              "https://www.googleapis.com/auth/cloud-platform.read-only"
            ]
          },
          {
            "ApiKeyAuth": []
          }
        ]
      },
      "post": {
        "operationId": "bigquery.routines.insert",
        "summary": "Creates a new routine in the dataset.",
        "description": "Creates a new routine in the dataset.",
        "tags": [
          "routines"
        ],
        "parameters": [
          {
            "name": "datasetId",
            "in": "path",
            "description": "Required. Dataset ID of the new routine",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            }
          },
          {
            "name": "projectId",
            "in": "path",
            "description": "Required. Project ID of the new routine",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Routine"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Routine"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "https://www.googleapis.com/auth/bigquery",
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/bigquery/v2/projects/{projectId}/datasets/{datasetId}/routines/{routineId}": {
      "get": {
        "operationId": "bigquery.routines.get",
        "summary": "Gets the specified routine resource by routine ID.",
        "description": "Gets the specified routine resource by routine ID.",
        "tags": [
          "routines"
        ],
        "parameters": [
          {
            "name": "routineId",
            "in": "path",
            "description": "Required. Routine ID of the requested routine",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            }
          },
          {
            "name": "datasetId",
            "in": "path",
            "description": "Required. Dataset ID of the requested routine",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            }
          },
          {
            "name": "projectId",
            "in": "path",
            "description": "Required. Project ID of the requested routine",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            }
          },
          {
            "name": "readMask",
            "in": "query",
            "description": "If set, only the Routine fields in the field mask are returned in the response. If unset, all Routine fields are returned.",
            "schema": {
              "type": "string",
              "format": "google-fieldmask"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Routine"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "https://www.googleapis.com/auth/bigquery",
              "https://www.googleapis.com/auth/cloud-platform",
              "https://www.googleapis.com/auth/cloud-platform.read-only"
            ]
          },
          {
            "ApiKeyAuth": []
          }
        ]
      },
      "delete": {
        "operationId": "bigquery.routines.delete",
        "summary": "Deletes the routine specified by routineId from the dataset.",
        "description": "Deletes the routine specified by routineId from the dataset.",
        "tags": [
          "routines"
        ],
        "parameters": [
          {
            "name": "routineId",
            "in": "path",
            "description": "Required. Routine ID of the routine to delete",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            }
          },
          {
            "name": "projectId",
            "in": "path",
            "description": "Required. Project ID of the routine to delete",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            }
          },
          {
            "name": "datasetId",
            "in": "path",
            "description": "Required. Dataset ID of the routine to delete",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "security": [
          {
            "OAuth2": [
              "https://www.googleapis.com/auth/bigquery",
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "ApiKeyAuth": []
          }
        ]
      },
      "put": {
        "operationId": "bigquery.routines.update",
        "summary": "Updates information in an existing routine. The update method replaces the entire Routine resource.",
        "description": "Updates information in an existing routine. The update method replaces the entire Routine resource.",
        "tags": [
          "routines"
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "Required. Project ID of the routine to update",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            }
          },
          {
            "name": "routineId",
            "in": "path",
            "description": "Required. Routine ID of the routine to update",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            }
          },
          {
            "name": "datasetId",
            "in": "path",
            "description": "Required. Dataset ID of the routine to update",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Routine"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Routine"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "https://www.googleapis.com/auth/bigquery",
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/bigquery/v2/projects/{projectId}/datasets/{datasetId}/tables": {
      "post": {
        "operationId": "bigquery.tables.insert",
        "summary": "Creates a new, empty table in the dataset.",
        "description": "Creates a new, empty table in the dataset.",
        "tags": [
          "tables"
        ],
        "parameters": [
          {
            "name": "datasetId",
            "in": "path",
            "description": "Required. Dataset ID of the new table",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            }
          },
          {
            "name": "projectId",
            "in": "path",
            "description": "Required. Project ID of the new table",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Table"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Table"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "https://www.googleapis.com/auth/bigquery",
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "ApiKeyAuth": []
          }
        ]
      },
      "get": {
        "operationId": "bigquery.tables.list",
        "summary": "Lists all tables in the specified dataset. Requires the READER dataset role.",
        "description": "Lists all tables in the specified dataset. Requires the READER dataset role.",
        "tags": [
          "tables"
        ],
        "parameters": [
          {
            "name": "pageToken",
            "in": "query",
            "description": "Page token, returned by a previous call, to request the next page of results",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "datasetId",
            "in": "path",
            "description": "Required. Dataset ID of the tables to list",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            }
          },
          {
            "name": "projectId",
            "in": "path",
            "description": "Required. Project ID of the tables to list",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            }
          },
          {
            "name": "maxResults",
            "in": "query",
            "description": "The maximum number of results to return in a single response page. Leverage the page tokens to iterate through the entire collection.",
            "schema": {
              "type": "integer",
              "format": "uint32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TableList"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "https://www.googleapis.com/auth/bigquery",
              "https://www.googleapis.com/auth/cloud-platform",
              "https://www.googleapis.com/auth/cloud-platform.read-only"
            ]
          },
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/bigquery/v2/projects/{projectId}/datasets/{datasetId}/tables/{tableId}": {
      "delete": {
        "operationId": "bigquery.tables.delete",
        "summary": "Deletes the table specified by tableId from the dataset. If the table contains data, all the data will be deleted.",
        "description": "Deletes the table specified by tableId from the dataset. If the table contains data, all the data will be deleted.",
        "tags": [
          "tables"
        ],
        "parameters": [
          {
            "name": "tableId",
            "in": "path",
            "description": "Required. Table ID of the table to delete",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            }
          },
          {
            "name": "datasetId",
            "in": "path",
            "description": "Required. Dataset ID of the table to delete",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            }
          },
          {
            "name": "projectId",
            "in": "path",
            "description": "Required. Project ID of the table to delete",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "security": [
          {
            "OAuth2": [
              "https://www.googleapis.com/auth/bigquery",
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "ApiKeyAuth": []
          }
        ]
      },
      "patch": {
        "operationId": "bigquery.tables.patch",
        "summary": "Updates information in an existing table. The update method replaces the entire table resource, whereas the patch method",
        "description": "Updates information in an existing table. The update method replaces the entire table resource, whereas the patch method only replaces fields that are provided in the submitted table resource. This method supports RFC5789 patch semantics.",
        "tags": [
          "tables"
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "Required. Project ID of the table to update",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            }
          },
          {
            "name": "datasetId",
            "in": "path",
            "description": "Required. Dataset ID of the table to update",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            }
          },
          {
            "name": "autodetect_schema",
            "in": "query",
            "description": "Optional.  When true will autodetect schema, else will keep original schema",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "tableId",
            "in": "path",
            "description": "Required. Table ID of the table to update",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Table"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Table"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "https://www.googleapis.com/auth/bigquery",
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "ApiKeyAuth": []
          }
        ]
      },
      "get": {
        "operationId": "bigquery.tables.get",
        "summary": "Gets the specified table resource by table ID. This method does not return the data in the table, it only returns the ta",
        "description": "Gets the specified table resource by table ID. This method does not return the data in the table, it only returns the table resource, which describes the structure of this table.",
        "tags": [
          "tables"
        ],
        "parameters": [
          {
            "name": "tableId",
            "in": "path",
            "description": "Required. Table ID of the requested table",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            }
          },
          {
            "name": "selectedFields",
            "in": "query",
            "description": "List of table schema fields to return (comma-separated). If unspecified, all fields are returned. A fieldMask cannot be used here because the fields will automatically be converted from camelCase to snake_case and the conversion will fail if there are underscores. Since these are fields in BigQuery table schemas, underscores are allowed.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "projectId",
            "in": "path",
            "description": "Required. Project ID of the requested table",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            }
          },
          {
            "name": "datasetId",
            "in": "path",
            "description": "Required. Dataset ID of the requested table",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            }
          },
          {
            "name": "view",
            "in": "query",
            "description": "Optional. Specifies the view that determines which table information is returned. By default, basic table information and storage statistics (STORAGE_STATS) are returned.",
            "schema": {
              "type": "string",
              "enum": [
                "TABLE_METADATA_VIEW_UNSPECIFIED",
                "BASIC",
                "STORAGE_STATS",
                "FULL"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Table"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "https://www.googleapis.com/auth/bigquery",
              "https://www.googleapis.com/auth/cloud-platform",
              "https://www.googleapis.com/auth/cloud-platform.read-only"
            ]
          },
          {
            "ApiKeyAuth": []
          }
        ]
      },
      "put": {
        "operationId": "bigquery.tables.update",
        "summary": "Updates information in an existing table. The update method replaces the entire Table resource, whereas the patch method",
        "description": "Updates information in an existing table. The update method replaces the entire Table resource, whereas the patch method only replaces fields that are provided in the submitted Table resource.",
        "tags": [
          "tables"
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "Required. Project ID of the table to update",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            }
          },
          {
            "name": "autodetect_schema",
            "in": "query",
            "description": "Optional.  When true will autodetect schema, else will keep original schema",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "tableId",
            "in": "path",
            "description": "Required. Table ID of the table to update",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            }
          },
          {
            "name": "datasetId",
            "in": "path",
            "description": "Required. Dataset ID of the table to update",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Table"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Table"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "https://www.googleapis.com/auth/bigquery",
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/bigquery/v2/projects/{projectId}/datasets/{datasetId}/tables/{tableId}/data": {
      "get": {
        "operationId": "bigquery.tabledata.list",
        "summary": "List the content of a table in rows.",
        "description": "List the content of a table in rows.",
        "tags": [
          "tabledata"
        ],
        "parameters": [
          {
            "name": "pageToken",
            "in": "query",
            "description": "To retrieve the next page of table data, set this field to the string provided in the pageToken field of the response body from your previous call to tabledata.list.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "maxResults",
            "in": "query",
            "description": "Row limit of the table.",
            "schema": {
              "type": "integer",
              "format": "uint32"
            }
          },
          {
            "name": "formatOptions.useInt64Timestamp",
            "in": "query",
            "description": "Optional. Output timestamp as usec int64. Default is false.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "projectId",
            "in": "path",
            "description": "Required. Project id of the table to list.",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            }
          },
          {
            "name": "tableId",
            "in": "path",
            "description": "Required. Table id of the table to list.",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            }
          },
          {
            "name": "formatOptions.timestampOutputFormat",
            "in": "query",
            "description": "Optional. The API output format for a timestamp. This offers more explicit control over the timestamp output format as compared to the existing `use_int64_timestamp` option.",
            "schema": {
              "type": "string",
              "enum": [
                "TIMESTAMP_OUTPUT_FORMAT_UNSPECIFIED",
                "FLOAT64",
                "INT64",
                "ISO8601_STRING"
              ]
            }
          },
          {
            "name": "datasetId",
            "in": "path",
            "description": "Required. Dataset id of the table to list.",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            }
          },
          {
            "name": "selectedFields",
            "in": "query",
            "description": "Subset of fields to return, supports select into sub fields. Example: selected_fields = \"a,e.d.f\";",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "startIndex",
            "in": "query",
            "description": "Start row index of the table.",
            "schema": {
              "type": "string",
              "format": "uint64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TableDataList"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "https://www.googleapis.com/auth/bigquery",
              "https://www.googleapis.com/auth/cloud-platform",
              "https://www.googleapis.com/auth/cloud-platform.read-only"
            ]
          },
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/bigquery/v2/projects/{projectId}/datasets/{datasetId}/tables/{tableId}/insertAll": {
      "post": {
        "operationId": "bigquery.tabledata.insertAll",
        "summary": "Streams data into BigQuery one record at a time without needing to run a load job.",
        "description": "Streams data into BigQuery one record at a time without needing to run a load job.",
        "tags": [
          "tabledata"
        ],
        "parameters": [
          {
            "name": "datasetId",
            "in": "path",
            "description": "Required. Dataset ID of the destination.",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            }
          },
          {
            "name": "projectId",
            "in": "path",
            "description": "Required. Project ID of the destination.",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            }
          },
          {
            "name": "tableId",
            "in": "path",
            "description": "Required. Table ID of the destination.",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TableDataInsertAllRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TableDataInsertAllResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "https://www.googleapis.com/auth/bigquery",
              "https://www.googleapis.com/auth/bigquery.insertdata",
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/bigquery/v2/projects/{projectId}/datasets/{datasetId}/tables/{tableId}/rowAccessPolicies": {
      "get": {
        "operationId": "bigquery.rowAccessPolicies.list",
        "summary": "Lists all row access policies on the specified table.",
        "description": "Lists all row access policies on the specified table.",
        "tags": [
          "rowAccessPolicies"
        ],
        "parameters": [
          {
            "name": "tableId",
            "in": "path",
            "description": "Required. Table ID of the table to list row access policies.",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The maximum number of results to return in a single response page. Leverage the page tokens to iterate through the entire collection.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "projectId",
            "in": "path",
            "description": "Required. Project ID of the row access policies to list.",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            }
          },
          {
            "name": "datasetId",
            "in": "path",
            "description": "Required. Dataset ID of row access policies to list.",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "Page token, returned by a previous call, to request the next page of results.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListRowAccessPoliciesResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "https://www.googleapis.com/auth/bigquery",
              "https://www.googleapis.com/auth/cloud-platform",
              "https://www.googleapis.com/auth/cloud-platform.read-only"
            ]
          },
          {
            "ApiKeyAuth": []
          }
        ]
      },
      "post": {
        "operationId": "bigquery.rowAccessPolicies.insert",
        "summary": "Creates a row access policy.",
        "description": "Creates a row access policy.",
        "tags": [
          "rowAccessPolicies"
        ],
        "parameters": [
          {
            "name": "datasetId",
            "in": "path",
            "description": "Required. Dataset ID of the table to get the row access policy.",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            }
          },
          {
            "name": "tableId",
            "in": "path",
            "description": "Required. Table ID of the table to get the row access policy.",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            }
          },
          {
            "name": "projectId",
            "in": "path",
            "description": "Required. Project ID of the table to get the row access policy.",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RowAccessPolicy"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RowAccessPolicy"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "https://www.googleapis.com/auth/bigquery",
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/bigquery/v2/projects/{projectId}/datasets/{datasetId}/tables/{tableId}/rowAccessPolicies/{policyId}": {
      "delete": {
        "operationId": "bigquery.rowAccessPolicies.delete",
        "summary": "Deletes a row access policy.",
        "description": "Deletes a row access policy.",
        "tags": [
          "rowAccessPolicies"
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "Required. Project ID of the table to delete the row access policy.",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            }
          },
          {
            "name": "policyId",
            "in": "path",
            "description": "Required. Policy ID of the row access policy.",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            }
          },
          {
            "name": "datasetId",
            "in": "path",
            "description": "Required. Dataset ID of the table to delete the row access policy.",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            }
          },
          {
            "name": "force",
            "in": "query",
            "description": "If set to true, it deletes the row access policy even if it's the last row access policy on the table and the deletion will widen the access rather narrowing it.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "tableId",
            "in": "path",
            "description": "Required. Table ID of the table to delete the row access policy.",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "security": [
          {
            "OAuth2": [
              "https://www.googleapis.com/auth/bigquery",
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "ApiKeyAuth": []
          }
        ]
      },
      "put": {
        "operationId": "bigquery.rowAccessPolicies.update",
        "summary": "Updates a row access policy.",
        "description": "Updates a row access policy.",
        "tags": [
          "rowAccessPolicies"
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "Required. Project ID of the table to get the row access policy.",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            }
          },
          {
            "name": "datasetId",
            "in": "path",
            "description": "Required. Dataset ID of the table to get the row access policy.",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            }
          },
          {
            "name": "policyId",
            "in": "path",
            "description": "Required. Policy ID of the row access policy.",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            }
          },
          {
            "name": "tableId",
            "in": "path",
            "description": "Required. Table ID of the table to get the row access policy.",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RowAccessPolicy"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RowAccessPolicy"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "https://www.googleapis.com/auth/bigquery",
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "ApiKeyAuth": []
          }
        ]
      },
      "get": {
        "operationId": "bigquery.rowAccessPolicies.get",
        "summary": "Gets the specified row access policy by policy ID.",
        "description": "Gets the specified row access policy by policy ID.",
        "tags": [
          "rowAccessPolicies"
        ],
        "parameters": [
          {
            "name": "tableId",
            "in": "path",
            "description": "Required. Table ID of the table to get the row access policy.",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            }
          },
          {
            "name": "datasetId",
            "in": "path",
            "description": "Required. Dataset ID of the table to get the row access policy.",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            }
          },
          {
            "name": "policyId",
            "in": "path",
            "description": "Required. Policy ID of the row access policy.",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            }
          },
          {
            "name": "projectId",
            "in": "path",
            "description": "Required. Project ID of the table to get the row access policy.",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RowAccessPolicy"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "https://www.googleapis.com/auth/bigquery",
              "https://www.googleapis.com/auth/cloud-platform",
              "https://www.googleapis.com/auth/cloud-platform.read-only"
            ]
          },
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/bigquery/v2/projects/{projectId}/datasets/{datasetId}/tables/{tableId}/rowAccessPolicies:batchDelete": {
      "post": {
        "operationId": "bigquery.rowAccessPolicies.batchDelete",
        "summary": "Deletes provided row access policies.",
        "description": "Deletes provided row access policies.",
        "tags": [
          "rowAccessPolicies"
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "Required. Project ID of the table to delete the row access policies.",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            }
          },
          {
            "name": "tableId",
            "in": "path",
            "description": "Required. Table ID of the table to delete the row access policies.",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            }
          },
          {
            "name": "datasetId",
            "in": "path",
            "description": "Required. Dataset ID of the table to delete the row access policies.",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchDeleteRowAccessPoliciesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "security": [
          {
            "OAuth2": [
              "https://www.googleapis.com/auth/bigquery",
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/bigquery/v2/projects/{projectId}/datasets/{datasetId}:undelete": {
      "post": {
        "operationId": "bigquery.datasets.undelete",
        "summary": "Undeletes a dataset which is within time travel window based on datasetId. If a time is specified, the dataset version d",
        "description": "Undeletes a dataset which is within time travel window based on datasetId. If a time is specified, the dataset version deleted at that time is undeleted, else the last live version is undeleted.",
        "tags": [
          "datasets"
        ],
        "parameters": [
          {
            "name": "datasetId",
            "in": "path",
            "description": "Required. Dataset ID of dataset being deleted",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            }
          },
          {
            "name": "projectId",
            "in": "path",
            "description": "Required. Project ID of the dataset to be undeleted",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UndeleteDatasetRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Dataset"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "https://www.googleapis.com/auth/bigquery",
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/bigquery/v2/projects/{projectId}/jobs": {
      "get": {
        "operationId": "bigquery.jobs.list",
        "summary": "Lists all jobs that you started in the specified project. Job information is available for a six month period after crea",
        "description": "Lists all jobs that you started in the specified project. Job information is available for a six month period after creation. The job list is sorted in reverse chronological order, by job creation time. Requires the Can View project role, or the Is Owner project role if you set the allUsers property.",
        "tags": [
          "jobs"
        ],
        "parameters": [
          {
            "name": "parentJobId",
            "in": "query",
            "description": "If set, show only child jobs of the specified parent. Otherwise, show all top-level jobs.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "Page token, returned by a previous call, to request the next page of results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "maxResults",
            "in": "query",
            "description": "The maximum number of results to return in a single response page. Leverage the page tokens to iterate through the entire collection.",
            "schema": {
              "type": "integer",
              "format": "uint32"
            }
          },
          {
            "name": "projection",
            "in": "query",
            "description": "Restrict information returned to a set of selected fields",
            "schema": {
              "type": "string",
              "enum": [
                "full",
                "minimal"
              ]
            }
          },
          {
            "name": "projectId",
            "in": "path",
            "description": "Project ID of the jobs to list.",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            }
          },
          {
            "name": "stateFilter",
            "in": "query",
            "description": "Filter for job state",
            "schema": {
              "type": "string",
              "enum": [
                "done",
                "pending",
                "running"
              ]
            }
          },
          {
            "name": "minCreationTime",
            "in": "query",
            "description": "Min value for job creation time, in milliseconds since the POSIX epoch. If set, only jobs created after or at this timestamp are returned.",
            "schema": {
              "type": "string",
              "format": "uint64"
            }
          },
          {
            "name": "maxCreationTime",
            "in": "query",
            "description": "Max value for job creation time, in milliseconds since the POSIX epoch. If set, only jobs created before or at this timestamp are returned.",
            "schema": {
              "type": "string",
              "format": "uint64"
            }
          },
          {
            "name": "allUsers",
            "in": "query",
            "description": "Whether to display jobs owned by all users in the project. Default False.",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobList"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "https://www.googleapis.com/auth/bigquery",
              "https://www.googleapis.com/auth/cloud-platform",
              "https://www.googleapis.com/auth/cloud-platform.read-only"
            ]
          },
          {
            "ApiKeyAuth": []
          }
        ]
      },
      "post": {
        "operationId": "bigquery.jobs.insert",
        "summary": "Starts a new asynchronous job. This API has two different kinds of endpoint URIs, as this method supports a variety of u",
        "description": "Starts a new asynchronous job. This API has two different kinds of endpoint URIs, as this method supports a variety of use cases. * The *Metadata* URI is used for most interactions, as it accepts the job configuration directly. * The *Upload* URI is ONLY for the case when you're sending both a load job configuration and a data stream together. In this case, the Upload URI accepts the job configuration and the data as two distinct multipart MIME parts.",
        "tags": [
          "jobs"
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "Project ID of project that will be billed for the job.",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Job"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Job"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "https://www.googleapis.com/auth/bigquery",
              "https://www.googleapis.com/auth/cloud-platform",
              "https://www.googleapis.com/auth/devstorage.full_control",
              "https://www.googleapis.com/auth/devstorage.read_only",
              "https://www.googleapis.com/auth/devstorage.read_write"
            ]
          },
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/bigquery/v2/projects/{projectId}/jobs/{jobId}": {
      "get": {
        "operationId": "bigquery.jobs.get",
        "summary": "Returns information about a specific job. Job information is available for a six month period after creation. Requires t",
        "description": "Returns information about a specific job. Job information is available for a six month period after creation. Requires that you're the person who ran the job, or have the Is Owner project role.",
        "tags": [
          "jobs"
        ],
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "description": "Required. Job ID of the requested job.",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            }
          },
          {
            "name": "projectId",
            "in": "path",
            "description": "Required. Project ID of the requested job.",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            }
          },
          {
            "name": "location",
            "in": "query",
            "description": "The geographic location of the job. You must specify the location to run the job for the following scenarios: * If the location to run a job is not in the `us` or the `eu` multi-regional location * If the job's location is in a single region (for example, `us-central1`) For more information, see how to [specify locations](https://cloud.google.com/bigquery/docs/locations#specify_locations).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Job"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "https://www.googleapis.com/auth/bigquery",
              "https://www.googleapis.com/auth/cloud-platform",
              "https://www.googleapis.com/auth/cloud-platform.read-only"
            ]
          },
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/bigquery/v2/projects/{projectId}/jobs/{jobId}/cancel": {
      "post": {
        "operationId": "bigquery.jobs.cancel",
        "summary": "Requests that a job be cancelled. This call will return immediately, and the client will need to poll for the job status",
        "description": "Requests that a job be cancelled. This call will return immediately, and the client will need to poll for the job status to see if the cancel completed successfully. Cancelled jobs may still incur costs.",
        "tags": [
          "jobs"
        ],
        "parameters": [
          {
            "name": "location",
            "in": "query",
            "description": "The geographic location of the job. You must [specify the location](https://cloud.google.com/bigquery/docs/locations#specify_locations) to run the job for the following scenarios: * If the location to run a job is not in the `us` or the `eu` multi-regional location * If the job's location is in a single region (for example, `us-central1`)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "jobId",
            "in": "path",
            "description": "Required. Job ID of the job to cancel",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            }
          },
          {
            "name": "projectId",
            "in": "path",
            "description": "Required. Project ID of the job to cancel",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobCancelResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "https://www.googleapis.com/auth/bigquery",
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/bigquery/v2/projects/{projectId}/jobs/{jobId}/delete": {
      "delete": {
        "operationId": "bigquery.jobs.delete",
        "summary": "Requests the deletion of the metadata of a job. This call returns when the job's metadata is deleted.",
        "description": "Requests the deletion of the metadata of a job. This call returns when the job's metadata is deleted.",
        "tags": [
          "jobs"
        ],
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "description": "Required. Job ID of the job for which metadata is to be deleted. If this is a parent job which has child jobs, the metadata from all child jobs will be deleted as well. Direct deletion of the metadata of child jobs is not allowed.",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            }
          },
          {
            "name": "projectId",
            "in": "path",
            "description": "Required. Project ID of the job for which metadata is to be deleted.",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            }
          },
          {
            "name": "location",
            "in": "query",
            "description": "The geographic location of the job. Required. For more information, see how to [specify locations](https://cloud.google.com/bigquery/docs/locations#specify_locations).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "security": [
          {
            "OAuth2": [
              "https://www.googleapis.com/auth/bigquery",
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/bigquery/v2/projects/{projectId}/queries": {
      "post": {
        "operationId": "bigquery.jobs.query",
        "summary": "Runs a BigQuery SQL query synchronously and returns query results if the query completes within a specified timeout.",
        "description": "Runs a BigQuery SQL query synchronously and returns query results if the query completes within a specified timeout.",
        "tags": [
          "jobs"
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "Required. Project ID of the query request.",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QueryRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueryResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "https://www.googleapis.com/auth/bigquery",
              "https://www.googleapis.com/auth/cloud-platform",
              "https://www.googleapis.com/auth/cloud-platform.read-only"
            ]
          },
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/bigquery/v2/projects/{projectId}/queries/{jobId}": {
      "get": {
        "operationId": "bigquery.jobs.getQueryResults",
        "summary": "RPC to get the results of a query job.",
        "description": "RPC to get the results of a query job.",
        "tags": [
          "jobs"
        ],
        "parameters": [
          {
            "name": "timeoutMs",
            "in": "query",
            "description": "Optional: Specifies the maximum amount of time, in milliseconds, that the client is willing to wait for the query to complete. By default, this limit is 10 seconds (10,000 milliseconds). If the query is complete, the jobComplete field in the response is true. If the query has not yet completed, jobComplete is false. You can request a longer timeout period in the timeoutMs field. However, the call is not guaranteed to wait for the specified timeout; it typically returns after around 200 seconds (200,000 milliseconds), even if the query is not complete. If jobComplete is false, you can continue to wait for the query to complete by calling the getQueryResults method until the jobComplete field in the getQueryResults response is true.",
            "schema": {
              "type": "integer",
              "format": "uint32"
            }
          },
          {
            "name": "jobId",
            "in": "path",
            "description": "Required. Job ID of the query job.",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            }
          },
          {
            "name": "formatOptions.timestampOutputFormat",
            "in": "query",
            "description": "Optional. The API output format for a timestamp. This offers more explicit control over the timestamp output format as compared to the existing `use_int64_timestamp` option.",
            "schema": {
              "type": "string",
              "enum": [
                "TIMESTAMP_OUTPUT_FORMAT_UNSPECIFIED",
                "FLOAT64",
                "INT64",
                "ISO8601_STRING"
              ]
            }
          },
          {
            "name": "projectId",
            "in": "path",
            "description": "Required. Project ID of the query job.",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            }
          },
          {
            "name": "startIndex",
            "in": "query",
            "description": "Zero-based index of the starting row.",
            "schema": {
              "type": "string",
              "format": "uint64"
            }
          },
          {
            "name": "maxResults",
            "in": "query",
            "description": "Maximum number of results to read.",
            "schema": {
              "type": "integer",
              "format": "uint32"
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "Page token, returned by a previous call, to request the next page of results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "formatOptions.useInt64Timestamp",
            "in": "query",
            "description": "Optional. Output timestamp as usec int64. Default is false.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "location",
            "in": "query",
            "description": "The geographic location of the job. You must specify the location to run the job for the following scenarios: * If the location to run a job is not in the `us` or the `eu` multi-regional location * If the job's location is in a single region (for example, `us-central1`) For more information, see how to [specify locations](https://cloud.google.com/bigquery/docs/locations#specify_locations).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetQueryResultsResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "https://www.googleapis.com/auth/bigquery",
              "https://www.googleapis.com/auth/cloud-platform",
              "https://www.googleapis.com/auth/cloud-platform.read-only"
            ]
          },
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/bigquery/v2/projects/{projectId}/serviceAccount": {
      "get": {
        "operationId": "bigquery.projects.getServiceAccount",
        "summary": "RPC to get the service account for a project used for interactions with Google Cloud KMS",
        "description": "RPC to get the service account for a project used for interactions with Google Cloud KMS",
        "tags": [
          "projects"
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "Required. ID of the project.",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetServiceAccountResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "https://www.googleapis.com/auth/bigquery",
              "https://www.googleapis.com/auth/cloud-platform",
              "https://www.googleapis.com/auth/cloud-platform.read-only"
            ]
          },
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/bigquery/v2/{resource}:getIamPolicy": {
      "post": {
        "operationId": "bigquery.rowAccessPolicies.getIamPolicy",
        "summary": "Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy",
        "description": "Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set.",
        "tags": [
          "rowAccessPolicies"
        ],
        "parameters": [
          {
            "name": "resource",
            "in": "path",
            "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^projects/[^/]+/datasets/[^/]+/tables/[^/]+/rowAccessPolicies/[^/]+$"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetIamPolicyRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Policy"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "https://www.googleapis.com/auth/bigquery",
              "https://www.googleapis.com/auth/cloud-platform",
              "https://www.googleapis.com/auth/cloud-platform.read-only"
            ]
          },
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/bigquery/v2/{resource}:setIamPolicy": {
      "post": {
        "operationId": "bigquery.routines.setIamPolicy",
        "summary": "Sets the access control policy on the specified resource. Replaces any existing policy. Can return `NOT_FOUND`, `INVALID",
        "description": "Sets the access control policy on the specified resource. Replaces any existing policy. Can return `NOT_FOUND`, `INVALID_ARGUMENT`, and `PERMISSION_DENIED` errors.",
        "tags": [
          "routines"
        ],
        "parameters": [
          {
            "name": "resource",
            "in": "path",
            "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^projects/[^/]+/datasets/[^/]+/routines/[^/]+$"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SetIamPolicyRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
[...]
