{
  "openapi": "3.0.3",
  "info": {
    "title": "Google Tasks API",
    "description": "The Google Tasks API lets you manage your tasks and task lists. It provides programmatic access to Google Tasks, enabling you to create, read, update, and delete tasks and task lists for the authenticated user.\n\nCapabilities include:\n- Task management - Create, update, delete, and organize tasks within task lists\n- Task list management - Create, update, and delete task lists\n- Task ordering - Move tasks between lists and reorder within lists, including subtask hierarchies\n- Filtering - Filter tasks by completion status, due dates, and modification times\n- Pagination - Efficiently retrieve large collections of tasks and task lists",
    "version": "v1",
    "contact": {
      "name": "Google",
      "url": "https://developers.google.com/workspace/tasks/"
    },
    "license": {
      "name": "Google APIs Terms of Service",
      "url": "https://developers.google.com/terms/"
    }
  },
  "externalDocs": {
    "description": "Google Tasks API Documentation",
    "url": "https://developers.google.com/workspace/tasks/"
  },
  "servers": [
    {
      "url": "https://tasks.googleapis.com",
      "description": "Google Tasks API server"
    }
  ],
  "security": [
    {
      "oauth2": [
        "https://www.googleapis.com/auth/tasks"
      ]
    },
    {
      "apiKey": []
    }
  ],
  "tags": [
    {
      "name": "Tasks",
      "description": "Manage individual tasks within task lists, including creating, updating, deleting, moving, and listing tasks"
    },
    {
      "name": "TaskLists",
      "description": "Manage task lists for the authenticated user, including creating, updating, deleting, and listing task lists"
    }
  ],
  "paths": {
    "/tasks/v1/lists/{tasklist}/clear": {
      "post": {
        "operationId": "tasks.tasks.clear",
        "summary": "Clear completed tasks",
        "description": "Clears all completed tasks from the specified task list. The affected tasks will be marked as 'hidden' and no longer be returned by default when retrieving all tasks for a task list.",
        "tags": [
          "Tasks"
        ],
        "security": [
          {
            "oauth2": [
              "https://www.googleapis.com/auth/tasks"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/tasklist"
          },
          {
            "$ref": "#/components/parameters/access_token"
          },
          {
            "$ref": "#/components/parameters/alt"
          },
          {
            "$ref": "#/components/parameters/callback"
          },
          {
            "$ref": "#/components/parameters/fields"
          },
          {
            "$ref": "#/components/parameters/key"
          },
          {
            "$ref": "#/components/parameters/oauth_token"
          },
          {
            "$ref": "#/components/parameters/prettyPrint"
          },
          {
            "$ref": "#/components/parameters/quotaUser"
          },
          {
            "$ref": "#/components/parameters/uploadType"
          },
          {
            "$ref": "#/components/parameters/upload_protocol"
          }
        ],
        "responses": {
          "204": {
            "description": "Successful response with no content."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/tasks/v1/lists/{tasklist}/tasks": {
      "get": {
        "operationId": "tasks.tasks.list",
        "summary": "List tasks",
        "description": "Returns all tasks in the specified task list. Doesn't return assigned tasks by default (from Docs, Chat Spaces). A user can have up to 20,000 non-hidden tasks per list and up to 100,000 tasks in total at a time.",
        "tags": [
          "Tasks"
        ],
        "security": [
          {
            "oauth2": [
              "https://www.googleapis.com/auth/tasks"
            ]
          },
          {
            "oauth2": [
              "https://www.googleapis.com/auth/tasks.readonly"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/tasklist"
          },
          {
            "name": "completedMax",
            "in": "query",
            "description": "Upper bound for a task's completion date (as a RFC 3339 timestamp) to filter by. Optional. The default is not to filter by completion date.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "completedMin",
            "in": "query",
            "description": "Lower bound for a task's completion date (as a RFC 3339 timestamp) to filter by. Optional. The default is not to filter by completion date.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dueMax",
            "in": "query",
            "description": "Upper bound for a task's due date (as a RFC 3339 timestamp) to filter by. Optional. The default is not to filter by due date.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dueMin",
            "in": "query",
            "description": "Lower bound for a task's due date (as a RFC 3339 timestamp) to filter by. Optional. The default is not to filter by due date.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "maxResults",
            "in": "query",
            "description": "Maximum number of tasks returned on one page. Optional. The default is 20 (max allowed: 100).",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "Token specifying the result page to return. Optional.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "showAssigned",
            "in": "query",
            "description": "Optional. Flag indicating whether tasks assigned to the current user are returned in the result. Optional. The default is False.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "showCompleted",
            "in": "query",
            "description": "Flag indicating whether completed tasks are returned in the result. Note that showHidden must also be True to show tasks completed in first party clients, such as the web UI and Google's mobile apps. Optional. The default is True.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "showDeleted",
            "in": "query",
            "description": "Flag indicating whether deleted tasks are returned in the result. Optional. The default is False.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "showHidden",
            "in": "query",
            "description": "Flag indicating whether hidden tasks are returned in the result. Optional. The default is False.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "updatedMin",
            "in": "query",
            "description": "Lower bound for a task's last modification time (as a RFC 3339 timestamp) to filter by. Optional. The default is not to filter by last modification time.",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/access_token"
          },
          {
            "$ref": "#/components/parameters/alt"
          },
          {
            "$ref": "#/components/parameters/callback"
          },
          {
            "$ref": "#/components/parameters/fields"
          },
          {
            "$ref": "#/components/parameters/key"
          },
          {
            "$ref": "#/components/parameters/oauth_token"
          },
          {
            "$ref": "#/components/parameters/prettyPrint"
          },
          {
            "$ref": "#/components/parameters/quotaUser"
          },
          {
            "$ref": "#/components/parameters/uploadType"
          },
          {
            "$ref": "#/components/parameters/upload_protocol"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Tasks"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "post": {
        "operationId": "tasks.tasks.insert",
        "summary": "Create a task",
        "description": "Creates a new task on the specified task list. Tasks assigned from Docs or Chat Spaces cannot be inserted from Tasks Public API; they can only be created by assigning them from Docs or Chat Spaces. A user can have up to 20,000 non-hidden tasks per list and up to 100,000 tasks in total at a time.",
        "tags": [
          "Tasks"
        ],
        "security": [
          {
            "oauth2": [
              "https://www.googleapis.com/auth/tasks"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/tasklist"
          },
          {
            "name": "parent",
            "in": "query",
            "description": "Parent task identifier. If the task is created at the top level, this parameter is omitted. An assigned task cannot be a parent task, nor can it have a parent. Setting the parent to an assigned task results in failure of the request. Optional.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "previous",
            "in": "query",
            "description": "Previous sibling task identifier. If the task is created at the first position among its siblings, this parameter is omitted. Optional.",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/access_token"
          },
          {
            "$ref": "#/components/parameters/alt"
          },
          {
            "$ref": "#/components/parameters/callback"
          },
          {
            "$ref": "#/components/parameters/fields"
          },
          {
            "$ref": "#/components/parameters/key"
          },
          {
            "$ref": "#/components/parameters/oauth_token"
          },
          {
            "$ref": "#/components/parameters/prettyPrint"
          },
          {
            "$ref": "#/components/parameters/quotaUser"
          },
          {
            "$ref": "#/components/parameters/uploadType"
          },
          {
            "$ref": "#/components/parameters/upload_protocol"
          }
        ],
        "requestBody": {
          "description": "The task to create.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Task"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Task"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/tasks/v1/lists/{tasklist}/tasks/{task}": {
      "get": {
        "operationId": "tasks.tasks.get",
        "summary": "Get a task",
        "description": "Returns the specified task.",
        "tags": [
          "Tasks"
        ],
        "security": [
          {
            "oauth2": [
              "https://www.googleapis.com/auth/tasks"
            ]
          },
          {
            "oauth2": [
              "https://www.googleapis.com/auth/tasks.readonly"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/tasklist"
          },
          {
            "$ref": "#/components/parameters/task"
          },
          {
            "$ref": "#/components/parameters/access_token"
          },
          {
            "$ref": "#/components/parameters/alt"
          },
          {
            "$ref": "#/components/parameters/callback"
          },
          {
            "$ref": "#/components/parameters/fields"
          },
          {
            "$ref": "#/components/parameters/key"
          },
          {
            "$ref": "#/components/parameters/oauth_token"
          },
          {
            "$ref": "#/components/parameters/prettyPrint"
          },
          {
            "$ref": "#/components/parameters/quotaUser"
          },
          {
            "$ref": "#/components/parameters/uploadType"
          },
          {
            "$ref": "#/components/parameters/upload_protocol"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Task"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "put": {
        "operationId": "tasks.tasks.update",
        "summary": "Update a task",
        "description": "Updates the specified task.",
        "tags": [
          "Tasks"
        ],
        "security": [
          {
            "oauth2": [
              "https://www.googleapis.com/auth/tasks"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/tasklist"
          },
          {
            "$ref": "#/components/parameters/task"
          },
          {
            "$ref": "#/components/parameters/access_token"
          },
          {
            "$ref": "#/components/parameters/alt"
          },
          {
            "$ref": "#/components/parameters/callback"
          },
          {
            "$ref": "#/components/parameters/fields"
          },
          {
            "$ref": "#/components/parameters/key"
          },
          {
            "$ref": "#/components/parameters/oauth_token"
          },
          {
            "$ref": "#/components/parameters/prettyPrint"
          },
          {
            "$ref": "#/components/parameters/quotaUser"
          },
          {
            "$ref": "#/components/parameters/uploadType"
          },
          {
            "$ref": "#/components/parameters/upload_protocol"
          }
        ],
        "requestBody": {
          "description": "The task to update.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Task"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Task"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "patch": {
        "operationId": "tasks.tasks.patch",
        "summary": "Patch a task",
        "description": "Updates the specified task. This method supports patch semantics.",
        "tags": [
          "Tasks"
        ],
        "security": [
          {
            "oauth2": [
              "https://www.googleapis.com/auth/tasks"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/tasklist"
          },
          {
            "$ref": "#/components/parameters/task"
          },
          {
            "$ref": "#/components/parameters/access_token"
          },
          {
            "$ref": "#/components/parameters/alt"
          },
          {
            "$ref": "#/components/parameters/callback"
          },
          {
            "$ref": "#/components/parameters/fields"
          },
          {
            "$ref": "#/components/parameters/key"
          },
          {
            "$ref": "#/components/parameters/oauth_token"
          },
          {
            "$ref": "#/components/parameters/prettyPrint"
          },
          {
            "$ref": "#/components/parameters/quotaUser"
          },
          {
            "$ref": "#/components/parameters/uploadType"
          },
          {
            "$ref": "#/components/parameters/upload_protocol"
          }
        ],
        "requestBody": {
          "description": "The task fields to update. Only provided fields will be updated.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Task"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Task"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "operationId": "tasks.tasks.delete",
        "summary": "Delete a task",
        "description": "Deletes the specified task from the task list. If the task is assigned, both the assigned task and the original task (in Docs, Chat Spaces) are deleted. To delete the assigned task only, navigate to the assignment surface and unassign the task from there.",
        "tags": [
          "Tasks"
        ],
        "security": [
          {
            "oauth2": [
              "https://www.googleapis.com/auth/tasks"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/tasklist"
          },
          {
            "$ref": "#/components/parameters/task"
          },
          {
            "$ref": "#/components/parameters/access_token"
          },
          {
            "$ref": "#/components/parameters/alt"
          },
          {
            "$ref": "#/components/parameters/callback"
          },
          {
            "$ref": "#/components/parameters/fields"
          },
          {
            "$ref": "#/components/parameters/key"
          },
          {
            "$ref": "#/components/parameters/oauth_token"
          },
          {
            "$ref": "#/components/parameters/prettyPrint"
          },
          {
            "$ref": "#/components/parameters/quotaUser"
          },
          {
            "$ref": "#/components/parameters/uploadType"
          },
          {
            "$ref": "#/components/parameters/upload_protocol"
          }
        ],
        "responses": {
          "204": {
            "description": "Successful response with no content."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/tasks/v1/lists/{tasklist}/tasks/{task}/move": {
      "post": {
        "operationId": "tasks.tasks.move",
        "summary": "Move a task",
        "description": "Moves the specified task to another position in the destination task list. If the destination list is not specified, the task is moved within its current list. This can include putting it as a child task under a new parent and/or move it to a different position among its sibling tasks. A user can have up to 2,000 subtasks per task.",
        "tags": [
          "Tasks"
        ],
        "security": [
          {
            "oauth2": [
              "https://www.googleapis.com/auth/tasks"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/tasklist"
          },
          {
            "$ref": "#/components/parameters/task"
          },
          {
            "name": "parent",
            "in": "query",
            "description": "Optional. New parent task identifier. If the task is moved to the top level, this parameter is omitted. The task set as parent must exist in the task list and can not be hidden. Exceptions: 1. Assigned and repeating tasks cannot be set as parent tasks (have subtasks), or be moved under a parent task (become subtasks). 2. Tasks that are both completed and hidden cannot be nested, so the parent field must be empty.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "previous",
            "in": "query",
            "description": "Optional. New previous sibling task identifier. If the task is moved to the first position among its siblings, this parameter is omitted. The task set as previous must exist in the task list and can not be hidden. Exceptions: 1. Tasks that are both completed and hidden can only be moved to position 0, so the previous field must be empty.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "destinationTasklist",
            "in": "query",
            "description": "Optional. Destination task list identifier. If set, the task is moved from tasklist to the destinationTasklist list. Otherwise the task is moved within its current list. Recurrent tasks cannot currently be moved between lists.",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/access_token"
          },
          {
            "$ref": "#/components/parameters/alt"
          },
          {
            "$ref": "#/components/parameters/callback"
          },
          {
            "$ref": "#/components/parameters/fields"
          },
          {
            "$ref": "#/components/parameters/key"
          },
          {
            "$ref": "#/components/parameters/oauth_token"
          },
          {
            "$ref": "#/components/parameters/prettyPrint"
          },
          {
            "$ref": "#/components/parameters/quotaUser"
          },
          {
            "$ref": "#/components/parameters/uploadType"
          },
          {
            "$ref": "#/components/parameters/upload_protocol"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Task"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/tasks/v1/users/@me/lists": {
      "get": {
        "operationId": "tasks.tasklists.list",
        "summary": "List task lists",
        "description": "Returns all the authenticated user's task lists. A user can have up to 2000 lists at a time.",
        "tags": [
          "TaskLists"
        ],
        "security": [
          {
            "oauth2": [
              "https://www.googleapis.com/auth/tasks"
            ]
          },
          {
            "oauth2": [
              "https://www.googleapis.com/auth/tasks.readonly"
            ]
          }
        ],
        "parameters": [
          {
            "name": "maxResults",
            "in": "query",
            "description": "Maximum number of task lists returned on one page. Optional. The default is 1000 (max allowed: 1000).",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "Token specifying the result page to return. Optional.",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/access_token"
          },
          {
            "$ref": "#/components/parameters/alt"
          },
          {
            "$ref": "#/components/parameters/callback"
          },
          {
            "$ref": "#/components/parameters/fields"
          },
          {
            "$ref": "#/components/parameters/key"
          },
          {
            "$ref": "#/components/parameters/oauth_token"
          },
          {
            "$ref": "#/components/parameters/prettyPrint"
          },
          {
            "$ref": "#/components/parameters/quotaUser"
          },
          {
            "$ref": "#/components/parameters/uploadType"
          },
          {
            "$ref": "#/components/parameters/upload_protocol"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskLists"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      },
      "post": {
        "operationId": "tasks.tasklists.insert",
        "summary": "Create a task list",
        "description": "Creates a new task list and adds it to the authenticated user's task lists. A user can have up to 2000 lists at a time.",
        "tags": [
          "TaskLists"
        ],
        "security": [
          {
            "oauth2": [
              "https://www.googleapis.com/auth/tasks"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/access_token"
          },
          {
            "$ref": "#/components/parameters/alt"
          },
          {
            "$ref": "#/components/parameters/callback"
          },
          {
            "$ref": "#/components/parameters/fields"
          },
          {
            "$ref": "#/components/parameters/key"
          },
          {
            "$ref": "#/components/parameters/oauth_token"
          },
          {
            "$ref": "#/components/parameters/prettyPrint"
          },
          {
            "$ref": "#/components/parameters/quotaUser"
          },
          {
            "$ref": "#/components/parameters/uploadType"
          },
          {
            "$ref": "#/components/parameters/upload_protocol"
          }
        ],
        "requestBody": {
          "description": "The task list to create.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TaskList"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/tasks/v1/users/@me/lists/{tasklist}": {
      "get": {
        "operationId": "tasks.tasklists.get",
        "summary": "Get a task list",
        "description": "Returns the authenticated user's specified task list.",
        "tags": [
          "TaskLists"
        ],
        "security": [
          {
            "oauth2": [
              "https://www.googleapis.com/auth/tasks"
            ]
          },
          {
            "oauth2": [
              "https://www.googleapis.com/auth/tasks.readonly"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/tasklist"
          },
          {
            "$ref": "#/components/parameters/access_token"
          },
          {
            "$ref": "#/components/parameters/alt"
          },
          {
            "$ref": "#/components/parameters/callback"
          },
          {
            "$ref": "#/components/parameters/fields"
          },
          {
            "$ref": "#/components/parameters/key"
          },
          {
            "$ref": "#/components/parameters/oauth_token"
          },
          {
            "$ref": "#/components/parameters/prettyPrint"
          },
          {
            "$ref": "#/components/parameters/quotaUser"
          },
          {
            "$ref": "#/components/parameters/uploadType"
          },
          {
            "$ref": "#/components/parameters/upload_protocol"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskList"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "put": {
        "operationId": "tasks.tasklists.update",
        "summary": "Update a task list",
        "description": "Updates the authenticated user's specified task list.",
        "tags": [
          "TaskLists"
        ],
        "security": [
          {
            "oauth2": [
              "https://www.googleapis.com/auth/tasks"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/tasklist"
          },
          {
            "$ref": "#/components/parameters/access_token"
          },
          {
            "$ref": "#/components/parameters/alt"
          },
          {
            "$ref": "#/components/parameters/callback"
          },
          {
            "$ref": "#/components/parameters/fields"
          },
          {
            "$ref": "#/components/parameters/key"
          },
          {
            "$ref": "#/components/parameters/oauth_token"
          },
          {
            "$ref": "#/components/parameters/prettyPrint"
          },
          {
            "$ref": "#/components/parameters/quotaUser"
          },
          {
            "$ref": "#/components/parameters/uploadType"
          },
          {
            "$ref": "#/components/parameters/upload_protocol"
          }
        ],
        "requestBody": {
          "description": "The task list to update.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TaskList"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "patch": {
        "operationId": "tasks.tasklists.patch",
        "summary": "Patch a task list",
        "description": "Updates the authenticated user's specified task list. This method supports patch semantics.",
        "tags": [
          "TaskLists"
        ],
        "security": [
          {
            "oauth2": [
              "https://www.googleapis.com/auth/tasks"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/tasklist"
          },
          {
            "$ref": "#/components/parameters/access_token"
          },
          {
            "$ref": "#/components/parameters/alt"
          },
          {
            "$ref": "#/components/parameters/callback"
          },
          {
            "$ref": "#/components/parameters/fields"
          },
          {
            "$ref": "#/components/parameters/key"
          },
          {
            "$ref": "#/components/parameters/oauth_token"
          },
          {
            "$ref": "#/components/parameters/prettyPrint"
          },
          {
            "$ref": "#/components/parameters/quotaUser"
          },
          {
            "$ref": "#/components/parameters/uploadType"
          },
          {
            "$ref": "#/components/parameters/upload_protocol"
          }
        ],
        "requestBody": {
          "description": "The task list fields to update. Only provided fields will be updated.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TaskList"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "operationId": "tasks.tasklists.delete",
        "summary": "Delete a task list",
        "description": "Deletes the authenticated user's specified task list. If the list contains assigned tasks, both the assigned tasks and the original tasks in the assignment surface (Docs, Chat Spaces) are deleted.",
        "tags": [
          "TaskLists"
        ],
        "security": [
          {
            "oauth2": [
              "https://www.googleapis.com/auth/tasks"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/tasklist"
          },
          {
            "$ref": "#/components/parameters/access_token"
          },
          {
            "$ref": "#/components/parameters/alt"
          },
          {
            "$ref": "#/components/parameters/callback"
          },
          {
            "$ref": "#/components/parameters/fields"
          },
          {
            "$ref": "#/components/parameters/key"
          },
          {
            "$ref": "#/components/parameters/oauth_token"
          },
          {
            "$ref": "#/components/parameters/prettyPrint"
          },
          {
            "$ref": "#/components/parameters/quotaUser"
          },
          {
            "$ref": "#/components/parameters/uploadType"
          },
          {
            "$ref": "#/components/parameters/upload_protocol"
          }
        ],
        "responses": {
          "204": {
            "description": "Successful response with no content."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "oauth2": {
        "type": "oauth2",
        "description": "OAuth 2.0 authentication. Supports the authorization code flow for user-delegated access to Google Tasks.",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://accounts.google.com/o/oauth2/v2/auth",
            "tokenUrl": "https://oauth2.googleapis.com/token",
            "refreshUrl": "https://oauth2.googleapis.com/token",
            "scopes": {
              "https://www.googleapis.com/auth/tasks": "Create, edit, organize, and delete all your tasks",
              "https://www.googleapis.com/auth/tasks.readonly": "View your tasks"
            }
          }
        }
      },
      "apiKey": {
        "type": "apiKey",
        "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
        "name": "key",
        "in": "query"
      }
    },
    "parameters": {
      "tasklist": {
        "name": "tasklist",
        "in": "path",
        "description": "Task list identifier.",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "task": {
        "name": "task",
        "in": "path",
        "description": "Task identifier.",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "access_token": {
        "name": "access_token",
        "in": "query",
        "description": "OAuth access token.",
        "schema": {
          "type": "string"
        }
      },
      "alt": {
        "name": "alt",
        "in": "query",
        "description": "Data format for response.",
        "schema": {
          "type": "string",
          "enum": [
            "json",
            "media",
            "proto"
          ],
          "default": "json"
        }
      },
      "callback": {
        "name": "callback",
        "in": "query",
        "description": "JSONP callback function name.",
        "schema": {
          "type": "string"
        }
      },
      "fields": {
        "name": "fields",
        "in": "query",
        "description": "Selector specifying which fields to include in a partial response.",
        "schema": {
          "type": "string"
        }
      },
      "key": {
        "name": "key",
        "in": "query",
        "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
        "schema": {
          "type": "string"
        }
      },
      "oauth_token": {
        "name": "oauth_token",
        "in": "query",
        "description": "OAuth 2.0 token for the current user.",
        "schema": {
          "type": "string"
        }
      },
      "prettyPrint": {
        "name": "prettyPrint",
        "in": "query",
        "description": "Returns response with indentations and line breaks.",
        "schema": {
          "type": "boolean",
          "default": true
        }
      },
      "quotaUser": {
        "name": "quotaUser",
        "in": "query",
        "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
        "schema": {
          "type": "string"
        }
      },
      "uploadType": {
        "name": "uploadType",
        "in": "query",
        "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
        "schema": {
          "type": "string"
        }
      },
      "upload_protocol": {
        "name": "upload_protocol",
        "in": "query",
        "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
        "schema": {
          "type": "string"
        }
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Bad request. The request was invalid or cannot be served.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Unauthorized. Authentication credentials are missing or invalid.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Forbidden": {
        "description": "Forbidden. The authenticated user does not have permission to perform this operation.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "NotFound": {
        "description": "Not found. The specified resource was not found.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      }
    },
    "schemas": {
      "Task": {
        "type": "object",
        "description": "A task resource.",
        "properties": {
          "kind": {
            "description": "Output only. Type of the resource. This is always \"tasks#task\".",
            "readOnly": true,
            "type": "string"
          },
          "id": {
            "description": "Task identifier.",
            "type": "string"
          },
          "etag": {
            "description": "ETag of the resource.",
            "type": "string"
          },
          "title": {
            "description": "Title of the task. Maximum length allowed: 1024 characters.",
            "type": "string",
            "maxLength": 1024
          },
          "updated": {
            "description": "Output only. Last modification time of the task (as a RFC 3339 timestamp).",
            "readOnly": true,
            "type": "string",
            "format": "date-time"
          },
          "selfLink": {
            "description": "Output only. URL pointing to this task. Used to retrieve, update, or delete this task.",
            "readOnly": true,
            "type": "string",
            "format": "uri"
          },
          "parent": {
            "description": "Output only. Parent task identifier. This field is omitted if it is a top-level task. Use the \"move\" method to move the task under a different parent or to the top level. A parent task can never be an assigned task (from Chat Spaces, Docs). This field is read-only.",
            "readOnly": true,
            "type": "string"
          },
          "position": {
            "description": "Output only. String indicating the position of the task among its sibling tasks under the same parent task or at the top level. If this string is greater than another task's corresponding position string according to lexicographical ordering, the task is positioned after the other task under the same parent task (or at the top level). Use the \"move\" method to move the task to another position.",
            "readOnly": true,
            "type": "string"
          },
          "notes": {
            "description": "Notes describing the task. Tasks assigned from Google Docs cannot have notes. Optional. Maximum length allowed: 8192 characters.",
            "type": "string",
            "maxLength": 8192
          },
          "status": {
            "description": "Status of the task. This is either \"needsAction\" or \"completed\".",
            "type": "string",
            "enum": [
              "needsAction",
              "completed"
            ]
          },
          "due": {
            "description": "Scheduled date for the task (as an RFC 3339 timestamp). Optional. This represents the day that the task should be done, or that the task is visible on the calendar grid. It doesn't represent the deadline of the task. Only date information is recorded; the time portion of the timestamp is discarded when setting this field. It isn't possible to read or write the time that a task is scheduled for using the API.",
            "type": "string",
            "format": "date-time"
          },
          "completed": {
            "description": "Completion date of the task (as a RFC 3339 timestamp). This field is omitted if the task has not been completed.",
            "type": "string",
            "format": "date-time"
          },
          "deleted": {
            "description": "Flag indicating whether the task has been deleted. For assigned tasks this field is read-only. They can only be deleted by calling tasks.delete, in which case both the assigned task and the original task (in Docs or Chat Spaces) are deleted. To delete the assigned task only, navigate to the assignment surface and unassign the task from there. The default is False.",
            "type": "boolean"
          },
          "hidden": {
            "description": "Flag indicating whether the task is hidden. This is the case if the task had been marked completed when the task list was last cleared. The default is False. This field is read-only.",
            "readOnly": true,
            "type": "boolean"
          },
          "links": {
            "description": "Output only. Collection of links. This collection is read-only.",
            "readOnly": true,
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TaskLink"
            }
          },
          "webViewLink": {
            "description": "Output only. An absolute link to the task in the Google Tasks Web UI.",
            "readOnly": true,
            "type": "string",
            "format": "uri"
          },
          "assignmentInfo": {
            "description": "Output only. Context information for assigned tasks. A task can be assigned to a user, currently possible from surfaces like Docs and Chat Spaces. This field is populated for tasks assigned to the current user and identifies where the task was assigned from. This field is read-only.",
            "readOnly": true,
            "$ref": "#/components/schemas/AssignmentInfo"
          }
        }
      },
      "TaskLink": {
        "type": "object",
        "description": "A link associated with a task.",
        "properties": {
          "type": {
            "description": "Type of the link, e.g. \"email\", \"generic\", \"chat_message\", \"keep_note\".",
            "type": "string"
          },
          "description": {
            "description": "The description (might be empty).",
            "type": "string"
          },
          "link": {
            "description": "The URL.",
            "type": "string",
            "format": "uri"
          }
        }
      },
      "AssignmentInfo": {
        "type": "object",
        "description": "Information about the source of the task assignment (Document, Chat Space).",
        "properties": {
          "linkToTask": {
            "description": "Output only. An absolute link to the original task in the surface of assignment (Docs, Chat spaces, etc.).",
            "readOnly": true,
            "type": "string",
            "format": "uri"
          },
          "surfaceType": {
            "description": "Output only. The type of surface this assigned task originates from. Currently limited to DOCUMENT or SPACE.",
            "readOnly": true,
            "type": "string",
            "enum": [
              "CONTEXT_TYPE_UNSPECIFIED",
              "GMAIL",
              "DOCUMENT",
              "SPACE"
            ]
          },
          "driveResourceInfo": {
            "description": "Output only. Information about the Drive file where this task originates from. Currently, the Drive file can only be a document. This field is read-only.",
            "readOnly": true,
            "$ref": "#/components/schemas/DriveResourceInfo"
          },
          "spaceInfo": {
            "description": "Output only. Information about the Chat Space where this task originates from. This field is read-only.",
            "readOnly": true,
            "$ref": "#/components/schemas/SpaceInfo"
          }
        }
      },
      "DriveResourceInfo": {
        "type": "object",
        "description": "Information about the Drive resource where a task was assigned from (the document, sheet, etc.).",
        "properties": {
          "driveFileId": {
            "description": "Output only. Identifier of the file in the Drive API.",
            "readOnly": true,
            "type": "string"
          },
          "resourceKey": {
            "description": "Output only. Resource key required to access files shared via a shared link. Not required for all files. See also developers.google.com/drive/api/guides/resource-keys.",
            "readOnly": true,
            "type": "string"
          }
        }
      },
      "SpaceInfo": {
        "type": "object",
        "description": "Information about the Chat Space where a task was assigned from.",
        "properties": {
          "space": {
            "description": "Output only. The Chat space where this task originates from. The format is \"spaces/{space}\".",
            "readOnly": true,
            "type": "string"
          }
        }
      },
      "Tasks": {
        "type": "object",
        "description": "A collection of tasks.",
        "properties": {
          "kind": {
            "description": "Type of the resource. This is always \"tasks#tasks\".",
            "type": "string"
          },
          "etag": {
            "description": "ETag of the resource.",
            "type": "string"
          },
          "nextPageToken": {
            "description": "Token used to access the next page of this result.",
            "type": "string"
          },
          "items": {
            "description": "Collection of tasks.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Task"
            }
          }
        }
      },
      "TaskList": {
        "type": "object",
        "description": "A task list resource.",
        "properties": {
          "kind": {
            "description": "Output only. Type of the resource. This is always \"tasks#taskList\".",
            "readOnly": true,
            "type": "string"
          },
          "id": {
            "description": "Task list identifier.",
            "type": "string"
          },
          "etag": {
            "description": "ETag of the resource.",
            "type": "string"
          },
          "title": {
            "description": "Title of the task list. Maximum length allowed: 1024 characters.",
            "type": "string",
            "maxLength": 1024
          },
          "updated": {
            "description": "Output only. Last modification time of the task list (as a RFC 3339 timestamp).",
            "readOnly": true,
            "type": "string",
            "format": "date-time"
          },
          "selfLink": {
            "description": "Output only. URL pointing to this task list. Used to retrieve, update, or delete this task list.",
            "readOnly": true,
            "type": "string",
            "format": "uri"
          }
        }
      },
      "TaskLists": {
        "type": "object",
        "description": "A collection of task lists.",
        "properties": {
          "kind": {
            "description": "Type of the resource. This is always \"tasks#taskLists\".",
            "type": "string"
          },
          "etag": {
            "description": "ETag of the resource.",
            "type": "string"
          },
          "nextPageToken": {
            "description": "Token that can be used to request the next page of this result.",
            "type": "string"
          },
          "items": {
            "description": "Collection of task lists.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TaskList"
            }
          }
        }
      },
      "Error": {
        "type": "object",
        "description": "An error response from the Google Tasks API.",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "description": "HTTP status code of the error.",
                "type": "integer"
              },
              "message": {
                "description": "A human-readable description of the error.",
                "type": "string"
              },
              "status": {
                "description": "The status of the error (e.g. \"NOT_FOUND\", \"PERMISSION_DENIED\").",
                "type": "string"
              },
              "errors": {
                "description": "A list of specific errors.",
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "description": "A human-readable description of the error.",
                      "type": "string"
                    },
                    "domain": {
                      "description": "The domain of the error.",
                      "type": "string"
                    },
                    "reason": {
                      "description": "The reason for the error.",
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
