{
  "openapi": "3.0.3",
  "info": {
    "title": "Greenhouse Harvest API",
    "description": "The Greenhouse Harvest API v3 provides programmatic access to Greenhouse recruiting data. It is a RESTful API using resource-oriented URLs, standard HTTP methods, JSON-formatted responses, and OAuth 2.0 token-based authentication.\n\nThis specification covers the Partner Integration flow using OAuth 2.0 Authorization Code Grant.\n\nKey features:\n- Manage candidates, applications, jobs, and offers\n- Access scorecards, interviews, and hiring workflows\n- Configure custom fields, departments, and offices\n- Cursor-based pagination on all list endpoints\n- Rate limiting with standard headers",
    "version": "3.0",
    "contact": {
      "name": "Greenhouse Developer Support",
      "url": "https://harvestdocs.greenhouse.io",
      "email": "partner-support@greenhouse.io"
    },
    "license": {
      "name": "Greenhouse Terms of Service",
      "url": "https://www.greenhouse.com/uk/terms"
    }
  },
  "servers": [
    {
      "url": "https://harvest.greenhouse.io/v3",
      "description": "Greenhouse Harvest API v3 (Production)"
    },
    {
      "url": "https://auth.greenhouse.io",
      "description": "Greenhouse OAuth Authorization Server"
    }
  ],
  "security": [
    {
      "greenhouse_oauth": []
    }
  ],
  "tags": [
    {
      "name": "Auth",
      "description": "OAuth 2.0 token exchange endpoints for obtaining and refreshing access tokens"
    },
    {
      "name": "Application Stages",
      "description": "Track the stage history of applications through the hiring pipeline"
    },
    {
      "name": "Applications",
      "description": "Manage candidate and prospect applications across jobs"
    },
    {
      "name": "Applied Candidate Tags",
      "description": "Tags applied to specific candidates"
    },
    {
      "name": "Approval Flows",
      "description": "Manage offer and job approval workflows"
    },
    {
      "name": "Approver Flows",
      "description": "Replace approver groups within approval flows"
    },
    {
      "name": "Approver Groups",
      "description": "Groups of approvers within an approval flow"
    },
    {
      "name": "Approvers",
      "description": "Individual approvers within approver groups"
    },
    {
      "name": "Attachments",
      "description": "Manage file attachments on applications"
    },
    {
      "name": "Blocked Spam Sources",
      "description": "Manage blocked spam application sources"
    },
    {
      "name": "Bulk Requests",
      "description": "Track the status of asynchronous bulk operations"
    },
    {
      "name": "Candidate Attribute Types",
      "description": "Retrieve candidate attribute type definitions"
    },
    {
      "name": "Candidate Educations",
      "description": "Manage education records for candidates"
    },
    {
      "name": "Candidate Employments",
      "description": "Manage employment history for candidates"
    },
    {
      "name": "Candidate Tags",
      "description": "Manage the tag library for candidates"
    },
    {
      "name": "Candidates",
      "description": "Manage candidate profiles and records"
    },
    {
      "name": "Close Reasons",
      "description": "Retrieve reasons for closing jobs"
    },
    {
      "name": "Custom Field Departments",
      "description": "Manage department associations for custom fields"
    },
    {
      "name": "Custom Field Offices",
      "description": "Manage office associations for custom fields"
    },
    {
      "name": "Custom Field Options",
      "description": "Manage selectable options for custom fields"
    },
    {
      "name": "Custom Fields",
      "description": "Manage custom field definitions"
    },
    {
      "name": "Default Interviewers",
      "description": "Retrieve default interviewers for interview stages"
    },
    {
      "name": "Demographic Answer Options",
      "description": "Retrieve demographic survey answer options"
    },
    {
      "name": "Demographic Answers",
      "description": "Retrieve demographic survey answers"
    },
    {
      "name": "Demographic Question Sets",
      "description": "Retrieve demographic survey question sets"
    },
    {
      "name": "Demographic Questions",
      "description": "Retrieve demographic survey questions"
    },
    {
      "name": "Departments",
      "description": "Manage organizational departments"
    },
    {
      "name": "EEOC",
      "description": "Retrieve EEOC compliance data"
    },
    {
      "name": "Email Templates",
      "description": "Retrieve email template definitions"
    },
    {
      "name": "Focus Candidate Attributes",
      "description": "Retrieve focus attributes for candidate evaluation"
    },
    {
      "name": "Future Job Permissions",
      "description": "Manage user permissions for future jobs"
    },
    {
      "name": "Interview Kits",
      "description": "Retrieve interview kit definitions"
    },
    {
      "name": "Interviewer Tags",
      "description": "Retrieve tags assigned to interviewers"
    },
    {
      "name": "Interviewers",
      "description": "Retrieve interviewer records for scheduled interviews"
    },
    {
      "name": "Interviews",
      "description": "Manage scheduled interviews"
    },
    {
      "name": "Job Board Custom Locations",
      "description": "Retrieve custom location definitions for job boards"
    },
    {
      "name": "Job Candidate Attributes",
      "description": "Retrieve candidate attributes configured per job"
    },
    {
      "name": "Job Hiring Managers",
      "description": "Manage hiring managers assigned to jobs"
    },
    {
      "name": "Job Interview Stages",
      "description": "Retrieve interview stage definitions for jobs"
    },
    {
      "name": "Job Interviews",
      "description": "Retrieve interview step definitions within job stages"
    },
    {
      "name": "Job Notes",
      "description": "Manage notes on jobs"
    },
    {
      "name": "Job Owners",
      "description": "Manage recruiters, coordinators, and sourcers assigned to jobs"
    },
    {
      "name": "Job Post Locations",
      "description": "Manage locations associated with job posts"
    },
    {
      "name": "Job Posts",
      "description": "Manage job postings on job boards"
    },
    {
      "name": "Jobs",
      "description": "Manage job requisitions"
    },
    {
      "name": "Notes",
      "description": "Manage candidate notes"
    },
    {
      "name": "Offers",
      "description": "Manage offers extended to candidates"
    },
    {
      "name": "Offices",
      "description": "Manage office locations"
    },
    {
      "name": "Openings",
      "description": "Manage job openings (headcount)"
    },
    {
      "name": "Pay Input Ranges",
      "description": "Retrieve pay input range definitions"
    },
    {
      "name": "Pay Inputs",
      "description": "Retrieve pay input values"
    },
    {
      "name": "Prospect Details",
      "description": "Retrieve prospect-specific application details"
    },
    {
      "name": "Prospect Pool Stages",
      "description": "Retrieve stages within prospect pools"
    },
    {
      "name": "Prospect Pools",
      "description": "Retrieve prospect pool definitions"
    },
    {
      "name": "Referrers",
      "description": "Retrieve referrer records"
    },
    {
      "name": "Rejection Details",
      "description": "Manage rejection detail responses"
    },
    {
      "name": "Rejection Reasons",
      "description": "Retrieve rejection reason definitions"
    },
    {
      "name": "Scorecard Candidate Attributes",
      "description": "Retrieve candidate attribute ratings from scorecards"
    },
    {
      "name": "Scorecard Question Answer Options",
      "description": "Retrieve answer option definitions for scorecard questions"
    },
    {
      "name": "Scorecard Question Answers",
      "description": "Retrieve answers submitted for scorecard questions"
    },
    {
      "name": "Scorecard Question Candidate Attributes",
      "description": "Retrieve candidate attribute associations for scorecard questions"
    },
    {
      "name": "Scorecard Question Options",
      "description": "Retrieve option definitions for scorecard questions"
    },
    {
      "name": "Scorecard Questions",
      "description": "Retrieve scorecard question definitions"
    },
    {
      "name": "Scorecards",
      "description": "Retrieve submitted interview scorecards"
    },
    {
      "name": "Sources",
      "description": "Retrieve candidate source definitions"
    },
    {
      "name": "Tracking Links",
      "description": "Retrieve tracking link definitions"
    },
    {
      "name": "User Emails",
      "description": "Manage email addresses for users"
    },
    {
      "name": "User Job Permissions",
      "description": "Manage user permissions on specific jobs"
    },
    {
      "name": "User Roles",
      "description": "Retrieve user role definitions"
    },
    {
      "name": "Users",
      "description": "Manage Greenhouse user accounts"
    }
  ],
  "paths": {
    "/token": {
      "post": {
        "operationId": "generateToken",
        "summary": "Generate or refresh OAuth 2.0 access token",
        "description": "Exchange an authorization code for access and refresh tokens (grant_type=authorization_code), or refresh an expired access token (grant_type=refresh_token). Client authentication via HTTP Basic using Base64-encoded client_id:client_secret.",
        "tags": [
          "Auth"
        ],
        "servers": [
          {
            "url": "https://auth.greenhouse.io",
            "description": "Greenhouse OAuth Authorization Server"
          }
        ],
        "security": [],
        "parameters": [
          {
            "name": "grant_type",
            "in": "query",
            "required": true,
            "description": "OAuth 2.0 grant type",
            "schema": {
              "type": "string",
              "enum": [
                "authorization_code",
                "refresh_token"
              ]
            }
          },
          {
            "name": "code",
            "in": "query",
            "description": "Authorization code received from the callback (required when grant_type=authorization_code). Expires after 1 minute.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "refresh_token",
            "in": "query",
            "description": "Refresh token (required when grant_type=refresh_token). Expires after 24 hours.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Empty body; parameters are sent as query parameters",
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Token exchange successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/application_stages": {
      "get": {
        "operationId": "listApplicationStages",
        "summary": "List application stages",
        "tags": [
          "Application Stages"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PerPage"
          },
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "name": "ids",
            "in": "query",
            "description": "Filter by comma-separated IDs",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "application_ids",
            "in": "query",
            "description": "Filter by comma-separated application IDs",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "stage_id",
            "in": "query",
            "description": "Filter by stage ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ApplicationStage"
                  }
                }
              }
            },
            "headers": {
              "Link": {
                "$ref": "#/components/headers/LinkPagination"
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "security": [
          {
            "greenhouse_oauth": [
              "harvest:application_stages:list"
            ]
          }
        ]
      }
    },
    "/applications": {
      "get": {
        "operationId": "listApplications",
        "summary": "List applications",
        "tags": [
          "Applications"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PerPage"
          },
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "name": "ids",
            "in": "query",
            "description": "Filter by comma-separated IDs",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "created_at",
            "in": "query",
            "description": "Filter by creation date. Supports operators: gte|, lte|, gt|, lt| (e.g. gte|2024-01-01T00:00:00Z)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "updated_at",
            "in": "query",
            "description": "Filter by last updated date. Supports operators: gte|, lte|, gt|, lt|",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter by status",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "candidate_ids",
            "in": "query",
            "description": "Filter by comma-separated candidate IDs",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "job_ids",
            "in": "query",
            "description": "Filter by comma-separated job IDs",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Application"
                  }
                }
              }
            },
            "headers": {
              "Link": {
                "$ref": "#/components/headers/LinkPagination"
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "security": [
          {
            "greenhouse_oauth": [
              "harvest:applications:list"
            ]
          }
        ]
      },
      "post": {
        "operationId": "createApplication",
        "summary": "Create application",
        "tags": [
          "Applications"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApplicationCreateRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Application"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableContent"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "security": [
          {
            "greenhouse_oauth": [
              "harvest:applications:create"
            ]
          }
        ]
      }
    },
    "/applications/{id}": {
      "patch": {
        "operationId": "updateApplication",
        "summary": "Update application",
        "tags": [
          "Applications"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdPath"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApplicationUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Application"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableContent"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "security": [
          {
            "greenhouse_oauth": [
              "harvest:applications:update"
            ]
          }
        ]
      },
      "delete": {
        "operationId": "deleteApplication",
        "summary": "Delete application",
        "tags": [
          "Applications"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdPath"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully deleted"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "security": [
          {
            "greenhouse_oauth": [
              "harvest:applications:delete"
            ]
          }
        ]
      }
    },
    "/applications/{id}/reject": {
      "post": {
        "operationId": "rejectApplication",
        "summary": "Reject application",
        "tags": [
          "Applications"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdPath"
          }
        ],
        "responses": {
          "200": {
            "description": "Application rejected",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Application"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableContent"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "security": [
          {
            "greenhouse_oauth": [
              "harvest:applications:reject"
            ]
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApplicationRejectRequest"
              }
            }
          }
        }
      }
    },
    "/applications/{id}/unreject": {
      "post": {
        "operationId": "unrejectApplication",
        "summary": "Unreject application",
        "tags": [
          "Applications"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdPath"
          }
        ],
        "responses": {
          "200": {
            "description": "Application unrejected",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Application"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableContent"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "security": [
          {
            "greenhouse_oauth": [
              "harvest:applications:unreject"
            ]
          }
        ]
      }
    },
    "/applications/{id}/hire": {
      "post": {
        "operationId": "hireApplication",
        "summary": "Mark application as hired",
        "tags": [
          "Applications"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdPath"
          }
        ],
        "responses": {
          "200": {
            "description": "Application marked as hired",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Application"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableContent"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "security": [
          {
            "greenhouse_oauth": [
              "harvest:applications:hire"
            ]
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApplicationHireRequest"
              }
            }
          }
        }
      }
    },
    "/applications/{id}/move": {
      "post": {
        "operationId": "moveApplication",
        "summary": "Move application to a different stage or transfer to another job",
        "tags": [
          "Applications"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdPath"
          }
        ],
        "responses": {
          "200": {
            "description": "Application moved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Application"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableContent"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "security": [
          {
            "greenhouse_oauth": [
              "harvest:applications:move"
            ]
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApplicationMoveRequest"
              }
            }
          }
        }
      }
    },
    "/applications/{id}/convert": {
      "post": {
        "operationId": "convertProspectToCandidate",
        "summary": "Convert a prospect to a candidate",
        "tags": [
          "Applications"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdPath"
          }
        ],
        "responses": {
          "200": {
            "description": "Prospect converted to candidate",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Application"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableContent"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "security": [
          {
            "greenhouse_oauth": [
              "harvest:applications:convert"
            ]
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApplicationConvertRequest"
              }
            }
          }
        }
      }
    },
    "/applied_candidate_tags": {
      "get": {
        "operationId": "listAppliedCandidateTags",
        "summary": "List applied candidate tags",
        "tags": [
          "Applied Candidate Tags"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PerPage"
          },
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "name": "ids",
            "in": "query",
            "description": "Filter by comma-separated IDs",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "candidate_ids",
            "in": "query",
            "description": "Filter by comma-separated candidate IDs",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AppliedCandidateTag"
                  }
                }
              }
            },
            "headers": {
              "Link": {
                "$ref": "#/components/headers/LinkPagination"
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "security": [
          {
            "greenhouse_oauth": [
              "harvest:applied_candidate_tags:list"
            ]
          }
        ]
      },
      "post": {
        "operationId": "createAppliedCandidateTag",
        "summary": "Apply a tag to a candidate",
        "tags": [
          "Applied Candidate Tags"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AppliedCandidateTagCreateRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppliedCandidateTag"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableContent"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "security": [
          {
            "greenhouse_oauth": [
              "harvest:applied_candidate_tags:create"
            ]
          }
        ]
      }
    },
    "/applied_candidate_tags/{id}": {
      "delete": {
        "operationId": "deleteAppliedCandidateTag",
        "summary": "Remove a tag from a candidate",
        "tags": [
          "Applied Candidate Tags"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdPath"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully deleted"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "security": [
          {
            "greenhouse_oauth": [
              "harvest:applied_candidate_tags:delete"
            ]
          }
        ]
      }
    },
    "/approval_flows": {
      "get": {
        "operationId": "listApprovalFlows",
        "summary": "List approval flows",
        "tags": [
          "Approval Flows"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PerPage"
          },
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "name": "ids",
            "in": "query",
            "description": "Filter by comma-separated IDs",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "job_ids",
            "in": "query",
            "description": "Filter by comma-separated job IDs",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ApprovalFlow"
                  }
                }
              }
            },
            "headers": {
              "Link": {
                "$ref": "#/components/headers/LinkPagination"
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "security": [
          {
            "greenhouse_oauth": [
              "harvest:approval_flows:list"
            ]
          }
        ]
      },
      "post": {
        "operationId": "createApprovalFlow",
        "summary": "Create approval flow",
        "tags": [
          "Approval Flows"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApprovalFlowCreateRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApprovalFlow"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableContent"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "security": [
          {
            "greenhouse_oauth": [
              "harvest:approval_flows:create"
            ]
          }
        ]
      }
    },
    "/approval_flows/{id}": {
      "patch": {
        "operationId": "updateApprovalFlow",
        "summary": "Update approval flow",
        "tags": [
          "Approval Flows"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdPath"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApprovalFlowUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApprovalFlow"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableContent"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "security": [
          {
            "greenhouse_oauth": [
              "harvest:approval_flows:update"
            ]
          }
        ]
      }
    },
    "/approval_flows/{id}/request_approvals": {
      "post": {
        "operationId": "requestApprovals",
        "summary": "Request approvals for an approval flow",
        "tags": [
          "Approval Flows"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdPath"
          }
        ],
        "responses": {
          "200": {
            "description": "Approvals requested",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableContent"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "security": [
          {
            "greenhouse_oauth": [
              "harvest:approval_flows:request_approvals"
            ]
          }
        ]
      }
    },
    "/approval_flows/{id}/approver_groups": {
      "put": {
        "operationId": "replaceApproverGroups",
        "summary": "Replace approver groups in an approval flow",
        "tags": [
          "Approver Flows"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdPath"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApproverGroupsReplaceRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApprovalFlow"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableContent"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "security": [
          {
            "greenhouse_oauth": [
              "harvest:approval_flows:update"
            ]
          }
        ]
      }
    },
    "/approver_groups": {
      "get": {
        "operationId": "listApproverGroups",
        "summary": "List approver groups",
        "tags": [
          "Approver Groups"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PerPage"
          },
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "name": "ids",
            "in": "query",
            "description": "Filter by comma-separated IDs",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "approval_flow_id",
            "in": "query",
            "description": "Filter by approval flow ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ApproverGroup"
                  }
                }
              }
            },
            "headers": {
              "Link": {
                "$ref": "#/components/headers/LinkPagination"
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "security": [
          {
            "greenhouse_oauth": [
              "harvest:approver_groups:list"
            ]
          }
        ]
      }
    },
    "/approver_groups/{id}/approver": {
      "put": {
        "operationId": "replaceApprover",
        "summary": "Replace an approver in an approver group",
        "tags": [
          "Approver Groups"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdPath"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApproverReplaceRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApproverGroup"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableContent"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "security": [
          {
            "greenhouse_oauth": [
              "harvest:approver_groups:update"
            ]
          }
        ]
      }
    },
    "/approvers": {
      "get": {
        "operationId": "listApprovers",
        "summary": "List approvers",
        "tags": [
          "Approvers"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PerPage"
          },
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "name": "ids",
            "in": "query",
            "description": "Filter by comma-separated IDs",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "approver_group_id",
            "in": "query",
            "description": "Filter by approver group ID",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter by approval status",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Approver"
                  }
                }
              }
            },
            "headers": {
              "Link": {
                "$ref": "#/components/headers/LinkPagination"
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "security": [
          {
            "greenhouse_oauth": [
              "harvest:approvers:list"
            ]
          }
        ]
      }
    },
    "/attachments": {
      "get": {
        "operationId": "listAttachments",
        "summary": "List attachments",
        "tags": [
          "Attachments"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PerPage"
          },
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "name": "ids",
            "in": "query",
            "description": "Filter by comma-separated IDs",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "application_ids",
            "in": "query",
            "description": "Filter by comma-separated application IDs",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Attachment"
                  }
                }
              }
            },
            "headers": {
              "Link": {
                "$ref": "#/components/headers/LinkPagination"
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "security": [
          {
            "greenhouse_oauth": [
              "harvest:attachments:list"
            ]
          }
        ]
      },
      "post": {
        "operationId": "createAttachment",
        "summary": "Create attachment",
        "tags": [
          "Attachments"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AttachmentCreateRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Attachment"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableContent"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "security": [
          {
            "greenhouse_oauth": [
              "harvest:attachments:create"
            ]
          }
        ]
      }
    },
    "/attachments/{id}": {
      "delete": {
        "operationId": "deleteAttachment",
        "summary": "Delete attachment",
        "tags": [
          "Attachments"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdPath"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully deleted"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "security": [
          {
            "greenhouse_oauth": [
              "harvest:attachments:delete"
            ]
          }
        ]
      }
    },
    "/blocked_spam_sources": {
      "get": {
        "operationId": "listBlockedSpamSources",
        "summary": "List blocked spam sources",
        "tags": [
          "Blocked Spam Sources"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PerPage"
          },
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "name": "ids",
            "in": "query",
            "description": "Filter by comma-separated IDs",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BlockedSpamSource"
                  }
                }
              }
            },
            "headers": {
              "Link": {
                "$ref": "#/components/headers/LinkPagination"
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "security": [
          {
            "greenhouse_oauth": [
              "harvest:blocked_spam_sources:list"
            ]
          }
        ]
      },
      "post": {
        "operationId": "createBlockedSpamSource",
        "summary": "Create blocked spam source",
        "tags": [
          "Blocked Spam Sources"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BlockedSpamSourceCreateRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BlockedSpamSource"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableContent"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "security": [
          {
            "greenhouse_oauth": [
              "harvest:blocked_spam_sources:create"
            ]
          }
        ]
      }
    },
    "/blocked_spam_sources/{id}": {
      "patch": {
        "operationId": "updateBlockedSpamSource",
        "summary": "Update blocked spam source",
        "tags": [
          "Blocked Spam Sources"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdPath"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BlockedSpamSourceUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BlockedSpamSource"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableContent"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "security": [
          {
            "greenhouse_oauth": [
              "harvest:blocked_spam_sources:update"
            ]
          }
        ]
      },
      "delete": {
        "operationId": "deleteBlockedSpamSource",
        "summary": "Delete blocked spam source",
        "tags": [
          "Blocked Spam Sources"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdPath"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully deleted"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "security": [
          {
            "greenhouse_oauth": [
              "harvest:blocked_spam_sources:delete"
            ]
          }
        ]
      }
    },
    "/blocked_spam_sources/bulk": {
      "post": {
        "operationId": "bulkCreateBlockedSpamSources",
        "summary": "Bulk create blocked spam sources",
        "tags": [
          "Blocked Spam Sources"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BulkBlockedSpamSourceRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Bulk request accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BulkRequest"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableContent"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "security": [
          {
            "greenhouse_oauth": [
              "harvest:blocked_spam_sources:create"
            ]
          }
        ]
      },
      "delete": {
        "operationId": "bulkDeleteBlockedSpamSources",
        "summary": "Bulk delete blocked spam sources",
        "tags": [
          "Blocked Spam Sources"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BulkDeleteRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Bulk request accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BulkRequest"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableContent"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "security": [
          {
            "greenhouse_oauth": [
              "harvest:blocked_spam_sources:delete"
            ]
          }
        ]
      },
      "patch": {
        "operationId": "bulkUpdateBlockedSpamSources",
        "summary": "Bulk update blocked spam sources",
        "tags": [
          "Blocked Spam Sources"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BulkBlockedSpamSourceRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Bulk request accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BulkRequest"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableContent"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "security": [
          {
            "greenhouse_oauth": [
              "harvest:blocked_spam_sources:update"
            ]
          }
        ]
      }
    },
    "/bulk_requests": {
      "get": {
        "operationId": "listBulkRequests",
        "summary": "List bulk requests",
        "tags": [
          "Bulk Requests"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PerPage"
          },
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "name": "ids",
            "in": "query",
            "description": "Filter by comma-separated IDs",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BulkRequest"
                  }
                }
              }
            },
            "headers": {
              "Link": {
                "$ref": "#/components/headers/LinkPagination"
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "security": [
          {
            "greenhouse_oauth": [
              "harvest:bulk_requests:list"
            ]
          }
        ]
      }
    },
    "/bulk_requests/{id}": {
      "get": {
        "operationId": "getBulkRequest",
        "summary": "Get a bulk request by ID",
        "tags": [
          "Bulk Requests"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdPath"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BulkRequest"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "security": [
          {
            "greenhouse_oauth": [
              "harvest:bulk_requests:list"
            ]
          }
        ]
      }
    },
    "/candidate_attribute_types": {
      "get": {
        "operationId": "listCandidateAttributeTypes",
        "summary": "List candidate attribute types",
        "tags": [
          "Candidate Attribute Types"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PerPage"
          },
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "name": "ids",
            "in": "query",
            "description": "Filter by comma-separated IDs",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CandidateAttributeType"
                  }
                }
              }
            },
            "headers": {
              "Link": {
                "$ref": "#/components/headers/LinkPagination"
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "security": [
          {
            "greenhouse_oauth": [
              "harvest:candidate_attribute_types:list"
            ]
          }
        ]
      }
    },
    "/candidate_educations": {
      "get": {
        "operationId": "listCandidateEducations",
        "summary": "List candidate educations",
        "tags": [
          "Candidate Educations"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PerPage"
          },
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "name": "ids",
            "in": "query",
            "description": "Filter by comma-separated IDs",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "candidate_ids",
            "in": "query",
            "description": "Filter by comma-separated candidate IDs",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CandidateEducation"
                  }
                }
              }
            },
            "headers": {
              "Link": {
                "$ref": "#/components/headers/LinkPagination"
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "security": [
          {
            "greenhouse_oauth": [
              "harvest:candidate_educations:list"
            ]
          }
        ]
      },
      "post": {
        "operationId": "createCandidateEducation",
        "summary": "Create candidate education",
        "tags": [
          "Candidate Educations"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CandidateEducationCreateRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CandidateEducation"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableContent"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "security": [
          {
            "greenhouse_oauth": [
              "harvest:candidate_educations:create"
            ]
          }
        ]
      }
    },
    "/candidate_educations/{id}": {
      "delete": {
        "operationId": "deleteCandidateEducation",
        "summary": "Delete candidate education",
        "tags": [
          "Candidate Educations"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdPath"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully deleted"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "security": [
          {
            "greenhouse_oauth": [
              "harvest:candidate_educations:delete"
            ]
          }
        ]
      }
    },
    "/candidate_employments": {
      "get": {
        "operationId": "listCandidateEmployments",
        "summary": "List candidate employments",
        "tags": [
          "Candidate Employments"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PerPage"
          },
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "name": "ids",
            "in": "query",
            "description": "Filter by comma-separated IDs",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "candidate_ids",
            "in": "query",
            "description": "Filter by comma-separated candidate IDs",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CandidateEmployment"
                  }
                }
              }
            },
            "headers": {
              "Link": {
                "$ref": "#/components/headers/LinkPagination"
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "security": [
          {
            "greenhouse_oauth": [
              "harvest:candidate_employments:list"
            ]
          }
        ]
      },
      "post": {
        "operationId": "createCandidateEmployment",
        "summary": "Create candidate employment",
        "tags": [
          "Candidate Employments"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CandidateEmploymentCreateRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CandidateEmployment"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableContent"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "security": [
          {
            "greenhouse_oauth": [
              "harvest:candidate_employments:create"
            ]
          }
        ]
      }
    },
    "/candidate_employments/{id}": {
      "delete": {
        "operationId": "deleteCandidateEmployment",
        "summary": "Delete candidate employment",
        "tags": [
          "Candidate Employments"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdPath"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully deleted"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "security": [
          {
            "greenhouse_oauth": [
              "harvest:candidate_employments:delete"
            ]
          }
        ]
      }
    },
    "/candidate_tags": {
      "get": {
        "operationId": "listCandidateTags",
        "summary": "List candidate tags",
        "tags": [
          "Candidate Tags"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PerPage"
          },
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "name": "ids",
            "in": "query",
            "description": "Filter by comma-separated IDs",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CandidateTag"
                  }
                }
              }
            },
            "headers": {
              "Link": {
                "$ref": "#/components/headers/LinkPagination"
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "security": [
          {
            "greenhouse_oauth": [
              "harvest:candidate_tags:list"
            ]
          }
        ]
      },
      "post": {
        "operationId": "createCandidateTag",
        "summary": "Create candidate tag",
        "tags": [
          "Candidate Tags"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CandidateTagCreateRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CandidateTag"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableContent"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "security": [
          {
            "greenhouse_oauth": [
              "harvest:candidate_tags:create"
            ]
          }
        ]
      }
    },
    "/candidate_tags/{id}": {
      "delete": {
        "operationId": "deleteCandidateTag",
        "summary": "Delete candidate tag",
        "tags": [
          "Candidate Tags"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdPath"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully deleted"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "security": [
          {
            "greenhouse_oauth": [
              "harvest:candidate_tags:delete"
            ]
          }
        ]
      }
    },
    "/candidates": {
      "get": {
        "operationId": "listCandidates",
        "summary": "List candidates",
        "tags": [
          "Candidates"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PerPage"
          },
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "name": "ids",
            "in": "query",
            "description": "Filter by comma-separated IDs",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "created_at",
            "in": "query",
            "description": "Filter by creation date. Supports operators: gte|, lte|, gt|, lt| (e.g. gte|2024-01-01T00:00:00Z)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "updated_at",
            "in": "query",
            "description": "Filter by last updated date. Supports operators: gte|, lte|, gt|, lt|",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "email",
            "in": "query",
            "description": "Filter by email address",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "private",
            "in": "query",
            "description": "Filter by private status",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Candidate"
                  }
                }
              }
            },
            "headers": {
              "Link": {
                "$ref": "#/components/headers/LinkPagination"
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "security": [
          {
            "greenhouse_oauth": [
              "harvest:candidates:list"
            ]
          }
        ]
      },
      "post": {
        "operationId": "createCandidate",
        "summary": "Create candidate",
        "tags": [
          "Candidates"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CandidateCreateRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Candidate"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableContent"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "security": [
          {
            "greenhouse_oauth": [
              "harvest:candidates:create"
            ]
          }
        ]
      }
    },
    "/candidates/{id}": {
      "patch": {
        "operationId": "updateCandidate",
        "summary": "Update candidate",
        "tags": [
          "Candidates"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdPath"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CandidateUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Candidate"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableContent"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "security": [
          {
            "greenhouse_oauth": [
              "harvest:candidates:update"
            ]
          }
        ]
      },
      "delete": {
        "operationId": "deleteCandidate",
        "summary": "Delete candidate",
        "tags": [
          "Candidates"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdPath"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully deleted"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "security": [
          {
            "greenhouse_oauth": [
              "harvest:candidates:delete"
            ]
          }
        ]
      }
    },
    "/candidates/{id}/anonymize": {
      "patch": {
        "operationId": "anonymizeCandidate",
        "summary": "Anonymize candidate",
        "description": "Anonymize specified fields on a candidate record for GDPR/privacy compliance.",
        "tags": [
          "Candidates"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdPath"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CandidateAnonymizeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Candidate"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableContent"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "security": [
          {
            "greenhouse_oauth": [
              "harvest:candidates:anonymize"
            ]
          }
        ]
      }
    },
    "/candidates/merge": {
      "post": {
        "operationId": "mergeCandidates",
        "summary": "Merge two candidates",
        "tags": [
          "Candidates"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CandidateMergeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Candidates merged",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Candidate"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableContent"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "security": [
          {
            "greenhouse_oauth": [
              "harvest:candidates:merge"
            ]
          }
        ]
      }
    },
    "/close_reasons": {
      "get": {
        "operationId": "listCloseReasons",
        "summary": "List close reasons",
        "tags": [
          "Close Reasons"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PerPage"
          },
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "name": "ids",
            "in": "query",
            "description": "Filter by comma-separated IDs",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CloseReason"
                  }
                }
              }
            },
            "headers": {
              "Link": {
                "$ref": "#/components/headers/LinkPagination"
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "security": [
          {
            "greenhouse_oauth": [
              "harvest:close_reasons:list"
            ]
          }
        ]
      }
    },
    "/custom_field_departments": {
      "get": {
        "operationId": "listCustomFieldDepartments",
        "summary": "List custom field departments",
        "tags": [
          "Custom Field Departments"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PerPage"
          },
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "name": "ids",
            "in": "query",
            "description": "Filter by comma-separated IDs",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CustomFieldDepartment"
                  }
                }
              }
            },
            "headers": {
              "Link": {
                "$ref": "#/components/headers/LinkPagination"
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "security": [
          {
            "greenhouse_oauth": [
              "harvest:custom_field_departments:list"
            ]
          }
        ]
      },
      "post": {
        "operationId": "createCustomFieldDepartment",
        "summary": "Create custom field department association",
        "tags": [
          "Custom Field Departments"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomFieldDepartmentCreateRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomFieldDepartment"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableContent"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "security": [
          {
            "greenhouse_oauth": [
              "harvest:custom_field_departments:create"
            ]
          }
        ]
      }
    },
    "/custom_field_departments/{id}": {
      "delete": {
        "operationId": "deleteCustomFieldDepartment",
        "summary": "Delete custom field department association",
        "tags": [
          "Custom Field Departments"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdPath"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully deleted"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "security": [
          {
            "greenhouse_oauth": [
              "harvest:custom_field_departments:delete"
            ]
          }
        ]
      }
    },
    "/custom_field_offices": {
      "get": {
        "operationId": "listCustomFieldOffices",
        "summary": "List custom field offices",
        "tags": [
          "Custom Field Offices"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PerPage"
          },
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "name": "ids",
            "in": "query",
            "description": "Filter by comma-separated IDs",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CustomFieldOffice"
                  }
                }
              }
            },
            "headers": {
              "Link": {
                "$ref": "#/components/headers/LinkPagination"
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "security": [
          {
            "greenhouse_oauth": [
              "harvest:custom_field_offices:list"
            ]
          }
        ]
      },
      "post": {
        "operationId": "createCustomFieldOffice",
        "summary": "Create custom field office association",
        "tags": [
          "Custom Field Offices"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomFieldOfficeCreateRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomFieldOffice"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableContent"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "security": [
          {
            "greenhouse_oauth": [
              "harvest:custom_field_offices:create"
            ]
          }
        ]
      }
    },
    "/custom_field_offices/{id}": {
      "delete": {
        "operationId": "deleteCustomFieldOffice",
        "summary": "Delete custom field office association",
        "tags": [
          "Custom Field Offices"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdPath"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully deleted"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "security": [
          {
            "greenhouse_oauth": [
              "harvest:custom_field_offices:delete"
            ]
          }
        ]
      }
    },
    "/custom_field_options": {
      "get": {
        "operationId": "listCustomFieldOptions",
        "summary": "List custom field options",
        "tags": [
          "Custom Field Options"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PerPage"
          },
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "name": "ids",
            "in": "query",
            "description": "Filter by comma-separated IDs",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "custom_field_id",
            "in": "query",
            "description": "Filter by custom field ID",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "field_key",
            "in": "query",
            "description": "Filter by custom field key",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CustomFieldOption"
                  }
                }
              }
            },
            "headers": {
              "Link": {
                "$ref": "#/components/headers/LinkPagination"
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "security": [
          {
            "greenhouse_oauth": [
              "harvest:custom_field_options:list"
            ]
          }
        ]
      },
      "post": {
        "operationId": "createCustomFieldOption",
        "summary": "Create custom field option",
        "tags": [
          "Custom Field Options"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomFieldOptionCreateRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomFieldOption"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableContent"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "security": [
          {
            "greenhouse_oauth": [
              "harvest:custom_field_options:create"
            ]
          }
        ]
      }
    },
    "/custom_field_options/{id}": {
      "patch": {
        "operationId": "updateCustomFieldOption",
        "summary": "Update custom field option",
        "tags": [
          "Custom Field Options"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdPath"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomFieldOptionUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomFieldOption"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableContent"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "security": [
          {
            "greenhouse_oauth": [
              "harvest:custom_field_options:update"
            ]
          }
        ]
      },
      "delete": {
        "operationId": "deleteCustomFieldOption",
        "summary": "Delete custom field option",
        "tags": [
          "Custom Field Options"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdPath"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully deleted"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "security": [
          {
            "greenhouse_oauth": [
              "harvest:custom_field_options:delete"
            ]
          }
        ]
      }
    },
    "/custom_field_options/bulk": {
      "post": {
        "operationId": "bulkCreateCustomFieldOptions",
        "summary": "Bulk create custom field options",
        "tags": [
          "Custom Field Options"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BulkCustomFieldOptionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Bulk request accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BulkRequest"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableContent"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "security": [
          {
            "greenhouse_oauth": [
              "harvest:custom_field_options:create"
            ]
          }
        ]
      },
      "delete": {
        "operationId": "bulkDeleteCustomFieldOptions",
        "summary": "Bulk delete custom field options",
        "tags": [
          "Custom Field Options"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BulkDeleteRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Bulk request accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BulkRequest"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableContent"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
[...]
