{
  "openapi": "3.1.0",
  "info": {
    "title": "Ironclad Public API",
    "description": "Documentation for Ironclad's REST API.",
    "contact": {
      "name": "Ironclad Support",
      "email": "support@ironcladapp.com"
    },
    "version": "1"
  },
  "servers": [
    {
      "url": "https://na1.ironcladapp.com/public/api/v1",
      "description": "Production server"
    },
    {
      "url": "https://eu1.ironcladapp.com/public/api/v1",
      "description": "EU Production server"
    },
    {
      "url": "https://demo.ironcladapp.com/public/api/v1",
      "description": "Demo server"
    }
  ],
  "paths": {
    "/workflows": {
      "post": {
        "summary": "Create a Workflow Synchronously",
        "description": "Launch a new Workflow synchronously. \n\n**OAuth Scope required:** `public.workflows.createWorkflows`",
        "operationId": "launch-a-new-workflow",
        "parameters": [
          {
            "$ref": "#/components/parameters/XAsUserEmail"
          },
          {
            "$ref": "#/components/parameters/XAsUserId"
          },
          {
            "$ref": "#/components/parameters/UseDefaultValuesOnLaunch"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/WorkflowLaunch"
        },
        "security": [
          {
            "sec0": [],
            "OAuth2": [
              "public.workflows.createWorkflows"
            ]
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/WorkflowLaunchResponse200"
          },
          "400": {
            "$ref": "#/components/responses/WorkflowLaunchResponse400"
          }
        },
        "tags": [
          "Workflows"
        ]
      },
      "get": {
        "summary": "List All Workflows",
        "description": "List all workflows in your Ironclad account. \n\n**OAuth Scope required:** `public.workflows.readWorkflows`",
        "operationId": "list-all-workflows",
        "parameters": [
          {
            "$ref": "#/components/parameters/XAsUserEmail"
          },
          {
            "$ref": "#/components/parameters/XAsUserId"
          },
          {
            "$ref": "#/components/parameters/QueryPageNumber"
          },
          {
            "$ref": "#/components/parameters/QueryPageSize"
          },
          {
            "$ref": "#/components/parameters/HydrateEntitiesFlag"
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter the workflows that are listed based on their status. If this parameter is omitted, `active` workflows will be returned. Active workflows include workflows in the Create, Review, Sign, and Archive stages. Also accepts multiple comma-separated statuses to get workflows in more than one status.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "active",
                  "paused",
                  "completed",
                  "cancelled"
                ]
              }
            }
          },
          {
            "name": "template",
            "in": "query",
            "description": "Filter workflows to a specific Template ID.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lastUpdated",
            "in": "query",
            "description": "Retrieve workflows that have been updated since a UTC date.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "Filter workflows using a formula. The workflow attribute ID should be enclosed in brackets `[ ]` and the value should be enclosed in single quotes `' '`.\n\nWorkflow attributes for a specific workflow design can be identified using the [List All Workflow Schemas](https://developer.ironcladapp.com/reference/list-all-workflow-schemas) endpoint.\n\nSupported formula operations include:\n\n<ul>\n  <li><a href=\"https://na1.ironcladapp.com/formulas/#equals\">Equals</a></li>\n  <li><a href=\"https://na1.ironcladapp.com/formulas/#contains\">Contains</a></li>\n  <li><a href=\"https://na1.ironcladapp.com/formulas/#and\">And</a></li>\n  <li><a href=\"https://na1.ironcladapp.com/formulas/#or\">Or</a></li>\n</ul>",
            "schema": {
              "type": "string"
            },
            "example": "Equals([counterpartyName], 'Harley Quinn')"
          }
        ],
        "security": [
          {
            "sec0": [],
            "OAuth2": [
              "public.workflows.readWorkflows"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "page": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "pageSize": {
                      "type": "integer",
                      "example": 20,
                      "default": 0
                    },
                    "count": {
                      "type": "integer",
                      "example": 1234,
                      "default": 0
                    },
                    "list": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/WorkflowResponseModel"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Workflows"
        ]
      }
    },
    "/workflows/async": {
      "post": {
        "summary": "Create a Workflow Asynchronously",
        "description": "Launch a new Workflow asynchronously for non-blocking performance, which is helpful when/if you provide files to the Workflow. \n\n**OAuth Scope required:** `public.workflows.createWorkflows`",
        "operationId": "create-a-new-workflow-async",
        "parameters": [
          {
            "$ref": "#/components/parameters/XAsUserEmail"
          },
          {
            "$ref": "#/components/parameters/XAsUserId"
          },
          {
            "$ref": "#/components/parameters/UseDefaultValuesOnLaunch"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WorkflowLaunchModel"
              }
            }
          }
        },
        "security": [
          {
            "sec0": [],
            "OAuth2": [
              "public.workflows.createWorkflows"
            ]
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/AsyncWorkflowLaunchResponse200"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "tags": [
          "Workflows"
        ]
      }
    },
    "/workflows/async/{asyncJobId}": {
      "get": {
        "summary": "Retrieve the Status of an Async Workflow Create Job",
        "description": "Check the status of a Workflow you created while using the [Create a Workflow Async](https://developer.ironcladapp.com/reference/create-a-workflow-sync-vs-async#create-a-new-workflow-async) route. \n\n**OAuth Scope required:** `public.workflows.createWorkflows`",
        "operationId": "retrieve-asynchronous-workflow-status",
        "parameters": [
          {
            "$ref": "#/components/parameters/XAsUserEmail"
          },
          {
            "$ref": "#/components/parameters/XAsUserId"
          },
          {
            "name": "asyncJobId",
            "in": "path",
            "description": "The identifier provided in the response of creating a Workflow asynchronously.",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "security": [
          {
            "sec0": [],
            "OAuth2": [
              "public.workflows.createWorkflows"
            ]
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/AsyncWorkflowStatusResponse200"
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "NOT_FOUND"
                    },
                    "message": {
                      "type": "string",
                      "example": "not found"
                    },
                    "param": {
                      "type": "string",
                      "example": "parameter identifier"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Workflows"
        ]
      }
    },
    "/workflows/{id}": {
      "get": {
        "summary": "Retrieve a Workflow",
        "description": "View the data associated with a specific workflow. \n\n**OAuth Scope required:** `public.workflows.readWorkflows`",
        "operationId": "retrieve-a-workflow",
        "parameters": [
          {
            "$ref": "#/components/parameters/XAsUserEmail"
          },
          {
            "$ref": "#/components/parameters/XAsUserId"
          },
          {
            "$ref": "#/components/parameters/HydrateEntitiesFlag"
          },
          {
            "$ref": "#/components/parameters/WorkflowOrIroncladId"
          }
        ],
        "security": [
          {
            "sec0": [],
            "OAuth2": [
              "public.workflows.readWorkflows"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkflowResponseModel"
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "tags": [
          "Workflows"
        ]
      }
    },
    "/workflows/{id}/approvals": {
      "get": {
        "summary": "List All Workflow Approvals",
        "description": "Returns a list of approvals for the workflow. The `approvalGroups` property will display only triggered approvals (i.e. conditional approvals that have not been triggered will not appear). \n\n**OAuth Scope required:** `public.workflows.readApprovals`",
        "operationId": "list-all-workflow-approvals",
        "parameters": [
          {
            "$ref": "#/components/parameters/XAsUserEmail"
          },
          {
            "$ref": "#/components/parameters/XAsUserId"
          },
          {
            "$ref": "#/components/parameters/WorkflowOrIroncladId"
          }
        ],
        "security": [
          {
            "sec0": [],
            "OAuth2": [
              "public.workflows.readApprovals"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "workflowId": {
                      "type": "string",
                      "example": "5f595f76c4fc9b3571413c3ac"
                    },
                    "title": {
                      "type": "string",
                      "example": "Consulting Agreement with Michael Scott Paper Company"
                    },
                    "approvalGroups": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "reviewers": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "role": {
                                  "type": "string",
                                  "example": "finance"
                                },
                                "displayName": {
                                  "type": "string",
                                  "example": "Finance"
                                },
                                "reviewerType": {
                                  "type": "string",
                                  "example": "role"
                                },
                                "status": {
                                  "type": "string",
                                  "enum": [
                                    "pending",
                                    "approved"
                                  ],
                                  "description": "The status of the reviewer. If the status is `approved`, the reviewer has approved. If the status is `pending`, the reviewer has not yet approved.",
                                  "example": "pending"
                                }
                              }
                            }
                          },
                          "status": {
                            "type": "string",
                            "enum": [
                              "pending",
                              "approved",
                              "active"
                            ],
                            "description": "The status of the approval group. If the status is `active`, the approval group is currently reviewing and its reviewers may approve. If the status is `approved`, all reviewers in the approval group have approved. If the status is `pending`, the approval group is waiting for prior groups to approve and its reviewers cannot approve.",
                            "example": "pending"
                          },
                          "order": {
                            "type": "integer",
                            "description": "The order in which the approval group is executed. Only relevant if there is more than one approval group and sequential approvals are enabled.",
                            "example": 1
                          }
                        }
                      }
                    },
                    "roles": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "example": "legal"
                          },
                          "displayName": {
                            "type": "string",
                            "example": "Legal"
                          },
                          "assignees": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "userName": {
                                  "type": "string",
                                  "example": "Boba Fett"
                                },
                                "userId": {
                                  "type": "string",
                                  "example": "63d415e0dd0d828c3a878548"
                                },
                                "email": {
                                  "type": "string",
                                  "example": "bobafett@exmaple.com"
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "tags": [
          "Workflows"
        ]
      }
    },
    "/workflows/{id}/approval-requests": {
      "get": {
        "summary": "Retrieve the Approval Requests on a Workflow",
        "description": "Returns a list of approval requests that have taken place on the workflow. \n\n**OAuth Scope required:** `public.workflows.readApprovals`",
        "operationId": "approval-requests",
        "parameters": [
          {
            "$ref": "#/components/parameters/XAsUserEmail"
          },
          {
            "$ref": "#/components/parameters/XAsUserId"
          },
          {
            "$ref": "#/components/parameters/WorkflowOrIroncladId"
          },
          {
            "$ref": "#/components/parameters/QueryPageNumber"
          },
          {
            "$ref": "#/components/parameters/QueryPageSize"
          },
          {
            "name": "actorDetails",
            "in": "query",
            "description": "An optional boolean parameter that adds additional information about the actor to each item in the response. Defaults to false.",
            "schema": {
              "type": "boolean",
              "example": false,
              "default": false
            },
            "required": false
          },
          {
            "name": "requestType",
            "in": "query",
            "description": "An optional string parameter that specifies the type of approval requests and returns approval requests by `role` or `user`.",
            "schema": {
              "type": "string",
              "enum": [
                "role",
                "user"
              ],
              "default": "user"
            },
            "required": false
          }
        ],
        "security": [
          {
            "sec0": [],
            "OAuth2": [
              "public.workflows.readApprovals"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "page": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "pageSize": {
                      "type": "integer",
                      "example": 20,
                      "default": 20
                    },
                    "count": {
                      "type": "integer",
                      "example": 42
                    },
                    "list": {
                      "type": "array",
                      "description": "Approval requests on a workflow",
                      "items": {
                        "type": "object",
                        "properties": {
                          "startTime": {
                            "type": "string",
                            "description": "Timestamp when the approval request became available for review",
                            "example": "2024-12-20T20:23:41.335Z"
                          },
                          "endTime": {
                            "type": "string",
                            "description": "Timestamp when the approval request was approved or interrupted by workflow actions",
                            "example": "2024-12-20T20:23:43.036Z"
                          },
                          "status": {
                            "type": "string",
                            "description": "Current state of an approval request that indicates whether the request is approved, in progress, or affected by workflow actions.",
                            "enum": [
                              "Approved",
                              "Pending",
                              "Workflow Paused",
                              "Workflow Canceled",
                              "Approver Removed",
                              "Approver Reassigned"
                            ],
                            "example": "Approved"
                          },
                          "actorId": {
                            "type": "string",
                            "description": "User ID to whom the approval request is assigned to",
                            "example": "6334b636b9fb1eb6e76ada97"
                          },
                          "actorType": {
                            "type": "string",
                            "example": "User",
                            "enum": [
                              "User"
                            ]
                          },
                          "actorDetails": {
                            "type": "object",
                            "properties": {
                              "userName": {
                                "type": "string",
                                "example": "Cave Johnson"
                              },
                              "userEmail": {
                                "type": "string",
                                "example": "cave@aperturescience.com"
                              }
                            }
                          },
                          "role": {
                            "type": "string",
                            "description": "Role ID of the role assigned to the user for the approval request",
                            "example": "approver58348a760b354ab3a986f56a74656c86"
                          },
                          "roleName": {
                            "type": "string",
                            "description": "Display name of the role assigned to the user for the approval request",
                            "example": "CEO"
                          },
                          "duration": {
                            "type": "integer",
                            "description": "Duration of the completed approval request in milliseconds ",
                            "example": 1701
                          },
                          "aggregateDuration": {
                            "type": "integer",
                            "description": "Total duration of the completed approval request, obtained by adding the duration of the approved request with the durations of preceding requests (if any) where the approver was able to review but interrupted by a workflow pause.",
                            "example": 1500
                          },
                          "approvalType": {
                            "type": "string",
                            "example": "Workflow",
                            "enum": [
                              "Workflow"
                            ]
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "403",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "FORBIDDEN"
                    },
                    "message": {
                      "type": "string",
                      "example": "access forbidden"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "NOT_FOUND"
                    },
                    "message": {
                      "type": "string",
                      "example": "workflow does not exist"
                    },
                    "param": {
                      "type": "string",
                      "example": "workflowId"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Workflows"
        ]
      }
    },
    "/workflows/{id}/approvals/{roleId}": {
      "patch": {
        "summary": "Update Approval on a Workflow",
        "description": "Updates an approval to the specified status. Approvals can only be updated during the Review step and when a given approval group is active (when it is that group's turn to approve). \n\n**OAuth Scope required:** `public.workflows.updateApprovals`",
        "operationId": "update-workflow-approval",
        "parameters": [
          {
            "$ref": "#/components/parameters/XAsUserEmail"
          },
          {
            "$ref": "#/components/parameters/XAsUserId"
          },
          {
            "$ref": "#/components/parameters/WorkflowOrIroncladId"
          },
          {
            "name": "roleId",
            "in": "path",
            "description": "The unique identifier of the approver role whose status should be changed. This identifier can be retrieved using the `GET /workflows/{id}/approvals` endpoint.",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "security": [
          {
            "sec0": [],
            "OAuth2": [
              "public.workflows.updateApprovals"
            ]
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "description": "Note that `user` is required when approving with a legacy bearer token but will be ignored when approving via an OAuth token. If the token was generated with the Authorization Code grant, the associated token user will be used. If the token was generated with the Client Credentials grant, the required `x-as-user-id` or 'x-as-user-email` header will be used.",
                "type": "object",
                "required": [
                  "status"
                ],
                "properties": {
                  "user": {
                    "type": "object",
                    "description": "The Ironclad user approving the workflow. The user must be currently assigned as the approver.",
                    "properties": {
                      "email": {
                        "type": "string",
                        "description": "The Ironclad user's email address.",
                        "example": "fett@intergalactic.com"
                      },
                      "type": {
                        "type": "string",
                        "description": "The mechanism of identifying the Ironclad user's account.",
                        "default": "email"
                      }
                    }
                  },
                  "status": {
                    "type": "string",
                    "enum": [
                      "approved",
                      "pending"
                    ],
                    "description": "The new approval status."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "boolean",
                  "example": true
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "INVALID_PARAM"
                          ],
                          "example": "INVALID_PARAM"
                        },
                        "message": {
                          "type": "string",
                          "enum": [
                            "This role does not exist in this workflow",
                            "invalid user for user attribute",
                            "This approval either was not requested or this user was not assigned to this approval"
                          ],
                          "example": "This role does not exist in this workflow"
                        },
                        "param": {
                          "type": "string",
                          "enum": [
                            "approval"
                          ],
                          "example": "approval"
                        }
                      }
                    },
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "INVALID_STATE"
                          ],
                          "example": "INVALID_STATE"
                        },
                        "message": {
                          "type": "string",
                          "enum": [
                            "This approval cannot be approved out of order"
                          ],
                          "example": "This approval cannot be approved out of order"
                        },
                        "param": {
                          "type": "string",
                          "enum": [
                            "approval"
                          ],
                          "example": "approval"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Workflows"
        ]
      }
    },
    "/workflows/{id}/turn-history": {
      "get": {
        "summary": "Retrieve the Turn History on a Workflow",
        "description": "An array of objects for each turn on a workflow. \n\n**OAuth Scope required:** `public.workflows.readTurnHistory`",
        "operationId": "turn-history",
        "parameters": [
          {
            "$ref": "#/components/parameters/XAsUserEmail"
          },
          {
            "$ref": "#/components/parameters/XAsUserId"
          },
          {
            "$ref": "#/components/parameters/WorkflowOrIroncladId"
          },
          {
            "$ref": "#/components/parameters/QueryPageNumber"
          },
          {
            "$ref": "#/components/parameters/QueryPageSize"
          }
        ],
        "security": [
          {
            "sec0": [],
            "OAuth2": [
              "public.workflows.readTurnHistory"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "page": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "pageSize": {
                      "type": "integer",
                      "example": 20,
                      "default": 20
                    },
                    "count": {
                      "type": "integer",
                      "example": 42
                    },
                    "list": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "turnParty": {
                            "type": "string",
                            "example": "internal"
                          },
                          "turnStartTime": {
                            "type": "string",
                            "example": "2022-09-20T15:51:54.156Z"
                          },
                          "turnLocation": {
                            "type": "string",
                            "example": "manual change"
                          },
                          "turnUserId": {
                            "type": "string",
                            "example": "5f89b6a5eed2cc6e0b2735d4"
                          },
                          "turnEndTime": {
                            "type": "string",
                            "example": "2022-09-28T19:21:05.034Z"
                          },
                          "turnNumber": {
                            "type": "integer",
                            "example": 1
                          },
                          "turnUserEmail": {
                            "type": "string",
                            "example": "baldwin@ironcladhq.com"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "403",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "FORBIDDEN"
                    },
                    "message": {
                      "type": "string",
                      "example": "access forbidden"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "NOT_FOUND"
                    },
                    "message": {
                      "type": "string",
                      "example": "workflow does not exist"
                    },
                    "param": {
                      "type": "string",
                      "example": "workflowId"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Workflows"
        ]
      }
    },
    "/workflows/{id}/sign-status": {
      "get": {
        "summary": "Retrieve Sign Step Status",
        "description": "Returns information about a workflow in the sign step. \n\n**OAuth Scope required:** `public.workflows.readSignStatus` \n\n**NOTE:** The workflow must be in the sign step to access this route.",
        "operationId": "get-sign-status",
        "parameters": [
          {
            "$ref": "#/components/parameters/XAsUserEmail"
          },
          {
            "$ref": "#/components/parameters/XAsUserId"
          },
          {
            "$ref": "#/components/parameters/WorkflowOrIroncladId"
          }
        ],
        "security": [
          {
            "sec0": [],
            "OAuth2": [
              "public.workflows.readSignStatus"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SignStatusModel"
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "INVALID_STATE"
                    },
                    "message": {
                      "type": "string",
                      "example": "This workflow is not at the Sign step, and is currently at the Review step"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError401"
          },
          "403": {
            "description": "403",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "FORBIDDEN"
                    },
                    "message": {
                      "type": "string",
                      "example": "access forbidden"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/WorkflowNotFoundResponse404"
          }
        },
        "tags": [
          "Workflows"
        ]
      }
    },
    "/workflows/{id}/sign-status/send-signature-request": {
      "post": {
        "summary": "Send Signature Request",
        "description": "Send a signature request.\n\n**OAuth Scope required:** `public.workflows.sendSignatureRequests`\n\n **Note**: You can only send a packet out for signature if all signers have an associated signature or initials tag (tag requirements are dependent on the signature provider).",
        "operationId": "send-signature-request",
        "parameters": [
          {
            "$ref": "#/components/parameters/XAsUserEmail"
          },
          {
            "$ref": "#/components/parameters/XAsUserId"
          },
          {
            "$ref": "#/components/parameters/WorkflowOrIroncladId"
          }
        ],
        "security": [
          {
            "sec0": [],
            "OAuth2": [
              "public.workflows.sendSignatureRequests"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SignStatusModel"
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotOnSignStep400"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError401"
          },
          "404": {
            "$ref": "#/components/responses/WorkflowNotFoundResponse404"
          }
        },
        "tags": [
          "Workflows"
        ]
      }
    },
    "/workflows/{id}/sign-status/cancel-signature-request": {
      "post": {
        "summary": "Cancel Signature Request",
        "description": "Cancel a signature request that was out for signature.\n\n**OAuth Scope required:** `public.workflows.cancelSignatureRequests`\n\n",
        "operationId": "cancel-signature-request",
        "parameters": [
          {
            "$ref": "#/components/parameters/XAsUserEmail"
          },
          {
            "$ref": "#/components/parameters/XAsUserId"
          },
          {
            "$ref": "#/components/parameters/WorkflowOrIroncladId"
          }
        ],
        "security": [
          {
            "sec0": [],
            "OAuth2": [
              "public.workflows.cancelSignatureRequests"
            ]
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "reason"
                ],
                "properties": {
                  "reason": {
                    "type": "string",
                    "description": "The reason for canceling the signature request.",
                    "example": "Need to make changes."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SignStatusModel"
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotOnSignStep400"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError401"
          },
          "404": {
            "$ref": "#/components/responses/WorkflowNotFoundResponse404"
          }
        },
        "tags": [
          "Workflows"
        ]
      }
    },
    "/workflows/{id}/sign-status/signers/{signerRoleName}": {
      "patch": {
        "summary": "Update Signer",
        "description": "Reassign a signer or edit an external signer's name or email, as specified by the `signerRoleName` parameter. The original signer will receive an email that the packet has been reassigned if it was sent out for signature.\n\n**OAuth Scope required:** `public.workflows.updateSigners`\n\n**NOTE**: Editing a signer will not cancel a signature request unless your configured signature provider is Adobe Sign. Also, you cannot update a signer that has already signed via the API for any signature provider.",
        "operationId": "update-signer",
        "parameters": [
          {
            "$ref": "#/components/parameters/XAsUserEmail"
          },
          {
            "$ref": "#/components/parameters/XAsUserId"
          },
          {
            "$ref": "#/components/parameters/WorkflowOrIroncladId"
          },
          {
            "name": "signerRoleName",
            "in": "path",
            "description": "The role name of the signer to be updated. Note: the role name should be URL encoded in the URL.",
            "schema": {
              "type": "string"
            },
            "required": true,
            "example": "Counterparty%20Signer"
          }
        ],
        "security": [
          {
            "sec0": [],
            "OAuth2": [
              "public.workflows.updateSigners"
            ]
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/InternalAssignment"
                  },
                  {
                    "$ref": "#/components/schemas/ExternalAssignment"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/SignStatusInternalSigner"
                    },
                    {
                      "$ref": "#/components/schemas/SignStatusExternalSigner"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotOnSignStep400"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError401"
          },
          "404": {
            "$ref": "#/components/responses/WorkflowNotFoundResponse404"
          }
        },
        "tags": [
          "Workflows"
        ]
      },
      "delete": {
        "summary": "Delete Signer",
        "description": "Deletes a signer from a signature packet, as specified by the `signerRoleName` parameter.\n\n**OAuth Scope required:** `public.workflows.deleteSigners`\n\n**NOTE**: Removing a signer will cancel the current packet that is out collecting signatures.",
        "operationId": "delete-signer",
        "parameters": [
          {
            "$ref": "#/components/parameters/XAsUserEmail"
          },
          {
            "$ref": "#/components/parameters/XAsUserId"
          },
          {
            "$ref": "#/components/parameters/WorkflowOrIroncladId"
          },
          {
            "name": "signerRoleName",
            "in": "path",
            "description": "The role name of the signer to be removed. Note: the role name should be URL encoded in the URL.",
            "schema": {
              "type": "string"
            },
            "example": "Counterparty%20Signer",
            "required": true
          }
        ],
        "security": [
          {
            "sec0": [],
            "OAuth2": [
              "public.workflows.deleteSigners"
            ]
          }
        ],
        "responses": {
          "204": {
            "description": "204"
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotOnSignStep400"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError401"
          },
          "404": {
            "$ref": "#/components/responses/WorkflowNotFoundResponse404"
          }
        },
        "tags": [
          "Workflows"
        ]
      }
    },
    "/workflows/{id}/sign-status/signers/{signerRoleName}/remind": {
      "post": {
        "summary": "Remind Signer",
        "description": "Send a reminder email to a signer that a signature is needed.\n\n**OAuth Scope required:** `public.workflows.remindSigners`\n\n**NOTE**: You can only send a reminder after the signature packet has been sent out for signature. Also, if using Adobe Sign as your signature provider, reminding a signer reminds all unsigned signers.",
        "operationId": "remind-signer",
        "parameters": [
          {
            "$ref": "#/components/parameters/XAsUserEmail"
          },
          {
            "$ref": "#/components/parameters/XAsUserId"
          },
          {
            "$ref": "#/components/parameters/WorkflowOrIroncladId"
          },
          {
            "name": "signerRoleName",
            "in": "path",
            "description": "The role name of the signer to be reminded. Note: the role name should be URL encoded in the URL.",
            "schema": {
              "type": "string"
            },
            "required": true,
            "example": "Counterparty%20Signer"
          }
        ],
        "security": [
          {
            "sec0": [],
            "OAuth2": [
              "public.workflows.remindSigners"
            ]
          }
        ],
        "responses": {
          "204": {
            "description": "204"
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotOnSignStep400"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError401"
          },
          "404": {
            "$ref": "#/components/responses/WorkflowNotFoundResponse404"
          },
          "429": {
            "description": "429",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "enum": [
                        "TOO_MANY_REQUESTS"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "example": "You cannot remind the signer at this time (you can only send one reminder per hour). Please try again later."
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Workflows"
        ]
      }
    },
    "/workflows/{id}/signatures": {
      "get": {
        "summary": "List All Workflow Signers",
        "description": "Returns a list of workflow signers and the status of their signature. \n\n**OAuth Scope required:** `public.workflows.readSignatures`",
        "operationId": "list-all-workflow-signers",
        "parameters": [
          {
            "$ref": "#/components/parameters/XAsUserEmail"
          },
          {
            "$ref": "#/components/parameters/XAsUserId"
          },
          {
            "$ref": "#/components/parameters/WorkflowOrIroncladId"
          }
        ],
        "security": [
          {
            "sec0": [],
            "OAuth2": [
              "public.workflows.readSignatures"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "workflowId": {
                      "type": "string",
                      "example": "6dac47a10b1242d1f7df688d"
                    },
                    "title": {
                      "type": "string",
                      "example": "Goldendoodle Adoption Contract"
                    },
                    "signers": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string",
                            "example": "Jimothy Kim"
                          },
                          "email": {
                            "type": "string",
                            "example": "jimothykim@example.com"
                          },
                          "roleName": {
                            "type": "string",
                            "example": "Counterparty Signer"
                          },
                          "signatureStatus": {
                            "$ref": "#/components/schemas/SignatureStatusModel"
                          },
                          "delegates": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "name": {
                                  "type": "string",
                                  "example": "Kim Lam"
                                },
                                "email": {
                                  "type": "string",
                                  "example": "kimlam@example.com"
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "INVALID_STATE"
                    },
                    "message": {
                      "type": "string",
                      "example": "This workflow is not at the Sign step, and is currently at the Review step"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "403",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "FORBIDDEN"
                    },
                    "message": {
                      "type": "string",
                      "example": "access forbidden"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Workflows"
        ]
      }
    },
    "/workflows/{id}/signatures/recipient-urls": {
      "post": {
        "summary": "Create a Recipient URL for a Signer",
        "description": "Create a recipient URL for a signer or viewer to access the signature request.\n\nThis functionality is exclusive to Ironclad Signature. See [this help center article](https://support.ironcladapp.com/hc/en-us/articles/12276957992983-Manage-Signatures-During-the-Sign-Step#copysignerlink) for more information.\n\n**OAuth Scope required:** `public.workflows.createSignatureRecipientUrls`",
        "operationId": "create-recipient-url",
        "parameters": [
          {
            "$ref": "#/components/parameters/XAsUserEmail"
          },
          {
            "$ref": "#/components/parameters/XAsUserId"
          },
          {
            "$ref": "#/components/parameters/WorkflowOrIroncladId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "type": "object",
                    "required": [
                      "type",
                      "roleName"
                    ],
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "signer"
                        ],
                        "description": "The type of recipient."
                      },
                      "roleName": {
                        "type": "string",
                        "description": "The role name of the signer. A full list of role names can be located using the [List All Workflow Signers](https://developer.ironcladapp.com/reference/list-all-workflow-signers) endpoint.",
                        "example": "Counterparty Signer"
                      }
                    }
                  },
                  {
                    "type": "object",
                    "required": [
                      "type",
                      "email"
                    ],
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "viewer"
                        ],
                        "description": "The type of recipient."
                      },
                      "email": {
                        "type": "string",
                        "description": "The email address of the CC recipient."
                      }
                    }
                  }
                ]
              }
            }
          }
        },
        "security": [
          {
            "sec0": [],
            "OAuth2": [
              "public.workflows.createSignatureRecipientUrls"
            ]
          }
        ],
        "responses": {
          "201": {
            "description": "201",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "url"
                  ],
                  "properties": {
                    "url": {
                      "type": "string",
                      "description": "The URL for the recipient to access the signature request.",
                      "example": "https://na1.ironcladapp.com/sign?r=5e51f2b9-a684-4c50-887c-32911b661300&s=b2a303cd-f7a0-425e-8f36-d94e38c4e1a8"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/NotOnSignStep400"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "example": "INVALID_PARAM"
                        },
                        "message": {
                          "type": "string",
                          "example": "invalid recipient type; *, signer, viewer are acceptable recipient types"
                        },
                        "param": {
                          "type": "string",
                          "example": "recipient.type"
                        }
                      }
                    },
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "MISSING_PARAM"
                          ]
                        },
                        "message": {
                          "type": "string",
                          "example": "missing required property 'recipient'"
                        },
                        "param": {
                          "type": "string",
                          "example": "recipient"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError401"
          },
          "403": {
            "description": "403",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "enum": [
                        "FORBIDDEN"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "example": "user is not authorized to create signature request URL for signature request, please try again later"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/WorkflowNotFoundResponse404"
          },
          "429": {
            "description": "429",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "enum": [
                        "TOO_MANY_REQUESTS"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "example": "user cannot create signature request URL for recipient at this time"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Workflows"
        ]
      }
    },
    "/workflows/{id}/signatures/recipient-urls/embedded": {
      "post": {
        "summary": "Create an Embeddable Recipient URL for a Signer",
        "description": "Create an embeddable recipient URL for a signer to access the signature request.\n\nThis functionality is exclusive to Ironclad Signature. See [this help center article](https://support.ironcladapp.com/hc/en-us/articles/12276957992983-Manage-Signatures-During-the-Sign-Step#copysignerlink) for more information.\n\n**OAuth Scope required:** `public.workflows.createEmbeddableSignerUrls`",
        "operationId": "create-embeddable-recipient-url",
        "parameters": [
          {
            "$ref": "#/components/parameters/XAsUserEmail"
          },
          {
            "$ref": "#/components/parameters/XAsUserId"
          },
          {
            "$ref": "#/components/parameters/WorkflowOrIroncladId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "type",
                  "roleName",
                  "frameAncestor"
                ],
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": [
                      "signer"
                    ],
                    "description": "The type of recipient."
                  },
                  "roleName": {
                    "type": "string",
                    "description": "The role name of the signer. A full list of role names can be located using the [List All Workflow Signers](https://developer.ironcladapp.com/reference/list-all-workflow-signers) endpoint.",
                    "example": "Counterparty Signer"
                  },
                  "frameAncestor": {
                    "description": "The hostname of the parent frame that the recipient URL can be embedded in. Can optionally include a URL scheme and/or port number. Wildcards (i.e. '*') are not allowed.",
                    "type": "string",
                    "example": "https://example.com"
                  },
                  "allowMultipleUsages": {
                    "description": "Whether or not the embeddable recipient URL can be used multiple times before it expires. Defaults to false if not set.",
                    "type": "boolean",
                    "example": true
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "sec0": [],
            "OAuth2": [
              "public.workflows.createEmbeddableSignerUrls"
            ]
          }
        ],
        "responses": {
          "201": {
            "description": "201",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "url"
                  ],
                  "properties": {
                    "url": {
                      "type": "string",
                      "description": "The embeddable URL for the recipient to access the signature request. The URL can only be embedded in a parent matching the host specified in frameAncestor.",
                      "example": "https://na1.ironcladapp.com/sign?r=5e51f2b9-a684-4c50-887c-32911b661300&s=b2a303cd-f7a0-425e-8f36-d94e38c4e1a8"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/NotOnSignStep400"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "example": "INVALID_PARAM"
                        },
                        "message": {
                          "type": "string",
                          "example": "invalid recipient type; signer is the only acceptable recipient type"
                        },
                        "param": {
                          "type": "string",
                          "example": "recipient.type"
                        }
                      }
                    },
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "MISSING_PARAM"
                          ]
                        },
                        "message": {
                          "type": "string",
                          "example": "missing required property 'frameAncestor'"
                        },
                        "param": {
                          "type": "string",
                          "example": "frameAncestor"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError401"
          },
          "403": {
            "description": "403",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "enum": [
                        "FORBIDDEN"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "example": "user is not authorized to create signature request URL for signature request, please try again later"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/WorkflowNotFoundResponse404"
          },
          "429": {
            "description": "429",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "enum": [
                        "TOO_MANY_REQUESTS"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "example": "user cannot create signature request URL for recipient at this time"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Workflows"
        ]
      }
    },
    "/workflows/{id}/upload-signed": {
      "post": {
        "summary": "Create a Signed Document on a Workflow",
        "description": "Upload a fully or partially signed document to a specified workflow that is in sign step. \n\n**OAuth Scope required:** `public.workflows.uploadSignedDocuments`",
        "operationId": "workflow-upload-signed-document",
        "parameters": [
          {
            "$ref": "#/components/parameters/XAsUserEmail"
          },
          {
            "$ref": "#/components/parameters/XAsUserId"
          },
          {
            "$ref": "#/components/parameters/WorkflowId"
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "attachment"
                ],
                "properties": {
                  "attachment": {
                    "type": "object",
                    "format": "binary",
                    "description": "Must be a binary. Base64 is not accepted at this time."
                  },
                  "metadata": {
                    "type": "object",
                    "description": "A JSON string that contains all the metadata for the Document.",
                    "properties": {
                      "signerRoleNames": {
                        "type": "array",
                        "description": "If the document does not contain all the required signatures, use this field to specify which signers have already signed on the document. If it's left blank then it's assumed to be a fully signed document.",
                        "items": {
                          "type": "string",
                          "example": "Counterparty Signer",
                          "description": "The role name of the signers. A full list of role names can be located using the [List All Workflow Signers](https://developer.ironcladapp.com/reference/list-all-workflow-signers) endpoint."
                        }
                      }
                    }
                  }
                }
              },
              "encoding": {
                "attachment": {
                  "contentType": "application/pdf"
                },
                "metadata": {
                  "contentType": "application/json"
                }
              }
            }
          }
        },
        "security": [
          {
            "sec0": [],
            "OAuth2": [
              "public.workflows.uploadSignedDocuments"
            ]
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/SignedDocumentResponse200"
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "MISSING_PARAM"
                          ]
                        },
                        "param": {
                          "type": "string",
                          "example": "attachments"
                        },
                        "message": {
                          "type": "string",
                          "example": "missing required form-data part 'attachment'"
                        }
                      }
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "enum": [
                                "VIRUS_DETECTED"
                              ]
                            },
                            "files": {
                              "type": "array",
                              "items": {
                                "type": "string",
                                "example": "sample-eicar-file.pdf"
                              }
                            },
                            "message": {
                              "type": "string",
                              "example": "Detected virus in one or more of the files received."
                            }
                          }
                        }
                      }
                    },
                    {
                      "$ref": "#/components/schemas/NotOnSignStep400"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "example": "INVALID_PARAM"
                        },
                        "message": {
                          "type": "string",
                          "example": "The signer field contains invalid signers, please check."
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/WorkflowNotFound"
                    }
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Workflows"
        ]
      }
    },
    "/workflows/{id}/participants": {
      "get": {
        "summary": "List All Workflow Participants",
        "description": "Returns a list of workflow participants. \n\n**OAuth Scope required:** `public.workflows.readParticipants`",
        "operationId": "list-all-workflow-participants",
        "parameters": [
          {
            "$ref": "#/components/parameters/XAsUserEmail"
          },
          {
            "$ref": "#/components/parameters/XAsUserId"
          },
          {
            "$ref": "#/components/parameters/WorkflowOrIroncladId"
          },
          {
            "$ref": "#/components/parameters/QueryPageNumber"
          },
          {
            "$ref": "#/components/parameters/QueryPageSize"
          },
          {
            "name": "email",
            "in": "query",
            "description": "The Ironclad user's email address.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "sec0": [],
            "OAuth2": [
              "public.workflows.readParticipants"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "page": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "pageSize": {
                      "type": "integer",
                      "example": 20,
                      "default": 20
                    },
                    "count": {
                      "type": "integer",
                      "example": 1
                    },
                    "list": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "userId": {
                            "type": "string",
                            "example": "61968ae4945dcecf4a78cc83"
                          },
                          "email": {
                            "type": "string",
                            "example": "boba@intergalactic.com"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "403",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "FORBIDDEN"
                    },
                    "message": {
                      "type": "string",
                      "example": "access forbidden"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/WorkflowNotFoundResponse404"
          }
        },
        "tags": [
          "Workflows"
        ]
      }
    },
    "/workflows/{id}/revert-to-review": {
      "patch": {
        "summary": "Revert a Workflow to the Review Step",
        "description": "Reverts a workflow to the Review step. Only workflows sourced from Workflow Designer and in the Sign step can be reverted. \n\n**OAuth Scope required:** `public.workflows.revertToReview`",
        "operationId": "revert-to-review",
        "parameters": [
          {
            "$ref": "#/components/parameters/XAsUserEmail"
          },
          {
            "$ref": "#/components/parameters/XAsUserId"
          },
          {
            "$ref": "#/components/parameters/WorkflowOrIroncladId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "description": "Note that `user` is required when reverting with a legacy bearer token but will be ignored when reverting via an OAuth token. If the token was generated with the Authorization Code grant, the associated token user will be used. If the token was generated with the Client Credentials grant, the required `x-as-user-id` or 'x-as-user-email` header will be used.",
                "type": "object",
                "required": [
                  "status"
                ],
                "properties": {
                  "user": {
                    "type": "object",
                    "description": "The Ironclad user reverting the workflow to the Review step. The user must have access to the workflow.",
                    "properties": {
                      "email": {
                        "type": "string",
                        "description": "The Ironclad user's email address.",
                        "example": "jango@intergalactic.com"
                      },
                      "type": {
                        "type": "string",
                        "description": "The mechanism of identifying the Ironclad user's account.",
                        "default": "email"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "sec0": [],
            "OAuth2": [
              "public.workflows.revertToReview"
            ]
          }
        ],
        "responses": {
          "204": {
            "description": "204"
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "enum": [
                        "INVALID_PARAM",
                        "INVALID_STATE"
                      ],
                      "example": "INVALID_STATE"
                    },
                    "message": {
                      "type": "string",
                      "enum": [
                        "invalid user for user attribute",
                        "workflow was not built in workflow designer and cannot be reverted to review via the API",
                        "workflow cannot be reverted to review as it is not in the sign stage",
                        "various malformed user payload messages"
                      ],
                      "example": "workflow cannot be reverted to review as it is not in the sign stage"
                    },
                    "param": {
                      "type": "string",
                      "example": "user"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "403",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "FORBIDDEN"
                    },
                    "message": {
                      "type": "string",
                      "example": "user is not a participant on the workflow"
                    },
                    "param": {
                      "type": "string",
                      "example": "user"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "NOT_FOUND"
                    },
                    "message": {
                      "type": "string",
                      "example": "workflow does not exist"
                    },
                    "param": {
                      "type": "string",
                      "example": "workflowId"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Workflows"
        ]
      }
    },
    "/workflows/{id}/cancel": {
      "post": {
        "summary": "Cancel a Workflow",
        "description": "Cancel a workflow. \n\n**OAuth Scope required:** `public.workflows.cancel`",
        "operationId": "cancel-a-workflow",
        "parameters": [
          {
            "$ref": "#/components/parameters/XAsUserEmail"
          },
          {
            "$ref": "#/components/parameters/XAsUserId"
          },
          {
            "$ref": "#/components/parameters/WorkflowId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "comment"
                ],
                "properties": {
                  "comment": {
                    "$ref": "#/components/schemas/CommentModel"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "sec0": [],
            "OAuth2": [
              "public.workflows.cancel"
            ]
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/components/responses/WorkflowUpdateResponse204"
          }
        },
        "tags": [
          "Workflows"
        ]
      }
    },
    "/workflows/{id}/pause": {
      "post": {
        "summary": "Pause a Workflow",
        "description": "Pause an active workflow. \n\n**OAuth Scope required:** `public.workflows.pauseAndResume`",
        "operationId": "pause-a-workflow",
        "parameters": [
          {
            "$ref": "#/components/parameters/XAsUserEmail"
          },
          {
            "$ref": "#/components/parameters/XAsUserId"
          },
          {
            "$ref": "#/components/parameters/WorkflowId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "comment"
                ],
                "properties": {
                  "comment": {
                    "$ref": "#/components/schemas/CommentModel"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "sec0": [],
            "OAuth2": [
              "public.workflows.pauseAndResume"
            ]
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/components/responses/WorkflowUpdateResponse204"
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "INVALID_STATE"
                    },
                    "message": {
                      "type": "string",
                      "example": "Only active workflows in the review step can be paused."
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Workflows"
        ]
      }
    },
    "/workflows/{id}/resume": {
      "post": {
        "summary": "Resume a Workflow",
        "description": "Resume a paused Workflow. \n\n**OAuth Scope required:** `public.workflows.pauseAndResume`",
        "operationId": "resume-a-workflow",
        "parameters": [
          {
            "$ref": "#/components/parameters/XAsUserEmail"
          },
          {
            "$ref": "#/components/parameters/XAsUserId"
          },
          {
            "$ref": "#/components/parameters/WorkflowId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "comment"
                ],
                "properties": {
                  "comment": {
                    "$ref": "#/components/schemas/CommentModel"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "sec0": [],
            "OAuth2": [
              "public.workflows.pauseAndResume"
            ]
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/components/responses/WorkflowUpdateResponse204"
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "INVALID_STATE"
                    },
                    "message": {
                      "type": "string",
                      "example": "Only paused workflows in the review step can be resumed."
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Workflows"
        ]
      }
    },
    "/workflows/{id}/comment": {
      "post": {
        "deprecated": true,
        "summary": "Create a Comment on a Workflow",
        "description": "Creates a comment in the specified workflow's activity feed.",
        "operationId": "deprecated-create-a-comment-on-a-workflow",
        "parameters": [
          {
            "$ref": "#/components/parameters/XAsUserEmail"
          },
          {
            "$ref": "#/components/parameters/XAsUserId"
          },
          {
            "$ref": "#/components/parameters/WorkflowOrIroncladId"
          }
        ],
        "security": [
          {
            "sec0": [],
            "OAuth2": [
              "public.workflows.createComments"
            ]
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "description": "Note that `creator` is required when commenting with a legacy bearer token but will be ignored when commenting via an OAuth token. If the token was generated with the Authorization Code grant, the associated token user will be used. If the token was generated with the Client Credentials grant, the required `x-as-user-id` or 'x-as-user-email` header will be used.",
                "type": "object",
                "required": [
                  "comment"
                ],
                "properties": {
                  "creator": {
                    "$ref": "#/components/schemas/CreatorModel"
                  },
                  "comment": {
                    "type": "string"
                  },
                  "addUsersToWorkflow": {
                    "$ref": "#/components/schemas/AddUsersToWorkflowModel"
                  },
                  "repliedToActivityFeedMessageId": {
                    "type": "string",
                    "description": "Use to specify the comment to reply to"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "204",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "tags": [
          "Workflows"
        ]
      }
    },
    "/workflows/{id}/comments": {
      "post": {
        "summary": "Create a Comment on a Workflow",
        "description": "Creates a comment in the specified workflow's activity feed. \n\n**OAuth Scope required:** `public.workflows.createComments`",
        "operationId": "create-a-comment-on-a-workflow",
        "parameters": [
          {
            "$ref": "#/components/parameters/XAsUserEmail"
          },
          {
            "$ref": "#/components/parameters/XAsUserId"
          },
          {
            "$ref": "#/components/parameters/WorkflowOrIroncladId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "description": "Note that `user` is required when commenting with a legacy bearer token but will be ignored when commenting via an OAuth token. If the token was generated with the Authorization Code grant, the associated token user will be used. If the token was generated with the Client Credentials grant, the required `x-as-user-id` or 'x-as-user-email` header will be used.",
                "type": "object",
                "required": [
                  "comment"
                ],
                "properties": {
                  "creator": {
                    "$ref": "#/components/schemas/CreatorModel"
                  },
                  "comment": {
                    "type": "string",
                    "description": "The comment to be added to the workflow activity feed. To @-mention a user, use the format `<@john.doe@example.com>`."
                  },
                  "addUsersToWorkflow": {
                    "$ref": "#/components/schemas/AddUsersToWorkflowModel"
                  },
                  "repliedToActivityFeedMessageId": {
                    "type": "string",
                    "description": "Use to specify a comment to reply to. Message ID can be found via the [List All Comments on a Workflow](https://developer.ironcladapp.com/reference/list-all-comments-in-a-workflow) endpoint."
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "sec0": [],
            "OAuth2": [
              "public.records.createComments"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivityFeedComment"
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "tags": [
          "Workflows"
        ]
      },
      "get": {
        "summary": "List all Comments on a Workflow",
        "description": "Return a list of comments on a workflow. \n\n**OAuth Scope required:** `public.workflows.readComments`",
        "operationId": "list-all-comments-in-a-workflow",
        "parameters": [
          {
            "$ref": "#/components/parameters/XAsUserEmail"
          },
          {
            "$ref": "#/components/parameters/XAsUserId"
          },
          {
            "$ref": "#/components/parameters/WorkflowOrIroncladId"
          },
          {
            "$ref": "#/components/parameters/QueryPageNumber"
          },
          {
            "$ref": "#/components/parameters/QueryPageSize"
          }
        ],
        "security": [
          {
            "sec0": [],
            "OAuth2": [
              "public.workflows.readComments"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "page": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "pageSize": {
                      "type": "integer",
                      "example": 20,
                      "default": 20
                    },
                    "count": {
                      "type": "integer",
                      "example": 1
                    },
                    "list": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ActivityFeedComment"
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "403",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "FORBIDDEN"
                    },
                    "message": {
                      "type": "string",
                      "example": "access forbidden"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "NOT_FOUND"
                    },
                    "message": {
                      "type": "string",
                      "example": "workflow does not exist"
                    },
                    "param": {
                      "type": "string",
                      "example": "workflowId"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Workflows"
        ]
      }
    },
    "/workflows/{id}/comments/{commentId}": {
      "get": {
        "summary": "List a Comment from a Specified Workflow",
        "description": "Return a single comment for a specified workflow. \n\n**OAuth Scope required:** `public.workflows.readComments`",
        "operationId": "list-a-comment-from-a-workflow",
        "parameters": [
          {
            "$ref": "#/components/parameters/XAsUserEmail"
          },
          {
            "$ref": "#/components/parameters/XAsUserId"
          },
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier of a workflow.",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "commentId",
            "in": "path",
            "description": "The unique identifier of a comment.",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "security": [
          {
            "sec0": [],
            "OAuth2": [
              "public.workflows.readComments"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivityFeedComment"
                }
              }
            }
          },
          "403": {
            "description": "403",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "FORBIDDEN"
                    },
                    "message": {
                      "type": "string",
                      "example": "access forbidden"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/CommentNotFoundResponse404"
          }
        },
        "tags": [
          "Workflows"
        ]
      }
    },
    "/workflows/{id}/attributes": {
      "patch": {
        "summary": "Update Workflow Metadata",
        "description": "The workflow must be in the Review step in order for its data to be updated. Use the `remove` action to clear field values and the `set` action to add or modify values. Form validation is enforced; required fields cannot be removed and any required fields triggered by conditions must be populated.\n\n**Note:** This endpoint does not support updating document/file type attributes. To manage documents, use the document-specific endpoints.\n\n**OAuth Scope required:** `public.workflows.updateWorkflows`",
        "operationId": "update-workflow-metadata",
        "parameters": [
          {
            "$ref": "#/components/parameters/XAsUserEmail"
          },
          {
            "$ref": "#/components/parameters/XAsUserId"
          },
          {
            "$ref": "#/components/parameters/WorkflowOrIroncladId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
[...]
