{
  "openapi": "3.0.3",
  "info": {
    "title": "MplusKassa API (MplusQapi)",
    "version": "1.0.0",
    "description": "REST API for building integrations with MplusKASSA POS system data. Converted from the original SOAP/WSDL service. Covers relations, employees, orders, table management, invoices, giftcards, vouchers, stock, reporting, and more."
  },
  "servers": [
    {
      "url": "https://api.mpluskassa.nl:49504",
      "description": "MplusKassa API server"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": {}
    }
  ],
  "tags": [
    {
      "name": "Relations",
      "description": "Customer/supplier relation management"
    },
    {
      "name": "Employees",
      "description": "Employee management and authentication"
    },
    {
      "name": "Orders",
      "description": "Order creation, management, and processing"
    },
    {
      "name": "TableOrders",
      "description": "Table-specific order operations"
    },
    {
      "name": "Tables",
      "description": "Table management and status"
    },
    {
      "name": "Invoices",
      "description": "Invoice creation and management"
    },
    {
      "name": "Proposals",
      "description": "Sales proposal management"
    },
    {
      "name": "Receipts",
      "description": "Receipt retrieval and printing"
    },
    {
      "name": "Giftcards",
      "description": "Giftcard management and payments"
    },
    {
      "name": "Vouchers",
      "description": "Voucher management and redemption"
    },
    {
      "name": "Products",
      "description": "Product management"
    },
    {
      "name": "Articles",
      "description": "Article groups, variants, components, and configuration"
    },
    {
      "name": "Stock",
      "description": "Inventory and stock management"
    },
    {
      "name": "PurchaseOrders",
      "description": "Purchase order and delivery management"
    },
    {
      "name": "Activities",
      "description": "Activity management"
    },
    {
      "name": "TodoLists",
      "description": "Todo list management"
    },
    {
      "name": "Payments",
      "description": "Payment method configuration and reporting"
    },
    {
      "name": "ExternalPayments",
      "description": "External payment terminal operations"
    },
    {
      "name": "DeliveryMethods",
      "description": "Delivery method configuration"
    },
    {
      "name": "Configuration",
      "description": "System configuration"
    },
    {
      "name": "Printing",
      "description": "Print layouts and printing operations"
    },
    {
      "name": "Images",
      "description": "Image management"
    },
    {
      "name": "Interbranch",
      "description": "Interbranch orders, shipments, and deliveries"
    },
    {
      "name": "Reports",
      "description": "Turnover and performance reporting"
    },
    {
      "name": "Financial",
      "description": "Financial journal and accounting"
    },
    {
      "name": "CashManagement",
      "description": "Cash drawer and counting operations"
    },
    {
      "name": "Courses",
      "description": "Meal course management"
    },
    {
      "name": "Cards",
      "description": "Card categories and filtering"
    },
    {
      "name": "Branches",
      "description": "Branch information and operations"
    },
    {
      "name": "Terminals",
      "description": "Terminal registration and settings"
    },
    {
      "name": "Authorization",
      "description": "Authorization groups and permissions"
    },
    {
      "name": "Webhooks",
      "description": "Webhook consumer management"
    },
    {
      "name": "Timeline",
      "description": "Timeline event tracking"
    },
    {
      "name": "Shifts",
      "description": "Employee shift data"
    },
    {
      "name": "Floorplans",
      "description": "Restaurant floorplan layouts"
    },
    {
      "name": "ButtonLayouts",
      "description": "POS button layout configuration"
    },
    {
      "name": "FilterProfiles",
      "description": "Filter profile configuration"
    },
    {
      "name": "Messages",
      "description": "Internal messaging"
    },
    {
      "name": "Promotions",
      "description": "Sale promotions and repeat templates"
    },
    {
      "name": "Nutrients",
      "description": "Nutritional information management"
    },
    {
      "name": "Misc",
      "description": "Miscellaneous operations (pricing, barcodes, credentials, etc.)"
    }
  ],
  "paths": {
    "/relations": {
      "post": {
        "summary": "Create a relation",
        "operationId": "createRelation",
        "tags": [
          "Relations"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "description": "Operation result status"
                    },
                    "relation": {
                      "$ref": "#/components/schemas/Relation"
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Relation"
              }
            }
          }
        }
      },
      "put": {
        "summary": "Update a relation",
        "operationId": "updateRelation",
        "tags": [
          "Relations"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "description": "Operation result status"
                    },
                    "relation": {
                      "$ref": "#/components/schemas/Relation"
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Relation"
              }
            }
          }
        }
      }
    },
    "/relations/{relationNumber}": {
      "get": {
        "summary": "Get a relation by number",
        "operationId": "getRelation",
        "tags": [
          "Relations"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "description": "Operation result status"
                    },
                    "relation": {
                      "$ref": "#/components/schemas/Relation"
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "relationNumber",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The relation number"
          }
        ]
      }
    },
    "/relations/find": {
      "post": {
        "summary": "Find relations by criteria",
        "operationId": "findRelation",
        "tags": [
          "Relations"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "description": "Operation result status"
                    },
                    "relationList": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Relation"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Relation"
              }
            }
          }
        }
      }
    },
    "/relations/find/v2": {
      "post": {
        "summary": "Find relations by criteria (v2)",
        "operationId": "findRelationV2",
        "tags": [
          "Relations"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "description": "Operation result status"
                    },
                    "relationList": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Relation"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Relation"
              }
            }
          }
        }
      }
    },
    "/relations/list": {
      "post": {
        "summary": "Get multiple relations",
        "operationId": "getRelations",
        "tags": [
          "Relations"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "description": "Operation result status"
                    },
                    "relationList": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Relation"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "relationNumbers": {
                    "type": "array",
                    "items": {
                      "type": "integer"
                    }
                  },
                  "categoryId": {
                    "type": "integer"
                  },
                  "syncMarker": {
                    "type": "integer",
                    "format": "int64"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/relations/{relationNumber}/points": {
      "get": {
        "summary": "Get relation points",
        "operationId": "getRelationPoints",
        "tags": [
          "Relations"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "description": "Operation result status"
                    },
                    "points": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "relationNumber",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The relation number"
          }
        ]
      }
    },
    "/relations/points/list": {
      "post": {
        "summary": "Get relation points (bulk)",
        "operationId": "getRelationPointsBulk",
        "tags": [
          "Relations"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "description": "Operation result status"
                    },
                    "pointsList": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "relationNumbers": {
                    "type": "array",
                    "items": {
                      "type": "integer"
                    }
                  },
                  "syncMarker": {
                    "type": "integer",
                    "format": "int64"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/relations/{relationNumber}/giftcards": {
      "get": {
        "summary": "Get giftcards for a relation",
        "operationId": "getRelationGiftcards",
        "tags": [
          "Relations"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "description": "Operation result status"
                    },
                    "giftcardList": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Giftcard"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "relationNumber",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The relation number"
          }
        ]
      }
    },
    "/relations/{relationNumber}/presence": {
      "get": {
        "summary": "Get relation presence",
        "operationId": "getRelationPresence",
        "tags": [
          "Relations"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "description": "Operation result status"
                    },
                    "presence": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "relationNumber",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The relation number"
          }
        ]
      },
      "put": {
        "summary": "Set relation presence",
        "operationId": "setRelationPresence",
        "tags": [
          "Relations"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "description": "Operation result status"
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "relationNumber",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The relation number"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "present": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/relations/points/adjust": {
      "post": {
        "summary": "Adjust relation points",
        "operationId": "adjustPoints",
        "tags": [
          "Relations"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "description": "Operation result status"
                    },
                    "newPoints": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "relationNumber": {
                    "type": "integer",
                    "format": "int64"
                  },
                  "pointsAdjustment": {
                    "type": "integer"
                  },
                  "mode": {
                    "type": "string",
                    "description": "Adjustment mode"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/employees": {
      "post": {
        "summary": "Create an employee",
        "operationId": "createEmployee",
        "tags": [
          "Employees"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "description": "Operation result status"
                    },
                    "employee": {
                      "$ref": "#/components/schemas/Employee"
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Employee"
              }
            }
          }
        }
      },
      "put": {
        "summary": "Update an employee",
        "operationId": "updateEmployee",
        "tags": [
          "Employees"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "description": "Operation result status"
                    },
                    "employee": {
                      "$ref": "#/components/schemas/Employee"
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Employee"
              }
            }
          }
        }
      }
    },
    "/employees/{employeeNumber}": {
      "get": {
        "summary": "Get an employee by number",
        "operationId": "getEmployee",
        "tags": [
          "Employees"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "description": "Operation result status"
                    },
                    "employee": {
                      "$ref": "#/components/schemas/Employee"
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "employeeNumber",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The employee number"
          }
        ]
      }
    },
    "/employees/find": {
      "post": {
        "summary": "Find employees by criteria",
        "operationId": "findEmployee",
        "tags": [
          "Employees"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "description": "Operation result status"
                    },
                    "employeeList": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Employee"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Employee"
              }
            }
          }
        }
      }
    },
    "/employees/list": {
      "post": {
        "summary": "Get multiple employees",
        "operationId": "getEmployees",
        "tags": [
          "Employees"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "description": "Operation result status"
                    },
                    "employeeList": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Employee"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "employeeNumbers": {
                    "type": "array",
                    "items": {
                      "type": "integer"
                    }
                  },
                  "syncMarker": {
                    "type": "integer",
                    "format": "int64"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/employees/active": {
      "post": {
        "summary": "Get active employee list",
        "operationId": "getActiveEmployeeList",
        "tags": [
          "Employees"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "description": "Operation result status"
                    },
                    "employeeList": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Employee"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Terminal"
              }
            }
          }
        }
      }
    },
    "/employees/verify-password": {
      "post": {
        "summary": "Verify employee password",
        "operationId": "verifyEmployeePassword",
        "tags": [
          "Employees"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "description": "Operation result status"
                    },
                    "valid": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "terminal": {
                    "$ref": "#/components/schemas/Terminal"
                  },
                  "employeeNumber": {
                    "type": "integer",
                    "format": "int64"
                  },
                  "password": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/employees/hours-report": {
      "post": {
        "summary": "Report hours by employee",
        "operationId": "reportHoursByEmployee",
        "tags": [
          "Employees"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "description": "Operation result status"
                    },
                    "report": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "startDate": {
                    "$ref": "#/components/schemas/SoapMplusDate"
                  },
                  "endDate": {
                    "$ref": "#/components/schemas/SoapMplusDate"
                  },
                  "employeeNumber": {
                    "type": "integer",
                    "format": "int64"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/employees/workplace-login-states": {
      "get": {
        "summary": "Get employee workplace login states",
        "operationId": "getEmployeeWorkplaceLoginStates",
        "tags": [
          "Employees"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "description": "Operation result status"
                    },
                    "stateList": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/orders": {
      "post": {
        "summary": "Create an order",
        "operationId": "createOrder",
        "tags": [
          "Orders"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "description": "Operation result status"
                    },
                    "order": {
                      "$ref": "#/components/schemas/Order"
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "terminal": {
                    "$ref": "#/components/schemas/Terminal"
                  },
                  "order": {
                    "$ref": "#/components/schemas/Order"
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Update an order",
        "operationId": "updateOrder",
        "tags": [
          "Orders"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "description": "Operation result status"
                    },
                    "order": {
                      "$ref": "#/components/schemas/Order"
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Order"
              }
            }
          }
        }
      }
    },
    "/orders/v2": {
      "post": {
        "summary": "Create an order (v2)",
        "operationId": "createOrderV2",
        "tags": [
          "Orders"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "description": "Operation result status"
                    },
                    "order": {
                      "$ref": "#/components/schemas/Order"
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "terminal": {
                    "$ref": "#/components/schemas/Terminal"
                  },
                  "order": {
                    "$ref": "#/components/schemas/Order"
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Update an order (v2)",
        "operationId": "updateOrderV2",
        "tags": [
          "Orders"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "description": "Operation result status"
                    },
                    "order": {
                      "$ref": "#/components/schemas/Order"
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Order"
              }
            }
          }
        }
      }
    },
    "/orders/v3": {
      "post": {
        "summary": "Create an order (v3)",
        "operationId": "createOrderV3",
        "tags": [
          "Orders"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "description": "Operation result status"
                    },
                    "order": {
                      "$ref": "#/components/schemas/Order"
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "terminal": {
                    "$ref": "#/components/schemas/Terminal"
                  },
                  "order": {
                    "$ref": "#/components/schemas/Order"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/orders/{orderId}": {
      "get": {
        "summary": "Get an order by ID",
        "operationId": "getOrder",
        "tags": [
          "Orders"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "description": "Operation result status"
                    },
                    "order": {
                      "$ref": "#/components/schemas/Order"
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The order ID"
          }
        ]
      }
    },
    "/orders/find": {
      "post": {
        "summary": "Find orders by criteria",
        "operationId": "findOrder",
        "tags": [
          "Orders"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "description": "Operation result status"
                    },
                    "orderList": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Order"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Order"
              }
            }
          }
        }
      }
    },
    "/orders/list": {
      "post": {
        "summary": "Get multiple orders",
        "operationId": "getOrders",
        "tags": [
          "Orders"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "description": "Operation result status"
                    },
                    "orderList": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Order"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "orderIds": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "syncMarker": {
                    "type": "integer",
                    "format": "int64"
                  },
                  "syncMarkerLimit": {
                    "type": "integer",
                    "format": "int64"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/orders/by-ext-ids": {
      "post": {
        "summary": "Get orders by external IDs",
        "operationId": "getOrdersByExtOrderIds",
        "tags": [
          "Orders"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "description": "Operation result status"
                    },
                    "orderList": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Order"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "extOrderIds": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/orders/by-receipts": {
      "post": {
        "summary": "Get orders by receipt IDs",
        "operationId": "getOrdersByReceipts",
        "tags": [
          "Orders"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "description": "Operation result status"
                    },
                    "orderList": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Order"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "receiptIds": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/orders/{orderId}/pay": {
      "post": {
        "summary": "Pay an order",
        "operationId": "payOrder",
        "tags": [
          "Orders"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "description": "Operation result status"
                    },
                    "order": {
                      "$ref": "#/components/schemas/Order"
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The order ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "paymentMethod": {
                    "type": "string"
                  },
                  "prepaidAmount": {
                    "type": "integer",
                    "format": "int64"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/orders/{orderId}/pay/v2": {
      "post": {
        "summary": "Pay an order (v2)",
        "operationId": "payOrderV2",
        "tags": [
          "Orders"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "description": "Operation result status"
                    },
                    "order": {
                      "$ref": "#/components/schemas/Order"
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The order ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "paymentMethod": {
                    "type": "string"
                  },
                  "prepaidAmount": {
                    "type": "integer",
                    "format": "int64"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/orders/{orderId}/deliver": {
      "post": {
        "summary": "Deliver an order",
        "operationId": "deliverOrder",
        "tags": [
          "Orders"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "description": "Operation result status"
                    },
                    "order": {
                      "$ref": "#/components/schemas/Order"
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The order ID"
          }
        ]
      }
    },
    "/orders/{orderId}/deliver/v2": {
      "post": {
        "summary": "Deliver an order (v2)",
        "operationId": "deliverOrderV2",
        "tags": [
          "Orders"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "description": "Operation result status"
                    },
                    "order": {
                      "$ref": "#/components/schemas/Order"
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The order ID"
          }
        ]
      }
    },
    "/orders/{orderId}/cancel": {
      "post": {
        "summary": "Cancel an order",
        "operationId": "cancelOrder",
        "tags": [
          "Orders"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "description": "Operation result status"
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The order ID"
          }
        ]
      }
    },
    "/orders/{orderId}/cancel/v2": {
      "post": {
        "summary": "Cancel an order (v2)",
        "operationId": "cancelOrderV2",
        "tags": [
          "Orders"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "description": "Operation result status"
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The order ID"
          }
        ]
      }
    },
    "/orders/{orderId}/process": {
      "post": {
        "summary": "Process an order",
        "operationId": "processOrder",
        "tags": [
          "Orders"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "description": "Operation result status"
                    },
                    "order": {
                      "$ref": "#/components/schemas/Order"
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The order ID"
          }
        ]
      }
    },
    "/orders/{orderId}/save": {
      "put": {
        "summary": "Save an order",
        "operationId": "saveOrder",
        "tags": [
          "Orders"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "description": "Operation result status"
                    },
                    "order": {
                      "$ref": "#/components/schemas/Order"
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The order ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Order"
              }
            }
          }
        }
      }
    },
    "/orders/{orderId}/history": {
      "get": {
        "summary": "Get order history",
        "operationId": "getOrderHistory",
        "tags": [
          "Orders"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "description": "Operation result status"
                    },
                    "historyList": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The order ID"
          }
        ]
      }
    },
    "/orders/categories": {
      "get": {
        "summary": "Get order categories",
        "operationId": "getOrderCategories",
        "tags": [
          "Orders"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "description": "Operation result status"
                    },
                    "categoryList": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/orders/changes": {
      "post": {
        "summary": "Get order changes since sync marker",
        "operationId": "getOrderChanges",
        "tags": [
          "Orders"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "description": "Operation result status"
                    },
                    "orderList": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Order"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "syncMarker": {
                    "type": "integer",
                    "format": "int64"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/orders/from-proposal": {
      "post": {
        "summary": "Create order from proposal",
        "operationId": "createOrderFromProposal",
        "tags": [
          "Orders"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "description": "Operation result status"
                    },
                    "order": {
                      "$ref": "#/components/schemas/Order"
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "proposalId": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/table-orders/save": {
      "post": {
        "summary": "Save a table order",
        "operationId": "saveTableOrder",
        "tags": [
          "TableOrders"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "description": "Operation result status"
                    },
                    "order": {
                      "$ref": "#/components/schemas/Order"
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "terminal": {
                    "$ref": "#/components/schemas/Terminal"
                  },
                  "order": {
                    "$ref": "#/components/schemas/Order"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/table-orders/save/v2": {
      "post": {
        "summary": "Save a table order (v2)",
        "operationId": "saveTableOrderV2",
        "tags": [
          "TableOrders"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "description": "Operation result status"
                    },
                    "order": {
                      "$ref": "#/components/schemas/Order"
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "terminal": {
                    "$ref": "#/components/schemas/Terminal"
                  },
                  "order": {
                    "$ref": "#/components/schemas/Order"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/table-orders/pay": {
      "post": {
        "summary": "Pay a table order",
        "operationId": "payTableOrder",
        "tags": [
          "TableOrders"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "description": "Operation result status"
                    },
                    "order": {
                      "$ref": "#/components/schemas/Order"
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "terminal": {
                    "$ref": "#/components/schemas/Terminal"
                  },
                  "tableNumber": {
                    "type": "integer"
                  },
                  "tableSubNumber": {
                    "type": "integer"
                  },
                  "paymentMethod": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/table-orders/pay/v2": {
      "post": {
        "summary": "Pay a table order (v2)",
        "operationId": "payTableOrderV2",
        "tags": [
          "TableOrders"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "description": "Operation result status"
                    },
                    "order": {
                      "$ref": "#/components/schemas/Order"
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "terminal": {
                    "$ref": "#/components/schemas/Terminal"
                  },
                  "tableNumber": {
                    "type": "integer"
                  },
                  "tableSubNumber": {
                    "type": "integer"
                  },
                  "paymentMethod": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/table-orders/cancel": {
      "post": {
        "summary": "Cancel a table order",
        "operationId": "cancelTableOrder",
        "tags": [
          "TableOrders"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "description": "Operation result status"
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "terminal": {
                    "$ref": "#/components/schemas/Terminal"
                  },
                  "tableNumber": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/table-orders/cancel/v2": {
      "post": {
        "summary": "Cancel a table order (v2)",
        "operationId": "cancelTableOrderV2",
        "tags": [
          "TableOrders"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "description": "Operation result status"
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "terminal": {
                    "$ref": "#/components/schemas/Terminal"
                  },
                  "tableNumber": {
                    "type": "integer"
                  },
                  "tableSubNumber": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/table-orders/move": {
      "post": {
        "summary": "Move a table order",
        "operationId": "moveTableOrder",
        "tags": [
          "TableOrders"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "description": "Operation result status"
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "terminal": {
                    "$ref": "#/components/schemas/Terminal"
                  },
                  "fromTableNumber": {
                    "type": "integer"
                  },
                  "toTableNumber": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/table-orders/move/v2": {
      "post": {
        "summary": "Move a table order (v2)",
        "operationId": "moveTableOrderV2",
        "tags": [
          "TableOrders"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "description": "Operation result status"
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "terminal": {
                    "$ref": "#/components/schemas/Terminal"
                  },
                  "fromTableNumber": {
                    "type": "integer"
                  },
                  "toTableNumber": {
                    "type": "integer"
                  },
                  "fromSubNumber": {
                    "type": "integer"
                  },
                  "toSubNumber": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/table-orders/move/v3": {
      "post": {
        "summary": "Move a table order (v3)",
        "operationId": "moveTableOrderV3",
        "tags": [
          "TableOrders"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "description": "Operation result status"
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "terminal": {
                    "$ref": "#/components/schemas/Terminal"
                  },
                  "fromTableNumber": {
                    "type": "integer"
                  },
                  "toTableNumber": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/table-orders/prepay": {
      "post": {
        "summary": "Prepay a table order",
        "operationId": "prepayTableOrder",
        "tags": [
          "TableOrders"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "description": "Operation result status"
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "terminal": {
                    "$ref": "#/components/schemas/Terminal"
                  },
                  "tableNumber": {
                    "type": "integer"
                  },
                  "amount": {
                    "type": "integer",
                    "format": "int64"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/table-orders/prepay/v2": {
      "post": {
        "summary": "Prepay a table order (v2)",
        "operationId": "prepayTableOrderV2",
        "tags": [
          "TableOrders"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "description": "Operation result status"
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "terminal": {
                    "$ref": "#/components/schemas/Terminal"
                  },
                  "tableNumber": {
                    "type": "integer"
                  },
                  "tableSubNumber": {
                    "type": "integer"
                  },
                  "amount": {
                    "type": "integer",
                    "format": "int64"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/table-orders/print-receipt": {
      "post": {
        "summary": "Print table receipt",
        "operationId": "printTableReceipt",
        "tags": [
          "TableOrders"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "description": "Operation result status"
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "terminal": {
                    "$ref": "#/components/schemas/Terminal"
                  },
                  "tableNumber": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/table-orders/print-receipt/v2": {
      "post": {
        "summary": "Print table receipt (v2)",
        "operationId": "printTableReceiptV2",
        "tags": [
          "TableOrders"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "description": "Operation result status"
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "terminal": {
                    "$ref": "#/components/schemas/Terminal"
                  },
                  "tableNumber": {
                    "type": "integer"
                  },
                  "tableSubNumber": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/table-orders/print-receipt/v3": {
      "post": {
        "summary": "Print table receipt (v3)",
        "operationId": "printTableReceiptV3",
        "tags": [
          "TableOrders"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "description": "Operation result status"
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "terminal": {
                    "$ref": "#/components/schemas/Terminal"
                  },
                  "tableNumber": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/table-orders/{tableNumber}": {
      "get": {
        "summary": "Get a table order",
        "operationId": "getTableOrder",
        "tags": [
          "TableOrders"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "description": "Operation result status"
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "tableNumber",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Table number"
          },
          {
            "name": "tableSubNumber",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Sub-table number"
          }
        ]
      }
    },
    "/table-orders/{tableNumber}/v2": {
      "get": {
        "summary": "Get a table order (v2)",
        "operationId": "getTableOrderV2",
        "tags": [
          "TableOrders"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "description": "Operation result status"
                    },
                    "order": {
                      "$ref": "#/components/schemas/Order"
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "tableNumber",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Table number"
          },
          {
            "name": "tableSubNumber",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Sub-table number"
          }
        ]
      }
    },
    "/table-orders/{tableNumber}/v3": {
      "get": {
        "summary": "Get a table order (v3)",
        "operationId": "getTableOrderV3",
        "tags": [
          "TableOrders"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "description": "Operation result status"
                    },
                    "order": {
                      "$ref": "#/components/schemas/Order"
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "tableNumber",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Table number"
          }
        ]
      }
    },
    "/table-orders/find": {
      "post": {
        "summary": "Find a table order",
        "operationId": "findTableOrder",
        "tags": [
          "TableOrders"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "description": "Operation result status"
                    },
                    "order": {
                      "$ref": "#/components/schemas/Order"
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "tableNumber": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/table-orders/place": {
      "post": {
        "summary": "Place a table order",
        "operationId": "placeTableOrder",
        "tags": [
          "TableOrders"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "description": "Operation result status"
                    },
                    "order": {
                      "$ref": "#/components/schemas/Order"
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "terminal": {
                    "$ref": "#/components/schemas/Terminal"
                  },
                  "tableNumber": {
                    "type": "integer"
                  },
                  "order": {
                    "$ref": "#/components/schemas/Order"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/table-orders/create-and-pay": {
      "post": {
        "summary": "Create and pay a table order",
        "operationId": "createAndPayTableOrder",
        "tags": [
          "TableOrders"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "description": "Operation result status"
                    },
                    "order": {
                      "$ref": "#/components/schemas/Order"
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "terminal": {
                    "$ref": "#/components/schemas/Terminal"
                  },
                  "order": {
                    "$ref": "#/components/schemas/Order"
                  },
                  "paymentMethod": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/table-orders/current": {
      "post": {
        "summary": "Get current table orders",
        "operationId": "getCurrentTableOrders",
        "tags": [
          "TableOrders"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "description": "Operation result status"
                    },
                    "orderList": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Order"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Terminal"
              }
            }
          }
        }
      }
    },
    "/table-orders/request-course": {
      "post": {
        "summary": "Request a table order course",
        "operationId": "requestTableOrderCourse",
        "tags": [
          "TableOrders"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "description": "Operation result status"
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "terminal": {
                    "$ref": "#/components/schemas/Terminal"
                  },
                  "tableNumber": {
                    "type": "integer"
                  },
                  "courseNumber": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/table-orders/request-next-course/v2": {
      "post": {
        "summary": "Request next table order course (v2)",
        "operationId": "requestNextTableOrderCourseV2",
        "tags": [
          "TableOrders"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "description": "Operation result status"
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "terminal": {
                    "$ref": "#/components/schemas/Terminal"
                  },
                  "tableNumber": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/table-orders/request-next-course/v3": {
      "post": {
        "summary": "Request next table order course (v3)",
        "operationId": "requestNextTableOrderCourseV3",
        "tags": [
          "TableOrders"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "description": "Operation result status"
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "terminal": {
                    "$ref": "#/components/schemas/Terminal"
                  },
                  "tableNumber": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/table-orders/course-list": {
      "post": {
        "summary": "Get table order course list",
        "operationId": "getTableOrderCourseList",
        "tags": [
          "TableOrders"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "description": "Operation result status"
                    },
                    "courseList": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Course"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "terminal": {
                    "$ref": "#/components/schemas/Terminal"
                  },
                  "tableNumber": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/table-orders/course-list/v2": {
      "post": {
        "summary": "Get table order course list (v2)",
        "operationId": "getTableOrderCourseListV2",
        "tags": [
          "TableOrders"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "description": "Operation result status"
                    },
                    "courseList": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Course"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "terminal": {
                    "$ref": "#/components/schemas/Terminal"
                  },
                  "tableNumber": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/table-orders/course-list/v3": {
      "post": {
        "summary": "Get table order course list (v3)",
        "operationId": "getTableOrderCourseListV3",
        "tags": [
          "TableOrders"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "description": "Operation result status"
                    },
                    "courseList": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Course"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "branchNumber": {
                    "type": "integer"
                  },
                  "tableNumber": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/tables": {
      "post": {
        "summary": "Get table list",
        "operationId": "getTableList",
        "tags": [
          "Tables"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "description": "Operation result status"
                    },
                    "tableList": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/TableState"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Terminal"
              }
            }
          }
        }
      }
    },
    "/tables/v2": {
      "post": {
        "summary": "Get table list (v2)",
        "operationId": "getTableListV2",
        "tags": [
          "Tables"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "description": "Operation result status"
                    },
                    "tableList": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/TableState"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Terminal"
              }
            }
          }
        }
      }
    },
    "/tables/v3": {
      "post": {
        "summary": "Get table list (v3)",
        "operationId": "getTableListV3",
        "tags": [
          "Tables"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "description": "Operation result status"
                    },
                    "tableList": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/TableState"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "branchNumber": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/tables/main": {
      "post": {
        "summary": "Get main table list",
        "operationId": "getMainTableList",
        "tags": [
          "Tables"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "description": "Operation result status"
                    },
                    "tableList": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/TableState"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "branchNumber": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/tables/sub": {
      "post": {
        "summary": "Get sub table list",
        "operationId": "getSubTableList",
        "tags": [
          "Tables"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "description": "Operation result status"
                    },
                    "subTableList": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "branchNumber": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/tables/max-number": {
      "post": {
        "summary": "Get maximum table number",
        "operationId": "getMaxTableNumber",
        "tags": [
          "Tables"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "description": "Operation result status"
                    },
                    "maxTableNumber": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Terminal"
              }
            }
          }
        }
      }
    },
    "/tables/release": {
      "post": {
        "summary": "Release a table",
        "operationId": "releaseTable",
        "tags": [
          "Tables"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "description": "Operation result status"
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "terminal": {
                    "$ref": "#/components/schemas/Terminal"
                  },
                  "tableNumber": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/tables/release/v2": {
      "post": {
        "summary": "Release a table (v2)",
        "operationId": "releaseTableV2",
[...]
