{
  "openapi": "3.0.3",
  "info": {
    "title": "Zephyr Scale Cloud API",
    "description": "\n# Introduction\n\nThis is the **Zephyr Cloud** API. If you are looking for the Server API, please refer to the [documentation](https://support.smartbear.com/zephyr-scale-server/api-docs/v1/) for more information.\n\nThis API uses the OpenAPI specification. If you want to generate clients for different languages, please use the link above to download the API specification and use it with your preferred tools.\n\nFor feature requests or general support, please head to our [support site](https://support.smartbear.com/zephyr/message/).\n\n# Authentication\nThe API authentication is based on JSON Web Token (JWT), which is a key for accessing the API. Authenticating using JWT requires the following steps:\n* Generate a key\n* Make authenticated requests\n\n## Generate a Key\nFor accessing the API, you must generate an access key in Jira. To generate an access token, click on your profile picture at the page bottom left, and\nchoose the option \u201cZephyr API keys\". For more information, please check out the [documentation](https://support.smartbear.com/zephyr/docs/en/rest-api/api-access-tokens-management.html).\n\n## Accessing the API\nThe API is available at the following base URL:\n```\nhttps://api.zephyrscale.smartbear.com/v2\n```\nFor example, the final URL for retrieving test cases would be:\n```\nhttps://api.zephyrscale.smartbear.com/v2/testcases\n```\nFor EU region, the API can be accessed at the following base URL:\n```\nhttps://eu.api.zephyrscale.smartbear.com/v2\n```\n\n## Making Authenticated Requests\nTo authenticate subsequent API requests, you must provide a valid token in an HTTP header, which is the key generated on the previous step:\n```\nAuthorization: Bearer {bearer_token}\n```\n# Representing Users\n\nPrevious API definitions used Atlassian User Keys to identify users. This parameter is deprecated because of privacy\nchanges. Use Atlassian Account ID instead.\n\n\nAtlassian Account IDs are globally unique opaque identifiers for identifying a user. Every Atlassian Account has a\nID which is assigned when the account is created and is immutable. Account IDs contain no personally identifiable\ninformation and are only used to retrieve user information ondemand. This API does not return any user information\nother than the Account ID (with the exception of the deprecated user keys during the deprecation period).\n",
    "version": "2",
    "contact": {
      "name": "SmartBear Zephyr Scale Support",
      "url": "https://support.smartbear.com/zephyr/message/",
      "email": "support@smartbear.com"
    },
    "license": {
      "name": "SmartBear Terms of Service",
      "url": "https://smartbear.com/terms-of-use/"
    }
  },
  "servers": [
    {
      "url": "https://api.zephyrscale.smartbear.com/v2",
      "description": "Zephyr Scale Cloud API (US region)"
    },
    {
      "url": "https://eu.api.zephyrscale.smartbear.com/v2",
      "description": "Zephyr Scale Cloud API (EU region)"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    },
    {
      "OAuth2": [
        "read:zephyr-scale",
        "write:zephyr-scale"
      ]
    }
  ],
  "tags": [
    {
      "name": "Test Cases",
      "description": "Operations related to test cases.<br>\nNo operations are enabled on archived test cases.\n"
    },
    {
      "name": "Test Cycles",
      "description": "Operations related to test cycles."
    },
    {
      "name": "Test Plans",
      "description": "Operations related to test plans."
    },
    {
      "name": "Test Executions",
      "description": "Operations related to test executions."
    },
    {
      "name": "Folders",
      "description": "Operations related to folders."
    },
    {
      "name": "Statuses",
      "description": "Operations related to statuses."
    },
    {
      "name": "Priorities",
      "description": "Operations related to priorities."
    },
    {
      "name": "Environments",
      "description": "Operations related to environments."
    },
    {
      "name": "Projects",
      "description": "Operations related to projects."
    },
    {
      "name": "Links",
      "description": "Operations related to links."
    },
    {
      "name": "Issue Links",
      "description": "Operations related to coverage of issue links."
    },
    {
      "name": "Automations",
      "description": "Operations related to test case automations."
    },
    {
      "name": "Healthcheck",
      "description": "Health check endpoint for monitoring API availability."
    }
  ],
  "paths": {
    "/testcases": {
      "get": {
        "tags": [
          "Test Cases"
        ],
        "summary": "Get test cases",
        "description": "Retrieves all test cases. Query parameters can be used to filter the results. If the user who is preforming the API call has access to more than 1000 projects, the `projectKey` query parameter is mandatory.\n",
        "operationId": "listTestCases",
        "parameters": [
          {
            "name": "projectKey",
            "in": "query",
            "description": "Jira project key filter",
            "schema": {
              "pattern": "([A-Z][A-Z_0-9]+)",
              "type": "string"
            }
          },
          {
            "name": "folderId",
            "in": "query",
            "description": "Folder ID filter",
            "schema": {
              "minimum": 1,
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "maxResults",
            "in": "query",
            "description": "Specifies the maximum number of results to return in a single call. The default value is 10, and the maximum value that can be requested is 1000.\n\nNote that the server may enforce a lower limit than requested, depending on resource availability or other internal constraints. If this happens, the result set may be truncated. Always check the maxResults value in the response to confirm how many results were actually returned.\n",
            "schema": {
              "minimum": 1,
              "type": "integer",
              "format": "int64",
              "default": 10
            }
          },
          {
            "name": "startAt",
            "in": "query",
            "description": "Zero-indexed starting position. Should be a multiple of maxResults.",
            "schema": {
              "maximum": 1000000,
              "minimum": 0,
              "type": "integer",
              "format": "int64",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Access-Control-Allow-Headers": {
                "$ref": "#/components/headers/Access-Control-Allow-Headers"
              },
              "Access-Control-Allow-Methods": {
                "$ref": "#/components/headers/Access-Control-Allow-Methods"
              },
              "Access-Control-Allow-Origin": {
                "$ref": "#/components/headers/Access-Control-Allow-Origin"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TestCaseList"
                }
              }
            }
          },
          "default": {
            "description": "An error has occurred. Please check the code and the error message.",
            "headers": {
              "Access-Control-Allow-Headers": {
                "$ref": "#/components/headers/Access-Control-Allow-Headers"
              },
              "Access-Control-Allow-Methods": {
                "$ref": "#/components/headers/Access-Control-Allow-Methods"
              },
              "Access-Control-Allow-Origin": {
                "$ref": "#/components/headers/Access-Control-Allow-Origin"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Test Cases"
        ],
        "summary": "Create test case",
        "description": "Creates a test case. Fields `priorityName` and `statusName` will be set to default values if not informed. Default values are usually \u201cNormal\u201d for `priorityName` and \u201cDraft\u201d for `statusName`. All required test case custom fields should be present in the request.\n",
        "operationId": "createTestCase",
        "requestBody": {
          "description": "Test Case Input",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TestCaseInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "headers": {
              "Access-Control-Allow-Headers": {
                "$ref": "#/components/headers/Access-Control-Allow-Headers"
              },
              "Access-Control-Allow-Methods": {
                "$ref": "#/components/headers/Access-Control-Allow-Methods"
              },
              "Access-Control-Allow-Origin": {
                "$ref": "#/components/headers/Access-Control-Allow-Origin"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KeyedCreatedResource"
                }
              }
            }
          },
          "default": {
            "description": "An error has occurred. Please check the code and the error message.",
            "headers": {
              "Access-Control-Allow-Headers": {
                "$ref": "#/components/headers/Access-Control-Allow-Headers"
              },
              "Access-Control-Allow-Methods": {
                "$ref": "#/components/headers/Access-Control-Allow-Methods"
              },
              "Access-Control-Allow-Origin": {
                "$ref": "#/components/headers/Access-Control-Allow-Origin"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/testcases/nextgen": {
      "get": {
        "tags": [
          "Test Cases"
        ],
        "summary": "Get test cases (NextGen)",
        "description": "Retrieves all test cases. Query parameters can be used to filter the results.\n\nUse this endpoint for retrieving large volumes of test cases.\n\nResults are split in different pages, of size equal to the `limit` query parameter. \nTo fetch the next page, use the `next` URL returned in the response. \nIt should have the same parameters as the original request, with the updated value for `startAtId` parameter.\nAlternatively, the same request can be made with the `startAtId` parameter set to the `nextStartId` value \nreturned in the response.\n",
        "operationId": "listTestCasesCursorPaginated",
        "parameters": [
          {
            "name": "projectKey",
            "in": "query",
            "description": "Jira project key filter",
            "schema": {
              "pattern": "([A-Z][A-Z_0-9]+)",
              "type": "string"
            }
          },
          {
            "name": "folderId",
            "in": "query",
            "description": "Folder ID filter",
            "schema": {
              "minimum": 1,
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Specifies the maximum number of results to return in a single call. The default value is 10, and the maximum value that can be requested is 1000.\n\nNote that the server may enforce a lower limit than requested, depending on resource availability or other internal constraints. If this happens, the result set may be truncated. Always check the limit value in the response to confirm how many results were actually returned.\n",
            "schema": {
              "maximum": 1000,
              "minimum": 1,
              "type": "integer",
              "format": "int64",
              "default": 10
            }
          },
          {
            "name": "startAtId",
            "in": "query",
            "description": "Zero-indexed starting position for ID-based pagination.",
            "schema": {
              "minimum": 0,
              "type": "integer",
              "format": "int64",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Access-Control-Allow-Headers": {
                "$ref": "#/components/headers/Access-Control-Allow-Headers"
              },
              "Access-Control-Allow-Methods": {
                "$ref": "#/components/headers/Access-Control-Allow-Methods"
              },
              "Access-Control-Allow-Origin": {
                "$ref": "#/components/headers/Access-Control-Allow-Origin"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CursorPagedTestCaseList"
                }
              }
            }
          },
          "default": {
            "description": "An error has occurred. Please check the code and the error message.",
            "headers": {
              "Access-Control-Allow-Headers": {
                "$ref": "#/components/headers/Access-Control-Allow-Headers"
              },
              "Access-Control-Allow-Methods": {
                "$ref": "#/components/headers/Access-Control-Allow-Methods"
              },
              "Access-Control-Allow-Origin": {
                "$ref": "#/components/headers/Access-Control-Allow-Origin"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/testcases/{testCaseKey}": {
      "get": {
        "tags": [
          "Test Cases"
        ],
        "summary": "Get test case",
        "description": "Returns a test case for the given key.",
        "operationId": "getTestCase",
        "parameters": [
          {
            "name": "testCaseKey",
            "in": "path",
            "description": "The key of the test case. Test case keys are of the format [A-Z]+-T[0-9]+",
            "required": true,
            "schema": {
              "pattern": "(.+-T[0-9]+)",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Access-Control-Allow-Headers": {
                "$ref": "#/components/headers/Access-Control-Allow-Headers"
              },
              "Access-Control-Allow-Methods": {
                "$ref": "#/components/headers/Access-Control-Allow-Methods"
              },
              "Access-Control-Allow-Origin": {
                "$ref": "#/components/headers/Access-Control-Allow-Origin"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TestCase"
                }
              }
            }
          },
          "default": {
            "description": "An error has occurred. Please check the code and the error message.",
            "headers": {
              "Access-Control-Allow-Headers": {
                "$ref": "#/components/headers/Access-Control-Allow-Headers"
              },
              "Access-Control-Allow-Methods": {
                "$ref": "#/components/headers/Access-Control-Allow-Methods"
              },
              "Access-Control-Allow-Origin": {
                "$ref": "#/components/headers/Access-Control-Allow-Origin"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Test Cases"
        ],
        "summary": "Update test case",
        "description": "Updates an existing test case.  Please take into account that for each non-specified field the value will be cleared. If the project has test case custom fields, all custom fields should be present in the request. To leave any of them blank, please set them null if they are not required custom fields.\n",
        "operationId": "updateTestCase",
        "parameters": [
          {
            "name": "testCaseKey",
            "in": "path",
            "description": "The key of the test case. Test case keys are of the format [A-Z]+-T[0-9]+",
            "required": true,
            "schema": {
              "pattern": "(.+-T[0-9]+)",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Test Case Update",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TestCase"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Access-Control-Allow-Headers": {
                "$ref": "#/components/headers/Access-Control-Allow-Headers"
              },
              "Access-Control-Allow-Methods": {
                "$ref": "#/components/headers/Access-Control-Allow-Methods"
              },
              "Access-Control-Allow-Origin": {
                "$ref": "#/components/headers/Access-Control-Allow-Origin"
              }
            }
          },
          "default": {
            "description": "An error has occurred. Please check the code and the error message.",
            "headers": {
              "Access-Control-Allow-Headers": {
                "$ref": "#/components/headers/Access-Control-Allow-Headers"
              },
              "Access-Control-Allow-Methods": {
                "$ref": "#/components/headers/Access-Control-Allow-Methods"
              },
              "Access-Control-Allow-Origin": {
                "$ref": "#/components/headers/Access-Control-Allow-Origin"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/testcases/{testCaseKey}/links": {
      "get": {
        "tags": [
          "Test Cases"
        ],
        "summary": "Get links",
        "description": "Returns links for a test case with specified key.",
        "operationId": "getTestCaseLinks",
        "parameters": [
          {
            "name": "testCaseKey",
            "in": "path",
            "description": "The key of the test case. Test case keys are of the format [A-Z]+-T[0-9]+",
            "required": true,
            "schema": {
              "pattern": "(.+-T[0-9]+)",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Access-Control-Allow-Headers": {
                "$ref": "#/components/headers/Access-Control-Allow-Headers"
              },
              "Access-Control-Allow-Methods": {
                "$ref": "#/components/headers/Access-Control-Allow-Methods"
              },
              "Access-Control-Allow-Origin": {
                "$ref": "#/components/headers/Access-Control-Allow-Origin"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TestCaseLinkList"
                }
              }
            }
          },
          "default": {
            "description": "An error has occurred. Please check the code and the error message.",
            "headers": {
              "Access-Control-Allow-Headers": {
                "$ref": "#/components/headers/Access-Control-Allow-Headers"
              },
              "Access-Control-Allow-Methods": {
                "$ref": "#/components/headers/Access-Control-Allow-Methods"
              },
              "Access-Control-Allow-Origin": {
                "$ref": "#/components/headers/Access-Control-Allow-Origin"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/testcases/{testCaseKey}/links/issues": {
      "post": {
        "tags": [
          "Test Cases"
        ],
        "summary": "Create issue link",
        "description": "Creates a link between a test case and a Jira issue.",
        "operationId": "createTestCaseIssueLink",
        "parameters": [
          {
            "name": "testCaseKey",
            "in": "path",
            "description": "The key of the test case. Test case keys are of the format [A-Z]+-T[0-9]+",
            "required": true,
            "schema": {
              "pattern": "(.+-T[0-9]+)",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Issue Link Input",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IssueLinkInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "headers": {
              "Access-Control-Allow-Headers": {
                "$ref": "#/components/headers/Access-Control-Allow-Headers"
              },
              "Access-Control-Allow-Methods": {
                "$ref": "#/components/headers/Access-Control-Allow-Methods"
              },
              "Access-Control-Allow-Origin": {
                "$ref": "#/components/headers/Access-Control-Allow-Origin"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatedResource"
                }
              }
            }
          },
          "default": {
            "description": "An error has occurred. Please check the code and the error message.",
            "headers": {
              "Access-Control-Allow-Headers": {
                "$ref": "#/components/headers/Access-Control-Allow-Headers"
              },
              "Access-Control-Allow-Methods": {
                "$ref": "#/components/headers/Access-Control-Allow-Methods"
              },
              "Access-Control-Allow-Origin": {
                "$ref": "#/components/headers/Access-Control-Allow-Origin"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/testcases/{testCaseKey}/links/weblinks": {
      "post": {
        "tags": [
          "Test Cases"
        ],
        "summary": "Create web link",
        "description": "Creates a link between a test case and a generic URL.",
        "operationId": "createTestCaseWebLink",
        "parameters": [
          {
            "name": "testCaseKey",
            "in": "path",
            "description": "The key of the test case. Test case keys are of the format [A-Z]+-T[0-9]+",
            "required": true,
            "schema": {
              "pattern": "(.+-T[0-9]+)",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Web Link Input",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebLinkInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "headers": {
              "Access-Control-Allow-Headers": {
                "$ref": "#/components/headers/Access-Control-Allow-Headers"
              },
              "Access-Control-Allow-Methods": {
                "$ref": "#/components/headers/Access-Control-Allow-Methods"
              },
              "Access-Control-Allow-Origin": {
                "$ref": "#/components/headers/Access-Control-Allow-Origin"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatedResource"
                }
              }
            }
          },
          "default": {
            "description": "An error has occurred. Please check the code and the error message.",
            "headers": {
              "Access-Control-Allow-Headers": {
                "$ref": "#/components/headers/Access-Control-Allow-Headers"
              },
              "Access-Control-Allow-Methods": {
                "$ref": "#/components/headers/Access-Control-Allow-Methods"
              },
              "Access-Control-Allow-Origin": {
                "$ref": "#/components/headers/Access-Control-Allow-Origin"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/testcases/{testCaseKey}/versions": {
      "get": {
        "tags": [
          "Test Cases"
        ],
        "summary": "Get versions",
        "description": "Returns all test case versions for a test case with specified key. Response is ordered by most recent first.",
        "operationId": "listTestCaseVersions",
        "parameters": [
          {
            "name": "testCaseKey",
            "in": "path",
            "description": "The key of the test case. Test case keys are of the format [A-Z]+-T[0-9]+",
            "required": true,
            "schema": {
              "pattern": "(.+-T[0-9]+)",
              "type": "string"
            }
          },
          {
            "name": "maxResults",
            "in": "query",
            "description": "Specifies the maximum number of results to return in a single call. The default value is 10, and the maximum value that can be requested is 1000.\n\nNote that the server may enforce a lower limit than requested, depending on resource availability or other internal constraints. If this happens, the result set may be truncated. Always check the maxResults value in the response to confirm how many results were actually returned.\n",
            "schema": {
              "minimum": 1,
              "type": "integer",
              "format": "int64",
              "default": 10
            }
          },
          {
            "name": "startAt",
            "in": "query",
            "description": "Zero-indexed starting position. Should be a multiple of maxResults.",
            "schema": {
              "maximum": 1000000,
              "minimum": 0,
              "type": "integer",
              "format": "int64",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Access-Control-Allow-Headers": {
                "$ref": "#/components/headers/Access-Control-Allow-Headers"
              },
              "Access-Control-Allow-Methods": {
                "$ref": "#/components/headers/Access-Control-Allow-Methods"
              },
              "Access-Control-Allow-Origin": {
                "$ref": "#/components/headers/Access-Control-Allow-Origin"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TestCaseVersionLinkList"
                }
              }
            }
          },
          "default": {
            "description": "An error has occurred. Please check the code and the error message.",
            "headers": {
              "Access-Control-Allow-Headers": {
                "$ref": "#/components/headers/Access-Control-Allow-Headers"
              },
              "Access-Control-Allow-Methods": {
                "$ref": "#/components/headers/Access-Control-Allow-Methods"
              },
              "Access-Control-Allow-Origin": {
                "$ref": "#/components/headers/Access-Control-Allow-Origin"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/testcases/{testCaseKey}/versions/{version}": {
      "get": {
        "tags": [
          "Test Cases"
        ],
        "summary": "Get version",
        "description": "Retrieves a specific version of a test case.",
        "operationId": "getTestCaseVersion",
        "parameters": [
          {
            "name": "testCaseKey",
            "in": "path",
            "description": "The key of the test case. Test case keys are of the format [A-Z]+-T[0-9]+",
            "required": true,
            "schema": {
              "pattern": "(.+-T[0-9]+)",
              "type": "string"
            }
          },
          {
            "name": "version",
            "in": "path",
            "description": "Version of the test case to retrieve.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Access-Control-Allow-Headers": {
                "$ref": "#/components/headers/Access-Control-Allow-Headers"
              },
              "Access-Control-Allow-Methods": {
                "$ref": "#/components/headers/Access-Control-Allow-Methods"
              },
              "Access-Control-Allow-Origin": {
                "$ref": "#/components/headers/Access-Control-Allow-Origin"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TestCase"
                }
              }
            }
          },
          "default": {
            "description": "An error has occurred. Please check the code and the error message.",
            "headers": {
              "Access-Control-Allow-Headers": {
                "$ref": "#/components/headers/Access-Control-Allow-Headers"
              },
              "Access-Control-Allow-Methods": {
                "$ref": "#/components/headers/Access-Control-Allow-Methods"
              },
              "Access-Control-Allow-Origin": {
                "$ref": "#/components/headers/Access-Control-Allow-Origin"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/testcases/{testCaseKey}/testscript": {
      "get": {
        "tags": [
          "Test Cases"
        ],
        "summary": "Get test script",
        "description": "Returns the test script for the given test case",
        "operationId": "getTestCaseTestScript",
        "parameters": [
          {
            "name": "testCaseKey",
            "in": "path",
            "description": "The key of the test case. Test case keys are of the format [A-Z]+-T[0-9]+",
            "required": true,
            "schema": {
              "pattern": "(.+-T[0-9]+)",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Access-Control-Allow-Headers": {
                "$ref": "#/components/headers/Access-Control-Allow-Headers"
              },
              "Access-Control-Allow-Methods": {
                "$ref": "#/components/headers/Access-Control-Allow-Methods"
              },
              "Access-Control-Allow-Origin": {
                "$ref": "#/components/headers/Access-Control-Allow-Origin"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TestScript"
                }
              }
            }
          },
          "default": {
            "description": "An error has occurred. Please check the code and the error message.",
            "headers": {
              "Access-Control-Allow-Headers": {
                "$ref": "#/components/headers/Access-Control-Allow-Headers"
              },
              "Access-Control-Allow-Methods": {
                "$ref": "#/components/headers/Access-Control-Allow-Methods"
              },
              "Access-Control-Allow-Origin": {
                "$ref": "#/components/headers/Access-Control-Allow-Origin"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Test Cases"
        ],
        "summary": "Create test script",
        "description": "Creates or updates the test script for a test case. If the test case currently has a sequence of test steps assigned to it, these will be implicitly removed.",
        "operationId": "createTestCaseTestScript",
        "parameters": [
          {
            "name": "testCaseKey",
            "in": "path",
            "description": "The key of the test case. Test case keys are of the format [A-Z]+-T[0-9]+",
            "required": true,
            "schema": {
              "pattern": "(.+-T[0-9]+)",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Test Script Input",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TestScriptInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "headers": {
              "Access-Control-Allow-Headers": {
                "$ref": "#/components/headers/Access-Control-Allow-Headers"
              },
              "Access-Control-Allow-Methods": {
                "$ref": "#/components/headers/Access-Control-Allow-Methods"
              },
              "Access-Control-Allow-Origin": {
                "$ref": "#/components/headers/Access-Control-Allow-Origin"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatedResource"
                }
              }
            }
          },
          "default": {
            "description": "An error has occurred. Please check the code and the error message.",
            "headers": {
              "Access-Control-Allow-Headers": {
                "$ref": "#/components/headers/Access-Control-Allow-Headers"
              },
              "Access-Control-Allow-Methods": {
                "$ref": "#/components/headers/Access-Control-Allow-Methods"
              },
              "Access-Control-Allow-Origin": {
                "$ref": "#/components/headers/Access-Control-Allow-Origin"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/testcases/{testCaseKey}/teststeps": {
      "get": {
        "tags": [
          "Test Cases"
        ],
        "summary": "Get test steps",
        "description": "Returns the test steps for the given test case. Provides a paged response, with 100 items per page.",
        "operationId": "getTestCaseTestSteps",
        "parameters": [
          {
            "name": "testCaseKey",
            "in": "path",
            "description": "The key of the test case. Test case keys are of the format [A-Z]+-T[0-9]+",
            "required": true,
            "schema": {
              "pattern": "(.+-T[0-9]+)",
              "type": "string"
            }
          },
          {
            "name": "maxResults",
            "in": "query",
            "description": "Specifies the maximum number of results to return in a single call. The default value is 10, and the maximum value that can be requested is 1000.\n\nNote that the server may enforce a lower limit than requested, depending on resource availability or other internal constraints. If this happens, the result set may be truncated. Always check the maxResults value in the response to confirm how many results were actually returned.\n",
            "schema": {
              "minimum": 1,
              "type": "integer",
              "format": "int64",
              "default": 10
            }
          },
          {
            "name": "startAt",
            "in": "query",
            "description": "Zero-indexed starting position. Should be a multiple of maxResults.",
            "schema": {
              "maximum": 1000000,
              "minimum": 0,
              "type": "integer",
              "format": "int64",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Access-Control-Allow-Headers": {
                "$ref": "#/components/headers/Access-Control-Allow-Headers"
              },
              "Access-Control-Allow-Methods": {
                "$ref": "#/components/headers/Access-Control-Allow-Methods"
              },
              "Access-Control-Allow-Origin": {
                "$ref": "#/components/headers/Access-Control-Allow-Origin"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TestStepsList"
                }
              }
            }
          },
          "default": {
            "description": "An error has occurred. Please check the code and the error message.",
            "headers": {
              "Access-Control-Allow-Headers": {
                "$ref": "#/components/headers/Access-Control-Allow-Headers"
              },
              "Access-Control-Allow-Methods": {
                "$ref": "#/components/headers/Access-Control-Allow-Methods"
              },
              "Access-Control-Allow-Origin": {
                "$ref": "#/components/headers/Access-Control-Allow-Origin"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Test Cases"
        ],
        "summary": "Post test steps",
        "description": "Assigns a series of test steps to a test case, appending them to any existing sequence of test steps. A maximum of 100 steps can be posted per request. Consumers should not attempt to parallelize this operation, as the order of the steps is defined by the input order. If this endpoint is called on a test case that already has a plain text or BDD test script, that test script will implicitly be removed. All required step custom fields should be present in the request.\n",
        "operationId": "createTestCaseTestSteps",
        "parameters": [
          {
            "name": "testCaseKey",
            "in": "path",
            "description": "The key of the test case. Test case keys are of the format [A-Z]+-T[0-9]+",
            "required": true,
            "schema": {
              "pattern": "(.+-T[0-9]+)",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Test Step Input",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TestStepsInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "headers": {
              "Access-Control-Allow-Headers": {
                "$ref": "#/components/headers/Access-Control-Allow-Headers"
              },
              "Access-Control-Allow-Methods": {
                "$ref": "#/components/headers/Access-Control-Allow-Methods"
              },
              "Access-Control-Allow-Origin": {
                "$ref": "#/components/headers/Access-Control-Allow-Origin"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatedResource"
                }
              }
            }
          },
          "default": {
            "description": "An error has occurred. Please check the code and the error message.",
            "headers": {
              "Access-Control-Allow-Headers": {
                "$ref": "#/components/headers/Access-Control-Allow-Headers"
              },
              "Access-Control-Allow-Methods": {
                "$ref": "#/components/headers/Access-Control-Allow-Methods"
              },
              "Access-Control-Allow-Origin": {
                "$ref": "#/components/headers/Access-Control-Allow-Origin"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/testcycles": {
      "get": {
        "tags": [
          "Test Cycles"
        ],
        "summary": "Get test cycles",
        "description": "Returns all test cycles. Query parameters can be used to filter by project and folder.",
        "operationId": "listTestCycles",
        "parameters": [
          {
            "name": "projectKey",
            "in": "query",
            "description": "Jira project key filter",
            "schema": {
              "pattern": "([A-Z][A-Z_0-9]+)",
              "type": "string"
            }
          },
          {
            "name": "folderId",
            "in": "query",
            "description": "Folder ID filter",
            "schema": {
              "minimum": 1,
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "jiraProjectVersionId",
            "in": "query",
            "description": "Jira Project Version ID. Relates to 'Version' or 'Releases' in Jira projects.",
            "schema": {
              "minimum": 1,
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "maxResults",
            "in": "query",
            "description": "Specifies the maximum number of results to return in a single call. The default value is 10, and the maximum value that can be requested is 1000.\n\nNote that the server may enforce a lower limit than requested, depending on resource availability or other internal constraints. If this happens, the result set may be truncated. Always check the maxResults value in the response to confirm how many results were actually returned.\n",
            "schema": {
              "minimum": 1,
              "type": "integer",
              "format": "int64",
              "default": 10
            }
          },
          {
            "name": "startAt",
            "in": "query",
            "description": "Zero-indexed starting position. Should be a multiple of maxResults.",
            "schema": {
              "maximum": 1000000,
              "minimum": 0,
              "type": "integer",
              "format": "int64",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Access-Control-Allow-Headers": {
                "$ref": "#/components/headers/Access-Control-Allow-Headers"
              },
              "Access-Control-Allow-Methods": {
                "$ref": "#/components/headers/Access-Control-Allow-Methods"
              },
              "Access-Control-Allow-Origin": {
                "$ref": "#/components/headers/Access-Control-Allow-Origin"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TestCycleList"
                }
              }
            }
          },
          "default": {
            "description": "An error has occurred. Please check the code and the error message.",
            "headers": {
              "Access-Control-Allow-Headers": {
                "$ref": "#/components/headers/Access-Control-Allow-Headers"
              },
              "Access-Control-Allow-Methods": {
                "$ref": "#/components/headers/Access-Control-Allow-Methods"
              },
              "Access-Control-Allow-Origin": {
                "$ref": "#/components/headers/Access-Control-Allow-Origin"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Test Cycles"
        ],
        "summary": "Create a Test Cycle",
        "description": "Creates a Test Cycle. All required test cycle custom fields should be present in the request.",
        "operationId": "createTestCycle",
        "requestBody": {
          "description": "Test Cycle Input",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TestCycleInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "headers": {
              "Access-Control-Allow-Headers": {
                "$ref": "#/components/headers/Access-Control-Allow-Headers"
              },
              "Access-Control-Allow-Methods": {
                "$ref": "#/components/headers/Access-Control-Allow-Methods"
              },
              "Access-Control-Allow-Origin": {
                "$ref": "#/components/headers/Access-Control-Allow-Origin"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KeyedCreatedResource"
                }
              }
            }
          },
          "default": {
            "description": "An error has occurred. Please check the code and the error message.",
            "headers": {
              "Access-Control-Allow-Headers": {
                "$ref": "#/components/headers/Access-Control-Allow-Headers"
              },
              "Access-Control-Allow-Methods": {
                "$ref": "#/components/headers/Access-Control-Allow-Methods"
              },
              "Access-Control-Allow-Origin": {
                "$ref": "#/components/headers/Access-Control-Allow-Origin"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/testcycles/{testCycleIdOrKey}": {
      "get": {
        "tags": [
          "Test Cycles"
        ],
        "summary": "Get test cycle",
        "description": "Returns a test cycle for the given key.",
        "operationId": "getTestCycle",
        "parameters": [
          {
            "name": "testCycleIdOrKey",
            "in": "path",
            "description": "The ID or key of the test cycle.",
            "required": true,
            "schema": {
              "pattern": "([0-9]+)|([A-Z][A-Z_0-9]+-R[0-9]+)",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Access-Control-Allow-Headers": {
                "$ref": "#/components/headers/Access-Control-Allow-Headers"
              },
              "Access-Control-Allow-Methods": {
                "$ref": "#/components/headers/Access-Control-Allow-Methods"
              },
              "Access-Control-Allow-Origin": {
                "$ref": "#/components/headers/Access-Control-Allow-Origin"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TestCycle"
                }
              }
            }
          },
          "default": {
            "description": "An error has occurred. Please check the code and the error message.",
            "headers": {
              "Access-Control-Allow-Headers": {
                "$ref": "#/components/headers/Access-Control-Allow-Headers"
              },
              "Access-Control-Allow-Methods": {
                "$ref": "#/components/headers/Access-Control-Allow-Methods"
              },
              "Access-Control-Allow-Origin": {
                "$ref": "#/components/headers/Access-Control-Allow-Origin"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Test Cycles"
        ],
        "summary": "Update test cycle",
        "description": "Updates an existing test cycle.  Please take into account that for each non-specified field the value will be cleared. If the project has test cycle custom fields, all custom fields should be present in the request. To leave any of them blank, please set them null if they are not required custom fields.\n",
        "operationId": "updateTestCycle",
        "parameters": [
          {
            "name": "testCycleIdOrKey",
            "in": "path",
            "description": "The ID or key of the test cycle.",
            "required": true,
            "schema": {
              "pattern": "([0-9]+)|([A-Z][A-Z_0-9]+-R[0-9]+)",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Test Cycle Update",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TestCycle"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Access-Control-Allow-Headers": {
                "$ref": "#/components/headers/Access-Control-Allow-Headers"
              },
              "Access-Control-Allow-Methods": {
                "$ref": "#/components/headers/Access-Control-Allow-Methods"
              },
              "Access-Control-Allow-Origin": {
                "$ref": "#/components/headers/Access-Control-Allow-Origin"
              },
              "location": {
                "description": "URL of the updated Test Cycle",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "url"
                }
              }
            }
          },
          "default": {
            "description": "An error has occurred. Please check the code and the error message.",
            "headers": {
              "Access-Control-Allow-Headers": {
                "$ref": "#/components/headers/Access-Control-Allow-Headers"
              },
              "Access-Control-Allow-Methods": {
                "$ref": "#/components/headers/Access-Control-Allow-Methods"
              },
              "Access-Control-Allow-Origin": {
                "$ref": "#/components/headers/Access-Control-Allow-Origin"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/testcycles/{testCycleIdOrKey}/links": {
      "get": {
        "tags": [
          "Test Cycles"
        ],
        "summary": "Get links",
        "description": "Returns links for a test cycle with specified key.",
        "operationId": "getTestCycleLinks",
        "parameters": [
          {
            "name": "testCycleIdOrKey",
            "in": "path",
            "description": "The ID or key of the test cycle.",
            "required": true,
            "schema": {
              "pattern": "([0-9]+)|([A-Z][A-Z_0-9]+-R[0-9]+)",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Access-Control-Allow-Headers": {
                "$ref": "#/components/headers/Access-Control-Allow-Headers"
              },
              "Access-Control-Allow-Methods": {
                "$ref": "#/components/headers/Access-Control-Allow-Methods"
              },
              "Access-Control-Allow-Origin": {
                "$ref": "#/components/headers/Access-Control-Allow-Origin"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TestCycleLinkList"
                }
              }
            }
          },
          "default": {
            "description": "An error has occurred. Please check the code and the error message.",
            "headers": {
              "Access-Control-Allow-Headers": {
                "$ref": "#/components/headers/Access-Control-Allow-Headers"
              },
              "Access-Control-Allow-Methods": {
                "$ref": "#/components/headers/Access-Control-Allow-Methods"
              },
              "Access-Control-Allow-Origin": {
                "$ref": "#/components/headers/Access-Control-Allow-Origin"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/testcycles/{testCycleIdOrKey}/links/issues": {
      "post": {
        "tags": [
          "Test Cycles"
        ],
        "summary": "Create issue link",
        "description": "Creates a link between a test cycle and a Jira issue.",
        "operationId": "createTestCycleIssueLink",
        "parameters": [
          {
            "name": "testCycleIdOrKey",
            "in": "path",
            "description": "The ID or key of the test cycle.",
            "required": true,
            "schema": {
              "pattern": "([0-9]+)|([A-Z][A-Z_0-9]+-R[0-9]+)",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Issue Link Input",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IssueLinkInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "headers": {
              "Access-Control-Allow-Headers": {
                "$ref": "#/components/headers/Access-Control-Allow-Headers"
              },
              "Access-Control-Allow-Methods": {
                "$ref": "#/components/headers/Access-Control-Allow-Methods"
              },
              "Access-Control-Allow-Origin": {
                "$ref": "#/components/headers/Access-Control-Allow-Origin"
              },
              "location": {
                "description": "URL of the created link",
                "schema": {
                  "type": "string",
                  "format": "url"
                }
              }
            }
          },
          "default": {
            "description": "An error has occurred. Please check the code and the error message.",
            "headers": {
              "Access-Control-Allow-Headers": {
                "$ref": "#/components/headers/Access-Control-Allow-Headers"
              },
              "Access-Control-Allow-Methods": {
                "$ref": "#/components/headers/Access-Control-Allow-Methods"
              },
              "Access-Control-Allow-Origin": {
                "$ref": "#/components/headers/Access-Control-Allow-Origin"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/testcycles/{testCycleIdOrKey}/links/weblinks": {
      "post": {
        "tags": [
          "Test Cycles"
        ],
        "summary": "Create web link",
        "description": "Creates a link between a test cycle and a generic URL.",
        "operationId": "createTestCycleWebLink",
        "parameters": [
          {
            "name": "testCycleIdOrKey",
            "in": "path",
            "description": "The ID or key of the test cycle.",
            "required": true,
            "schema": {
              "pattern": "([0-9]+)|([A-Z][A-Z_0-9]+-R[0-9]+)",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Web Link Input",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebLinkInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "headers": {
              "Access-Control-Allow-Headers": {
                "$ref": "#/components/headers/Access-Control-Allow-Headers"
              },
              "Access-Control-Allow-Methods": {
                "$ref": "#/components/headers/Access-Control-Allow-Methods"
              },
              "Access-Control-Allow-Origin": {
                "$ref": "#/components/headers/Access-Control-Allow-Origin"
              },
              "location": {
                "description": "URL of the created link",
                "schema": {
                  "type": "string",
                  "format": "url"
                }
              }
            }
          },
          "default": {
            "description": "An error has occurred. Please check the code and the error message.",
            "headers": {
              "Access-Control-Allow-Headers": {
                "$ref": "#/components/headers/Access-Control-Allow-Headers"
              },
              "Access-Control-Allow-Methods": {
                "$ref": "#/components/headers/Access-Control-Allow-Methods"
              },
              "Access-Control-Allow-Origin": {
                "$ref": "#/components/headers/Access-Control-Allow-Origin"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/testplans": {
      "get": {
        "tags": [
          "Test Plans"
        ],
        "summary": "Get test plans",
        "description": "Retrieves all test plans. Query parameters can be used to filter the results.",
        "operationId": "listTestPlans",
        "parameters": [
          {
            "name": "projectKey",
            "in": "query",
            "description": "Jira project key filter",
            "schema": {
              "pattern": "([A-Z][A-Z_0-9]+)",
              "type": "string"
            }
          },
          {
            "name": "maxResults",
            "in": "query",
            "description": "Specifies the maximum number of results to return in a single call. The default value is 10, and the maximum value that can be requested is 1000.\n\nNote that the server may enforce a lower limit than requested, depending on resource availability or other internal constraints. If this happens, the result set may be truncated. Always check the maxResults value in the response to confirm how many results were actually returned.\n",
            "schema": {
              "minimum": 1,
              "type": "integer",
              "format": "int64",
              "default": 10
            }
          },
          {
            "name": "startAt",
            "in": "query",
            "description": "Zero-indexed starting position. Should be a multiple of maxResults.",
            "schema": {
              "maximum": 1000000,
              "minimum": 0,
              "type": "integer",
              "format": "int64",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Access-Control-Allow-Headers": {
                "$ref": "#/components/headers/Access-Control-Allow-Headers"
              },
              "Access-Control-Allow-Methods": {
                "$ref": "#/components/headers/Access-Control-Allow-Methods"
              },
              "Access-Control-Allow-Origin": {
                "$ref": "#/components/headers/Access-Control-Allow-Origin"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TestPlanList"
                }
              }
            }
          },
          "default": {
            "description": "An error has occurred. Please check the code and the error message.",
            "headers": {
              "Access-Control-Allow-Headers": {
                "$ref": "#/components/headers/Access-Control-Allow-Headers"
              },
              "Access-Control-Allow-Methods": {
                "$ref": "#/components/headers/Access-Control-Allow-Methods"
              },
              "Access-Control-Allow-Origin": {
                "$ref": "#/components/headers/Access-Control-Allow-Origin"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Test Plans"
        ],
        "summary": "Create test plan",
        "description": "Creates a test plan. All required test plan custom fields should be present in the request.",
        "operationId": "createTestPlan",
        "requestBody": {
          "description": "Test Case Input",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TestPlanInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "headers": {
              "Access-Control-Allow-Headers": {
                "$ref": "#/components/headers/Access-Control-Allow-Headers"
              },
              "Access-Control-Allow-Methods": {
                "$ref": "#/components/headers/Access-Control-Allow-Methods"
              },
              "Access-Control-Allow-Origin": {
                "$ref": "#/components/headers/Access-Control-Allow-Origin"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KeyedCreatedResource"
                }
              }
            }
          },
          "default": {
            "description": "An error has occurred. Please check the code and the error message.",
            "headers": {
              "Access-Control-Allow-Headers": {
                "$ref": "#/components/headers/Access-Control-Allow-Headers"
              },
              "Access-Control-Allow-Methods": {
                "$ref": "#/components/headers/Access-Control-Allow-Methods"
              },
              "Access-Control-Allow-Origin": {
                "$ref": "#/components/headers/Access-Control-Allow-Origin"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/testplans/{testPlanIdOrKey}": {
      "get": {
        "tags": [
          "Test Plans"
        ],
        "summary": "Get test plan",
        "description": "Returns a test plan for the given id or key.",
        "operationId": "getTestPlan",
        "parameters": [
          {
            "name": "testPlanIdOrKey",
            "in": "path",
            "description": "The ID or key of the test plan. Test plan keys are of the format [A-Z]+-P[0-9]+",
            "required": true,
            "schema": {
              "pattern": "([0-9]+)|(.+-P[0-9]+)",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Access-Control-Allow-Headers": {
                "$ref": "#/components/headers/Access-Control-Allow-Headers"
              },
              "Access-Control-Allow-Methods": {
                "$ref": "#/components/headers/Access-Control-Allow-Methods"
              },
              "Access-Control-Allow-Origin": {
                "$ref": "#/components/headers/Access-Control-Allow-Origin"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TestPlan"
                }
              }
            }
          },
          "default": {
            "description": "An error has occurred. Please check the code and the error message.",
            "headers": {
              "Access-Control-Allow-Headers": {
                "$ref": "#/components/headers/Access-Control-Allow-Headers"
              },
              "Access-Control-Allow-Methods": {
                "$ref": "#/components/headers/Access-Control-Allow-Methods"
              },
              "Access-Control-Allow-Origin": {
                "$ref": "#/components/headers/Access-Control-Allow-Origin"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/testplans/{testPlanIdOrKey}/links/weblinks": {
      "post": {
        "tags": [
          "Test Plans"
        ],
        "summary": "Create web link",
        "description": "Creates a link between a test plan and a generic URL.",
        "operationId": "createTestPlanWebLink",
        "parameters": [
          {
            "name": "testPlanIdOrKey",
            "in": "path",
            "description": "The ID or key of the test plan. Test plan keys are of the format [A-Z]+-P[0-9]+",
            "required": true,
            "schema": {
              "pattern": "([0-9]+)|(.+-P[0-9]+)",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Web Link Input",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebLinkInputWithMandatoryDescription"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "headers": {
              "Access-Control-Allow-Headers": {
                "$ref": "#/components/headers/Access-Control-Allow-Headers"
              },
              "Access-Control-Allow-Methods": {
                "$ref": "#/components/headers/Access-Control-Allow-Methods"
              },
              "Access-Control-Allow-Origin": {
                "$ref": "#/components/headers/Access-Control-Allow-Origin"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatedResource"
                }
              }
            }
          },
          "default": {
            "description": "An error has occurred. Please check the code and the error message.",
            "headers": {
              "Access-Control-Allow-Headers": {
                "$ref": "#/components/headers/Access-Control-Allow-Headers"
              },
              "Access-Control-Allow-Methods": {
                "$ref": "#/components/headers/Access-Control-Allow-Methods"
              },
              "Access-Control-Allow-Origin": {
                "$ref": "#/components/headers/Access-Control-Allow-Origin"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/testplans/{testPlanIdOrKey}/links/issues": {
      "post": {
        "tags": [
          "Test Plans"
        ],
        "summary": "Create issue link",
        "description": "Creates a link between a test plan and a Jira issue.",
        "operationId": "createTestPlanIssueLink",
        "parameters": [
          {
            "name": "testPlanIdOrKey",
            "in": "path",
            "description": "The ID or key of the test plan. Test plan keys are of the format [A-Z]+-P[0-9]+",
            "required": true,
            "schema": {
              "pattern": "([0-9]+)|(.+-P[0-9]+)",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Issue Link Input",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IssueLinkInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "headers": {
              "Access-Control-Allow-Headers": {
                "$ref": "#/components/headers/Access-Control-Allow-Headers"
              },
              "Access-Control-Allow-Methods": {
                "$ref": "#/components/headers/Access-Control-Allow-Methods"
              },
              "Access-Control-Allow-Origin": {
                "$ref": "#/components/headers/Access-Control-Allow-Origin"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatedResource"
                }
              }
            }
          },
          "default": {
            "description": "An error has occurred. Please check the code and the error message.",
            "headers": {
              "Access-Control-Allow-Headers": {
                "$ref": "#/components/headers/Access-Control-Allow-Headers"
              },
              "Access-Control-Allow-Methods": {
                "$ref": "#/components/headers/Access-Control-Allow-Methods"
              },
              "Access-Control-Allow-Origin": {
                "$ref": "#/components/headers/Access-Control-Allow-Origin"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/testplans/{testPlanIdOrKey}/links/testcycles": {
      "post": {
        "tags": [
          "Test Plans"
        ],
        "summary": "Create test cycle link",
        "description": "Creates a link between a test plan and a test cycle.",
        "operationId": "createTestPlanTestCycleLink",
        "parameters": [
          {
            "name": "testPlanIdOrKey",
            "in": "path",
            "description": "The ID or key of the test plan. Test plan keys are of the format [A-Z]+-P[0-9]+",
            "required": true,
            "schema": {
              "pattern": "([0-9]+)|(.+-P[0-9]+)",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Test Cycle Link Input",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TestPlanTestCycleLinkInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "headers": {
              "Access-Control-Allow-Headers": {
                "$ref": "#/components/headers/Access-Control-Allow-Headers"
              },
              "Access-Control-Allow-Methods": {
                "$ref": "#/components/headers/Access-Control-Allow-Methods"
              },
              "Access-Control-Allow-Origin": {
                "$ref": "#/components/headers/Access-Control-Allow-Origin"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatedResource"
                }
              }
            }
          },
          "default": {
            "description": "An error has occurred. Please check the code and the error message.",
            "headers": {
              "Access-Control-Allow-Headers": {
                "$ref": "#/components/headers/Access-Control-Allow-Headers"
              },
              "Access-Control-Allow-Methods": {
                "$ref": "#/components/headers/Access-Control-Allow-Methods"
              },
              "Access-Control-Allow-Origin": {
                "$ref": "#/components/headers/Access-Control-Allow-Origin"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/testexecutions": {
      "get": {
        "tags": [
          "Test Executions"
        ],
        "summary": "Get test executions",
        "description": "Returns all test executions. Query parameters can be used to filter by project and folder.",
        "operationId": "listTestExecutions",
        "parameters": [
          {
            "name": "projectKey",
            "in": "query",
            "description": "Jira project key filter",
            "schema": {
              "pattern": "([A-Z][A-Z_0-9]+)",
              "type": "string"
            }
          },
          {
            "name": "testCycle",
            "in": "query",
            "description": "Test cycle key filter.",
            "schema": {
              "pattern": "([A-Z][A-Z_0-9]+-R[0-9]+)",
              "type": "string"
            }
          },
          {
            "name": "testCase",
            "in": "query",
            "description": "Test case key filter.",
            "schema": {
              "pattern": "([0-9]+)|(.+-T[0-9]+)",
              "type": "string"
            }
          },
          {
            "name": "actualEndDateAfter",
            "in": "query",
            "description": "Filter for 'Actual End Date' after the given time. Format: yyyy-MM-dd'T'HH:mm:ss'Z'",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "actualEndDateBefore",
            "in": "query",
            "description": "Filter for 'Actual End Date' before the given time. Format: yyyy-MM-dd'T'HH:mm:ss'Z'",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "includeStepLinks",
            "in": "query",
            "description": "If true, execution step issue links will be included in the response",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "jiraProjectVersionId",
            "in": "query",
            "description": "Jira Project Version ID. Relates to 'Version' or 'Releases' in Jira projects.",
            "schema": {
              "minimum": 1,
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "onlyLastExecutions",
            "in": "query",
            "description": "If true, includes only the last execution of each test cycle item (test case), and all ad-hoc test executions.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "maxResults",
            "in": "query",
            "description": "Specifies the maximum number of results to return in a single call. The default value is 10, and the maximum value that can be requested is 1000.\n\nNote that the server may enforce a lower limit than requested, depending on resource availability or other internal constraints. If this happens, the result set may be truncated. Always check the maxResults value in the response to confirm how many results were actually returned.\n",
            "schema": {
              "minimum": 1,
              "type": "integer",
              "format": "int64",
              "default": 10
            }
          },
          {
            "name": "startAt",
            "in": "query",
            "description": "Zero-indexed starting position. Should be a multiple of maxResults.",
            "schema": {
              "maximum": 1000000,
              "minimum": 0,
              "type": "integer",
              "format": "int64",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Access-Control-Allow-Headers": {
                "$ref": "#/components/headers/Access-Control-Allow-Headers"
              },
              "Access-Control-Allow-Methods": {
                "$ref": "#/components/headers/Access-Control-Allow-Methods"
              },
              "Access-Control-Allow-Origin": {
                "$ref": "#/components/headers/Access-Control-Allow-Origin"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TestExecutionList"
                }
              }
            }
          },
          "default": {
            "description": "An error has occurred. Please check the code and the error message.",
            "headers": {
              "Access-Control-Allow-Headers": {
                "$ref": "#/components/headers/Access-Control-Allow-Headers"
              },
              "Access-Control-Allow-Methods": {
                "$ref": "#/components/headers/Access-Control-Allow-Methods"
              },
              "Access-Control-Allow-Origin": {
                "$ref": "#/components/headers/Access-Control-Allow-Origin"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Test Executions"
        ],
        "summary": "Create test execution",
        "description": "Creates a test execution. All required test execution custom fields should be present in the request.",
        "operationId": "createTestExecution",
        "requestBody": {
          "description": "Web Link Input",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TestExecutionInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "headers": {
              "Access-Control-Allow-Headers": {
                "$ref": "#/components/headers/Access-Control-Allow-Headers"
              },
              "Access-Control-Allow-Methods": {
                "$ref": "#/components/headers/Access-Control-Allow-Methods"
              },
              "Access-Control-Allow-Origin": {
                "$ref": "#/components/headers/Access-Control-Allow-Origin"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatedResource"
                }
              }
            }
          },
          "default": {
            "description": "An error has occurred. Please check the code and the error message.",
            "headers": {
              "Access-Control-Allow-Headers": {
                "$ref": "#/components/headers/Access-Control-Allow-Headers"
              },
              "Access-Control-Allow-Methods": {
                "$ref": "#/components/headers/Access-Control-Allow-Methods"
              },
              "Access-Control-Allow-Origin": {
                "$ref": "#/components/headers/Access-Control-Allow-Origin"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/testexecutions/nextgen": {
      "get": {
        "tags": [
          "Test Executions"
        ],
        "summary": "Get test executions (NextGen)",
        "description": "Retrieves all test executions. Query parameters can be used to filter the results. \n\nUse this endpoint for retrieving large volumes of test executions.\n\nResults are split into separate pages, each of the same size as the `limit` query parameter. \nTo fetch the next page, use the `next` URL returned in the response. \nIt should have the same parameters as the original request, with the updated value for `startAtId` parameter.\nAlternatively, the same request can be made with the `startAtId` parameter set to the `nextStartId` value \nreturned in the response.\n",
        "operationId": "listTestExecutionsNextgen",
        "parameters": [
          {
            "name": "projectKey",
            "in": "query",
            "description": "Jira project key filter",
            "schema": {
              "pattern": "([A-Z][A-Z_0-9]+)",
              "type": "string"
            }
          },
          {
            "name": "testCycle",
            "in": "query",
            "description": "Test cycle key filter.",
            "schema": {
              "pattern": "([A-Z][A-Z_0-9]+-R[0-9]+)",
              "type": "string"
            }
          },
          {
            "name": "testCase",
            "in": "query",
            "description": "Test case key filter.",
            "schema": {
              "pattern": "([0-9]+)|(.+-T[0-9]+)",
              "type": "string"
            }
          },
          {
            "name": "actualEndDateAfter",
            "in": "query",
            "description": "Filter for 'Actual End Date' after the given time. Format: yyyy-MM-dd'T'HH:mm:ss'Z'",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "actualEndDateBefore",
            "in": "query",
            "description": "Filter for 'Actual End Date' before the given time. Format: yyyy-MM-dd'T'HH:mm:ss'Z'",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "includeStepLinks",
            "in": "query",
            "description": "If true, execution step issue links will be included in the response",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "jiraProjectVersionId",
            "in": "query",
            "description": "Jira Project Version ID. Relates to 'Version' or 'Releases' in Jira projects.",
            "schema": {
              "minimum": 1,
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "onlyLastExecutions",
            "in": "query",
            "description": "If true, includes only the last execution of each test cycle item (test case), and all ad-hoc test executions.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Specifies the maximum number of results to return in a single call. The default value is 10, and the maximum value that can be requested is 1000.\n\nNote that the server may enforce a lower limit than requested, depending on resource availability or other internal constraints. If this happens, the result set may be truncated. Always check the limit value in the response to confirm how many results were actually returned.\n",
            "schema": {
              "maximum": 1000,
              "minimum": 1,
              "type": "integer",
              "format": "int64",
              "default": 10
            }
          },
          {
            "name": "startAtId",
            "in": "query",
            "description": "Zero-indexed starting position for ID-based pagination.",
            "schema": {
              "minimum": 0,
              "type": "integer",
              "format": "int64",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Access-Control-Allow-Headers": {
                "$ref": "#/components/headers/Access-Control-Allow-Headers"
              },
              "Access-Control-Allow-Methods": {
                "$ref": "#/components/headers/Access-Control-Allow-Methods"
              },
              "Access-Control-Allow-Origin": {
                "$ref": "#/components/headers/Access-Control-Allow-Origin"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CursorPagedTestExecutionList"
                }
              }
            }
          },
          "default": {
            "description": "An error has occurred. Please check the code and the error message.",
            "headers": {
              "Access-Control-Allow-Headers": {
                "$ref": "#/components/headers/Access-Control-Allow-Headers"
              },
              "Access-Control-Allow-Methods": {
                "$ref": "#/components/headers/Access-Control-Allow-Methods"
              },
              "Access-Control-Allow-Origin": {
                "$ref": "#/components/headers/Access-Control-Allow-Origin"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/testexecutions/{testExecutionIdOrKey}": {
      "get": {
        "tags": [
          "Test Executions"
        ],
        "summary": "Get test execution",
        "description": "Returns a test execution for the given ID.",
        "operationId": "getTestExecution",
        "parameters": [
          {
            "name": "testExecutionIdOrKey",
            "in": "path",
            "description": "The ID or key of the test execution. Test execution keys are of the format [A-Z]+-E[0-9]+",
            "required": true,
            "schema": {
              "pattern": "([0-9]+)|(.+-E[0-9]+)",
              "type": "string"
            }
          },
          {
            "name": "includeStepLinks",
            "in": "query",
            "description": "If true, execution step issue links will be included in the response",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Access-Control-Allow-Headers": {
                "$ref": "#/components/headers/Access-Control-Allow-Headers"
              },
              "Access-Control-Allow-Methods": {
                "$ref": "#/components/headers/Access-Control-Allow-Methods"
              },
              "Access-Control-Allow-Origin": {
                "$ref": "#/components/headers/Access-Control-Allow-Origin"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TestExecution"
                }
              }
            }
          },
          "default": {
            "description": "An error has occurred. Please check the code and the error message.",
            "headers": {
              "Access-Control-Allow-Headers": {
                "$ref": "#/components/headers/Access-Control-Allow-Headers"
              },
              "Access-Control-Allow-Methods": {
                "$ref": "#/components/headers/Access-Control-Allow-Methods"
              },
              "Access-Control-Allow-Origin": {
                "$ref": "#/components/headers/Access-Control-Allow-Origin"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Test Executions"
        ],
        "summary": "Update test execution",
        "description": "Update the test execution.",
        "operationId": "updateTestExecution",
        "parameters": [
          {
            "name": "testExecutionIdOrKey",
            "in": "path",
            "description": "The ID or key of the test execution. Test execution keys are of the format [A-Z]+-E[0-9]+",
            "required": true,
            "schema": {
              "pattern": "([0-9]+)|(.+-E[0-9]+)",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Test Execution Update",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TestExecutionUpdate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Access-Control-Allow-Headers": {
                "$ref": "#/components/headers/Access-Control-Allow-Headers"
              },
              "Access-Control-Allow-Methods": {
                "$ref": "#/components/headers/Access-Control-Allow-Methods"
              },
              "Access-Control-Allow-Origin": {
                "$ref": "#/components/headers/Access-Control-Allow-Origin"
              },
              "location": {
                "description": "URL of the updated Test Execution",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "url"
                }
              }
            }
          },
          "default": {
            "description": "An error has occurred. Please check the code and the error message.",
            "headers": {
              "Access-Control-Allow-Headers": {
                "$ref": "#/components/headers/Access-Control-Allow-Headers"
              },
              "Access-Control-Allow-Methods": {
                "$ref": "#/components/headers/Access-Control-Allow-Methods"
              },
              "Access-Control-Allow-Origin": {
                "$ref": "#/components/headers/Access-Control-Allow-Origin"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/testexecutions/{testExecutionIdOrKey}/teststeps": {
      "get": {
        "tags": [
          "Test Executions"
        ],
        "summary": "Get test steps",
        "description": "Returns the test steps for the given test execution. Provides a paged response.",
        "operationId": "getTestExecutionTestSteps",
        "parameters": [
          {
            "name": "testExecutionIdOrKey",
            "in": "path",
            "description": "The ID or key of the test execution. Test execution keys are of the format [A-Z]+-E[0-9]+",
            "required": true,
            "schema": {
              "pattern": "([0-9]+)|(.+-E[0-9]+)",
              "type": "string"
            }
          },
          {
            "name": "maxResults",
            "in": "query",
            "description": "Specifies the maximum number of results to return in a single call. The default value is 10, and the maximum value that can be requested is 1000.\n\nNote that the server may enforce a lower limit than requested, depending on resource availability or other internal constraints. If this happens, the result set may be truncated. Always check the maxResults value in the response to confirm how many results were actually returned.\n",
            "schema": {
              "minimum": 1,
              "type": "integer",
              "format": "int64",
              "default": 10
            }
          },
          {
            "name": "startAt",
            "in": "query",
            "description": "Zero-indexed starting position. Should be a multiple of maxResults.",
            "schema": {
              "maximum": 1000000,
              "minimum": 0,
              "type": "integer",
              "format": "int64",
              "default": 0
            }
          },
          {
            "name": "testDataRowNumber",
            "in": "query",
            "description": "The id of the test data row to retrieve.",
            "schema": {
              "minimum": 0,
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Access-Control-Allow-Headers": {
                "$ref": "#/components/headers/Access-Control-Allow-Headers"
              },
              "Access-Control-Allow-Methods": {
                "$ref": "#/components/headers/Access-Control-Allow-Methods"
              },
              "Access-Control-Allow-Origin": {
                "$ref": "#/components/headers/Access-Control-Allow-Origin"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TestExecutionTestStepsList"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Test Executions"
        ],
        "summary": "Update test steps",
        "description": "Updates the test steps for the given test execution.",
        "operationId": "putTestExecutionTestSteps",
        "parameters": [
          {
            "name": "testExecutionIdOrKey",
            "in": "path",
            "description": "The ID or key of the test execution. Test execution keys are of the format [A-Z]+-E[0-9]+",
            "required": true,
            "schema": {
              "pattern": "([0-9]+)|(.+-E[0-9]+)",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Test Steps Update",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TestStepsUpdate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Access-Control-Allow-Headers": {
                "$ref": "#/components/headers/Access-Control-Allow-Headers"
              },
              "Access-Control-Allow-Methods": {
                "$ref": "#/components/headers/Access-Control-Allow-Methods"
              },
              "Access-Control-Allow-Origin": {
                "$ref": "#/components/headers/Access-Control-Allow-Origin"
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TestResultNotFoundOrUserAccessError"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TestExecutionImmutableError"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Content",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/TestStepNumberMismatchUnprocessableError"
                    },
[...]
